
.optionset label {
	position: relative;
	top: -5px;
}

ul.survey-steps {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

ul.survey-steps li {
	border: 1px solid #DDDDDD;
	display: block;
	float: left;
	margin: 0px;
	margin-right: -1px;
	margin-bottom: 20px;
}

ul.survey-steps li a {
	padding: 10px;
	display: block;
}


ul.survey-steps li a.current {
	font-weight: bold;
}

ul.survey-steps li a.future {
	background-color: #F2F0F4;
	color: #7E7E7E;
}

form hr {
	margin-top: 15px;
	margin-bottom: 20px;
}

ul.optionset {
	padding-left: 0px;
}

ul.optionset li {
	list-style: none;
}

ul.optionset li label {
	font-weight: normal;
}

.field {
	margin-bottom: 15px;
}

div.deployment {
	border: 1px solid #DDDDDD;
	background: url(/themes/openstack/images/user-survey/cloud.png) no-repeat 5px 10px;
	margin-top: -1px;
}

div.deployment a.deployment-name {
	display: inline-block;
	margin: 10px;
	margin-left: 30px;
}

div#user, div#time, div#private {
	border: 2px solid #CCCCCC;
	padding: 15px;
	padding-top: 100px;
	min-height: 13em;
	margin-bottom: 20px;
}

div#user {
	background: url(/themes/openstack/images/user-survey/user-survey.gif) no-repeat center 20px;
}

div#time {
	background: url(/themes/openstack/images/user-survey/stopwatch.gif) no-repeat center 20px;
}

div#private {
	background: url(/themes/openstack/images/user-survey/private.gif) no-repeat center 20px;
}

div.current-user {
	text-align: right;
}

input[type="radio"], input[type="checkbox"] {
   margin-top:0px !important;
}

label.left{
    font-weight: normal !important;
}

.chosen-choices .search-field input{
    box-sizing: content-box !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url("../../themes/openstack/css/chosen-sprite.png") no-repeat scroll -48px 1px rgba(0, 0, 0, 0) !important;
}

label.error{
    color: red;
    font-style: italic;
}

input.error{
    border: solid 1px red;
}

textarea.error{
    border: solid 1px red;
}

select.error{
    border: solid 1px red;
}

.answer_option {
	cursor: pointer;
	list-style: circle;
}

.placeholder{
	border-radius: 4px;
	border: 1px solid #d3d3d3;
	color: #555555;
	background-color: #d3d3d3;
	height: 50px;
}

.ui-sortable-handle {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 45px;
	padding-top:6px;
	width: 99%;
}

.handle { cursor:move; }

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

ol.ui-sortable li span { position: absolute; margin-left: -1.3em; margin-top: 4px }

ol.ui-sortable li {
	padding-left: 25px;
	font-size: 1.2em;
	padding-top: 10px !important;
	text-align: left;
	vertical-align: middle;
}


#catalog{
	margin-bottom: 1em !important;
}


/*Wes Adjustments - Need to move*/
.answer_option {
    background: #edf2f7;
    border: none;
    margin: 5px 0;
    padding: 0;
    border-radius: 4px;
    list-style: none;
    display: table-row;
    width: 100%;
    border: 1px solid #D4DCE5;
}
table.your-thoughts-table {
    width: 100%;
}
table.your-thoughts-table td {
    border: 1px solid #D4DCE5;
    padding: 10px 30px;
    vertical-align: middle;
    height: 50px;
}
table.your-thoughts-table tr {
    margin-bottom: 10px;
}
table.your-thoughts-table tr.spacer {
    height: 10px;
}
table.your-thoughts-table tr.spacer td {
    border: none;
}
td.rank-wrapper {
    width: 100px;
    text-align: center;
    border-right: 1px solid #D4DCE5;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1;
}
td.rank-text {
    text-align: left;
}
td.rank-text:hover {
    cursor: pointer;
    background: #edf2f7;
}
ul#answers {
    margin: 40px 0 30px 0;
    padding: 0;
    display: table;
}

ul#DeploymentSurveyYourThoughtsForm_Form_InformationSources li label {
    margin-top: 0;
}

div#user, div#time, div#private {
border: 1px solid #D4DCE5;
padding: 15px;
padding-top: 100px;
min-height: 13em;
margin-bottom: 20px;
border-radius: 4px;
text-align: center;
}

fieldset.fake {
    border: 1px solid #CCCCCC;
    padding: 20px 17px 20px 17px;
    margin: 0 0 20px 0; 
}
.survey-login-wrapper {
border: 1px solid #D4DCE5;
padding: 20px 17px 20px 17px;
margin-bottom: 20px;
border-radius: 4px;
background: white;
}
.survey-login-wrapper fieldset {
    border: none;
    padding: 0;
}
.survey-login-wrapper fieldset label {
    padding-top: 0;
    color: #a9a9a9;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    text-align: left;
}
.survey-login-wrapper fieldset input[type="password"], .survey-login-wrapper fieldset input[type="text"] {
  border: 2px solid #D4DCE5;
  box-shadow: none;
  color: #2A4E68;
  font-size: 1.1em;
  border-radius: 4px;
  width: 100%;
  padding: 10px; 
}
.survey-login-wrapper fieldset input[type="password"]:focus, .survey-login-wrapper fieldset input[type="text"]:focus {
    outline: none;
}
input#MemberLoginForm_LoginForm_action_dologin, input#DeploymentSurveyRegistrationForm_RegisterForm_action_StartSurvey {
    display: block;
    background: #30739C;
    padding: 10px 20px;
    border: none;
    text-shadow: none;
    border-radius: 4px;
    margin: 10px 0;
    color: white !important;
    font-weight: 600;
    box-shadow: none;
}
input#MemberLoginForm_LoginForm_action_dologin:hover, input#DeploymentSurveyRegistrationForm_RegisterForm_action_StartSurvey:hover {
    background: #2A4E68;
}
ul.survey-steps li {
    margin-bottom: -1px;
}
ul.survey-steps li a.future:hover {
    cursor: default;
    text-decoration: none;
}
input.action, input.action:focus, input.action:active {
    display: block;
    outline: none;
    background: #30739C;
    padding: 10px 20px;
    border: none;
    text-shadow: none;
    border-radius: 4px;
    margin: 10px 0;
    color: white !important;
    font-weight: 600;
    box-shadow: none;
}
input.action:hover {
    background: #2A4E68;
}
ul.checkboxset input[type="checkbox"] {
    margin: 0 10px 0 0;
    display: inline-block;
    border: 2px solid #D4DCE5;
    box-shadow: none;
    color: #2A4E68;
    font-size: 1.1em;
    border-radius: 4px;
    padding: 10px; 
}
.optionset label {
    top: 0;
}
ul#answers {
    width: 100%;
    float: left;
}
.ui-widget-content {
    border: none !important;
    background: #ffffff !important;
    border-radius: 4px !important;
}
.ui-widget-content ol li.ui-sortable-handle.placeholder {
    border: none !important;
    color: #555555 !important;
    height: 50px !important;
    background: transparent !important;
    text-align: center !important;
    margin: 0 !important;
}
ol.ui-droppable, .ui-state-default {
    border: 2px dashed #D4DCE5;
    background: white;
    font-weight: normal;
    color: #555555;
    padding: 30px;
}
.ui-state-default {
    border: 2px dashed #30739C !important;
    background: #f9f9f9 !important;
    padding: 10px;
    margin: 0;
}
ol.ui-sortable li {
    position: relative;
    font-size: 1em;
    padding: 20px 40px !important;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #D4DCE5 !important;
    border-radius: 4px;
    background: #edf2f7 !important;
    list-style: none;
    margin-bottom: 10px;
}
ol.ui-sortable li:last-child {
    margin-bottom: 0;
}
.ui-sortable-handle {
    height: auto;
    cursor: grab;
}
.ui-state-default a.remove_answer {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
    background: #C0C5C9;
    padding: 3px 4px;
    line-height: 1;
    border-radius: 4px;
    color: white;
    font-size: 0.8em;
    font-weight: 700;
    display: block;
}
.ui-state-default a.remove_answer:hover {
    background: #A51B1B;
    color: white;
}
.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_888888_256x240.png); 
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 25px;
    cursor: move;
}
textarea {
    min-width: 450px;
}
a.blue-button, a.roundedButton {
    display: inline-block;
    outline: none;
    background: #30739C;
    padding: 10px 20px;
    border: none;
    text-shadow: none;
    border-radius: 4px;
    margin: 10px 0;
    color: white !important;
    font-weight: 600;
    box-shadow: none;
}
a.blue-button:hover, a.roundedButton:hover, a.roundedButton:active {
    background: #2A4E68;
    text-decoration: none;
    padding: 10px 20px;
}
a.cancel, a.cancel:hover, a.cancel:active, a.cancel:focus {
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: underline !important;
    padding: 0;
    margin: 0;
    outline: none;
}
.survey-top {
    margin-bottom: 20px;
}
div.deployment {
    background: #edf2f7 url(/themes/openstack/images/user-survey/cloud.png) no-repeat 20px center;
    margin-top: -1px;
    border-radius: 4px;
    border: 1px solid #D4DCE5;
    padding: 10px 20px;
}

#business_drivers_other_text{
    width:75%;
}