$error-color: #aa2222;

label.error
{
  border: 1px solid #aaa;
  background: $error-color;
  color: #fff;
  padding: 5px;
  margin: 0;
  -webkit-border-radius: 05px;
  -moz-border-radius: 05px;
  border-radius: 05px;
}

input.error{
  border: 1px solid  $error-color;
}

.membership-level-container{
  margin-top: 1em;
  margin-bottom: 1em;
}

form{
  margin-top: 1em;
  margin-bottom: 1em;
}