body, html {
  width: 100%;
  height: 100%;
  position: relative; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -300px;
  right: 0; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2A4E68; }

h1 {
  color: #2A4E68;
  font-size: 34px;
  font-weight: 300;
  margin: 60px 0;
  text-align: center; }

h2 {
  color: #2A4E68;
  font-weight: 300;
  margin-bottom: 25px;
  text-align: left; }

h3 {
  color: #2A4E68; }

h5 {
  color: #cf3427;
  margin-bottom: 0; }

a, a:visited {
  color: #29abe2; }

.center {
  text-align: center; }

/*Summit Landing*/
body.summit-landing-body {
  background: #040508; }

.summit-landing-wrapper {
  background: url('/summit/images/landing-hero-bkgd.jpg') no-repeat left top;
  min-height: 610px;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #243440; }

.summit-landing-logo {
  margin: 145px 0 20px; }

.summit-landing-wrapper p {
  color: #29abe2;
  font-weight: 300;
  max-width: 305px; }

.countdown {
  margin: 50px 5px 10px;
  display: table; }

.countdown span {
  display: table-cell;
  height: 60px;
  width: 35px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid #2a4d67;
  margin: 0;
  color: white;
  font-size: 25px;
  line-height: 1; }

.countdown span:first-child {
  border-right: 0;
  margin-right: -4px; }

.countdown span:last-child {
  border-left: 0;
  margin-left: -4px; }

.countdown-text {
  color: #777;
  font-size: 1.12em;
  text-transform: uppercase;
  margin: 10px 0 30px; }

.landing-action {
  display: block;
  margin-top: 20px; }

a.register-btn-lrg, .register-btn-lrg {
  border-radius: 2px;
  background: #cf3427;
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  padding: 12px 30px; 
  margin: 10px;
}
  a.register-btn-lrg:hover, .register-btn-lrg:hover {
    background: #A51B1B;
    color: white; }
  a.register-btn-lrg:focus, .register-btn-lrg:focus {
    outline: none;
    color: white; }
  a.register-btn-lrg.contract {
    background: #2A4E68;
  }
  a.register-btn-lrg.contract:hover {
    background: #0C1722;
  }

a.register-btn-lrg i, .register-btn-lrg i {
  margin-left: 20px; }

.summit-landing-bottom {
  padding-bottom: 80px; }

.summit-row {
  margin-top: 50px;
  text-align: center;
  position: relative; }

.summit-row h2 {
  text-align: center;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%; }

.summit-row h3 {
  color: white;
  font-size: 1.5em;
  width: 100%; }

.summit-row h4 {
  color: #adadad;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300;
  width: 100%; }

.summit-row .register-btn-lrg {
  width: 270px;
  height: 35px;
  padding: 0;
  line-height: 2em; }

a.single-summit {
  height: 225px;
  padding-top: 53px;
  background-size: cover;
  overflow: hidden;
  display: block;
  position: relative; }

a.single-summit:hover {
  text-decoration: none; }

a.past-summit::after {
  background: url('/summit/images/paris-bkgd.jpg') no-repeat center center;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

a.current-summit {
  padding-top: 10px; }

a.current-summit::after {
  background: url('/summit/images/vancouver-bkgd.jpg') no-repeat center center;
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

a.current-summit:hover:after {
  opacity: 1; }

a.future-summit::after {
  background: url('/summit/images/tokyo-bkgd.jpg') no-repeat center center;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

a.past-summit:hover:after, a.future-summit:hover:after {
  opacity: 0.5; }

@media (max-width: 767px) {
  a.single-summit::after {
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%; }
  .small-single-summit {
    width: 50%;
    margin-top: 30px;
    float: left; }
  .small-single-summit a.single-summit {
    width: 100%;
    max-height: 150px;
    padding-top: 20px; }
  .small-single-summit a.single-summit::after {
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; } }

.single-summit-date {
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #666;
  position: relative; }

.single-summit-date.current {
  color: #cf3427; }

.single-summit-date.future {
  color: #29abe2; }

.date-circle {
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: 50%;
  margin-left: -10px;
  margin-bottom: 50px;
  background-color: #040508;
  border: 2px solid #666;
  height: 20px;
  width: 20px;
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px; }

.single-summit-date.current .date-circle {
  border-color: #cf3427; }

@media (max-width: 767px) {
  .single-summit-date.current {
    margin-bottom: 30px; }
  .single-summit-date.current .date-circle {
    display: none; } }

.single-summit-date.future .date-circle {
  border-color: #29abe2; }

.summit-landing-bottom hr {
  border-color: #243440;
  z-index: 1;
  margin-top: 28px; }

/*End Summit Landing*/
/*Summit Inner Layout*/
.summit-hero-wrapper {
  background: url('/summit/images/summit-vancouver-bkgd.jpg') no-repeat center bottom;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden; }

.summit-hero-wrapper.condensed {
  background: #0F1321; }

.summit-hero-wrapper h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5em;
  margin: 0; }

.summit-hero-wrapper.condensed h1, .summit-hero-wrapper.condensed h2 {
  display: none; }

.summit-hero-wrapper h2 {
  color: white;
  text-align: center;
  margin-bottom: 5px; }

.summit-hero-wrapper .landing-action {
  text-align: center;
  margin-top: 90px; }

.summit-hero-wrapper.condensed .landing-action {
  float: right;
  margin-top: 25px; }

@media (max-width: 980px) {
  .summit-hero-wrapper.condensed .landing-action {
    display: none; } }

.summit-hero-wrapper .landing-action .register-btn-lrg {
  width: 270px;
  padding: 10px;
  margin: 0; }
  .summit-hero-wrapper .landing-action .register-btn-lrg.inactive {
    width: 325px; }
    .summit-hero-wrapper .landing-action .register-btn-lrg.inactive:hover {
      cursor: default;
      background: #cf3427; }

.summit-hero-wrapper.condensed .register-btn-lrg {
  width: 130px; }

.inner-countdown-wrapper {
  position: absolute;
  top: 30px;
  left: 0;
  text-align: center; }

@media (max-width: 767px) {
  .inner-countdown-wrapper {
    display: none; } }

.inner-countdown-wrapper .countdown {
  display: table;
  margin: 0 auto; }

.summit-hero-wrapper.condensed .inner-countdown-wrapper {
  top: 20px; }

.summit-hero-wrapper.condensed .inner-countdown-wrapper .countdown span {
  display: table-cell;
  height: 40px;
  width: 30px;
  border: 2px solid #eee;
  color: white;
  font-size: 20px;
  line-height: 1; }

.summit-hero-wrapper.condensed .inner-countdown-wrapper .countdown span:first-child {
  border-right: 0;
  margin-right: -4px; }

.summit-hero-wrapper.condensed .inner-countdown-wrapper .countdown span:last-child {
  border-left: 0;
  margin-left: -4px; }

.inner-countdown-wrapper .countdown-text {
  color: white;
  font-size: 1em; }

.summit-hero-wrapper.condensed .inner-countdown-wrapper .countdown-text {
  font-size: 0.8em;
  color: #888;
  margin: 10px 0 0; }

.summit-hero-logo {
  margin: 80px auto 70px;
  width: 150px; }

.summit-hero-wrapper.condensed .summit-hero-logo {
  margin: 20px 0 0 100px; }

@media (max-width: 980px) {
  .summit-hero-wrapper.condensed .summit-hero-logo {
    margin: 20px 0 30px; } }

@media (max-width: 767px) {
  .summit-hero-wrapper.condensed .summit-hero-logo {
    float: left; } }

.hero-tab-wrapper {
  margin: 130px auto 0; }

.summit-hero-wrapper.condensed .hero-tab-wrapper {
  margin: 30px auto 0; }

@media (max-width: 980px) {
  .landing-action {
    margin-bottom: 50px; }
  .hero-tab-wrapper {
    display: none; } }

/*End Summit Inner Layout*/
/*Hero Tabs and Navigation*/
.hero-tab-wrapper ul.nav-tabs {
  text-align: center;
  width: 100%; }

.hero-tab-wrapper .nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
  margin: 0 0 0 -4px;
  border-radius: 0; }
  .hero-tab-wrapper .nav-tabs > li a {
    width: 100%;
    padding: 15px 25px;
    border-width: 0 1px 0 0;
    border-right: 1px solid rgba(113, 204, 254, 0.2);
    color: #71CCFE;
    display: inline-block;
    margin: 0; }
  .hero-tab-wrapper .nav-tabs > li > a {
    margin-right: 0;
    border-width: 0 1px 0 0;
    border-radius: 0; }
  .hero-tab-wrapper .nav-tabs > li:first-child a {
    border-left: 1px solid rgba(113, 204, 254, 0.2); }

.hero-tab-wrapper .nav-tabs > li.current, .hero-tab-wrapper .nav-tabs > li.current:hover {
  background: white; }

.hero-tab-wrapper .nav-tabs > li.current a, .hero-tab-wrapper .nav-tabs > li.current a:hover {
  color: #2a4d67;
  font-weight: 600;
  border-color: white;
  background: white; }

.hero-tab-wrapper .nav-tabs {
  text-align: center;
  border-bottom: 0;
  background-color: rgba(34, 91, 160, 0.3); }

.hero-tab-wrapper .nav-tabs > li > a:hover, .hero-tab-wrapper .nav-tabs > li > a:focus {
  background: none;
  border-color: transparent;
  background: rgba(37, 153, 219, 0.2);
  color: white; }

i.collapse-nav {
  color: #4279B0;
  position: absolute;
  right: 5%;
  top: 30px;
  display: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

@media (max-width: 980px) {
  i.collapse-nav {
    display: block; } }

/*End Hero Tabs and Navigation*/
/*Responsive mobile menu classes*/
.main-body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.openNav .main-body {
  right: 50%;
  left: -50%; }

.sidebar-nav {
  background: #222831;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.openNav .sidebar-nav {
  right: 0; }

@media (min-width: 981px) {
  .openNav .sidebar-nav {
    right: -50%; }
  .openNav .main-body {
    right: 0;
    left: 0; } }

@media (max-width: 767px) {
  .sidebar-nav {
    width: 70%;
    right: -70%; }
  .openNav .main-body {
    right: 70%;
    left: -70%; } }

ul.sidebar-menu {
  margin-top: 30px;
  padding: 0;
  width: 100%; }

.sidebar-nav .nav-tabs {
  border-bottom: none; }

.sidebar-nav .nav-tabs > li > a:hover {
  border-color: transparent; }

.sidebar-nav ul.sidebar-menu li {
  list-style-type: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  text-align: left; }

.sidebar-nav ul.sidebar-menu li a {
  color: #72808F;
  width: 100%;
  display: block;
  padding: 10px 10%; }

.sidebar-nav ul.sidebar-menu li a:hover, .sidebar-nav ul.sidebar-menu li a:focus, .sidebar-nav ul.sidebar-menu li.current a, .sidebar-nav ul.sidebar-menu li.current a:hover, .sidebar-nav ul.sidebar-menu li.current a:focus {
  background: #171D23;
  text-decoration: none; }

.sidebar-nav .register-btn-lrg {
  margin-left: 10%;
  width: 80%;
  font-size: 1em;
  padding: 10px;
  height: 40px; }
  .sidebar-nav .register-btn-lrg.inactive:hover {
    cursor: default; }

/*End Responsive mobile menu classes*/
/*Footer*/
#push {
  height: 300px; }

footer {
  background: #040508;
  padding: 70px 0;
  height: 300px;
  margin-top: 60px; }

@media (max-width: 767px) {
  /*    #push {
        display: none;
    }*/
  footer {
    height: auto; } }

.footer-links h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 400; }

.footer-links ul {
  margin-left: 0;
  padding-start: 0;
  padding: 0;
  -webkit-padding-start: 0; }

.footer-links ul li {
  list-style: none; }

.footer-links ul li a {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  margin-left: 0; }

.social-icons {
  width: 40px;
  min-height: 40px;
  display: inline-block;
  margin-right: 10px; }

.footer-twitter {
  background: url('/summit/images/footer-twitter.png') no-repeat; }

.footer-twitter:hover {
  background: url('/summit/images/footer-twitter-hover.png') no-repeat; }

.footer-facebook {
  background: url('/summit/images/footer-facebook.png') no-repeat; }

.footer-facebook:hover {
  background: url('/summit/images/footer-facebook-hover.png') no-repeat; }

.footer-linkedin {
  background: url('/summit/images/footer-linkedin.png') no-repeat; }

.footer-linkedin:hover {
  background: url('/summit/images/footer-linkedin-hover.png') no-repeat; }

.footer-youtube {
  background: url('/summit/images/footer-youtube.png') no-repeat; }

.footer-youtube:hover {
  background: url('/summit/images/footer-youtube-hover.png') no-repeat; }

.newsletter-form {
  margin: 10px 0 30px;
  width: 100%; }

.newsletter-form label {
  color: #aaa;
  font-size: 12px;
  font-weight: 300;
  display: block; }

.newsletter-input {
  display: inline-block;
  background: transparent;
  border: 2px solid #888;
  border-radius: 4px;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  width: 70%; }

@media (max-width: 767px) {
  .newsletter-input {
    width: 70%; } }

.newsletter-input::-webkit-input-placeholder {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.newsletter-input:-moz-placeholder {
  /* Firefox 18- */
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.newsletter-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.newsletter-input:-ms-input-placeholder {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase; }

.newsletter-input:focus {
  outline: none;
  border: 2px solid #666; }

.newsletter-btn {
  margin-left: 1%;
  display: inline-block;
  background: transparent;
  border: 2px solid #30739C;
  border-radius: 4px;
  color: #30739C;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 27%; }

@media (max-width: 767px) {
  .newsletter-btn {
    width: 18%;
    margin-left: 2%;
    padding: 10px; } }

.newsletter-btn:hover {
  border: 2px solid #888;
  color: #999; }

.fine-print {
  margin-top: 20px;
  color: #aaa;
  font-size: 12px; }

.fine-print a {
  color: #aaa;
  text-decoration: underline; }

.fine-print a:hover {
  color: #fff; }

.footer-bottom {
  background: #222;
  padding: 15px 0;
  text-align: center;
  width: 100%; }

.feedback-input {
  display: inline-block;
  background: #222;
  border: 2px solid #444;
  border-radius: 4px;
  color: #777;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  width: 310px; }

@media (max-width: 767px) {
  .feedback-input {
    width: 70%; } }

.feedback-input::-webkit-input-placeholder {
  color: #555;
  font-size: 12px;
  font-weight: 400; }

.feedback-input:-moz-placeholder {
  /* Firefox 18- */
  color: #555;
  font-size: 12px;
  font-weight: 400; }

.feedback-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #555;
  font-size: 12px;
  font-weight: 400; }

.feedback-input:-ms-input-placeholder {
  color: #555;
  font-size: 12px;
  font-weight: 400; }

.feedback-input:focus {
  outline: none;
  border: 2px solid #666; }

.feedback-btn {
  margin-left: 11px;
  display: inline-block;
  background: #222;
  border: 2px solid #666;
  border-radius: 4px;
  color: #777;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px; }

@media (max-width: 767px) {
  .feedback-btn {
    width: 18%;
    margin-left: 2%;
    padding: 10px; } }

.feedback-btn:hover {
  border: 2px solid #888;
  color: #999; }

/*End Footer*/
/*General Inner Page Styles*/
.white {
  width: 100%;
  padding: 90px 0;
  background: white; }

.light {
  width: 100%;
  padding: 90px 0;
  background: #edf2f7; }

.blue {
  width: 100%;
  background: #30739C;
  color: white; }

/*End General Inner Page Styles*/
/*About The Summit Page*/
.about-summit {
  text-align: left;
  padding-top: 0px; }

.about-summit blockquote {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.4em;
  border: none;
  position: relative;
  text-align: center;
  margin-bottom: 0; }

.about-summit blockquote:before, .about-summit blockquote:after {
  color: #edf2f7;
  font-size: 5em;
  position: absolute;
  top: -30px; }

.about-summit blockquote:before {
  content: open-quote;
  left: 0px; }

.about-summit blockquote:after {
  content: close-quote;
  right: 0px; }

@media (max-width: 995px) {
  .about-summit blockquote:before {
    left: -30px; }
  .about-summit blockquote:after {
    right: -30px; } }

@media (max-width: 767px) {
  .about-summit blockquote:before {
    top: -50px;
    left: 0px; }
  .about-summit blockquote:after {
    right: 0px;
    top: 20px; } }

.about-summit .testimonial-attribute {
  font-family: Georgia, serif;
  text-align: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #edf2f7;
  margin-bottom: 60px; }

.about-summit-action .button {
  text-align: center; }

@media (max-width: 767px) {
  .about-summit-action {
    text-align: center; } }

.about-video-wrapper {
  text-align: center; }

.about-summit iframe {
  margin-top: 30px;
  max-width: 100%; }

@media (max-width: 990px) {
  .about-summit iframe {
    max-width: 100% !important;
    margin-bottom: 40px; } }

.about-summit .register-btn-lrg {
  margin-top: 5px;
  width: 210px;
  max-width: 100%;
  text-align: center;
  border-radius: 4px; }

@media (min-width: 768px) and (max-width: 980px) {
  .about-summit .register-btn-lrg {
    padding: 12px 10px; } }

@media (max-width: 767px) {
  .about-summit .register-btn-lrg {
    margin-bottom: 20px; } }

.two-summits {
  text-align: center; }

.two-summits h1 {
  margin-top: 0; }

.two-summits p {
  font-size: 1em;
  color: #213c55; }

.two-summits hr {
  border-color: #ced8e2;
  width: 50%;
  margin: 60px auto; }

.design-info-img {
  margin-top: 20px; }

.summit-types {
  margin-top: 60px; }

.summit-types h3 {
  font-weight: 300; }

.sub-h3 {
  margin: -5px 0 40px;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  color: #a7b2bc; }

a.blue-btn {
  margin-top: 30px;
  background: #30739C;
  padding: 15px 0;
  width: 250px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase; }

a.blue-btn:hover {
  background: #2A4E68;
  color: white; }

.testimonial-row {
  padding: 90px 0;
  text-align: center; }

.testimonial-author-img {
  margin: 0 0 30px;
  border: 4px solid #edf2f7;
  border-radius: 100px; }

.testimonial-row blockquote {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.4em;
  border: none;
  position: relative; }

.testimonial-row blockquote:before, .testimonial-row blockquote:after {
  color: #edf2f7;
  font-size: 5em;
  position: absolute;
  top: -30px; }

.testimonial-row blockquote:before {
  content: open-quote;
  left: -30px; }

.testimonial-row blockquote:after {
  content: close-quote;
  right: -30px; }

@media (max-width: 767px) {
  .testimonial-row blockquote:before {
    top: -50px;
    left: 0px; }
  .testimonial-row blockquote:after {
    right: 0px;
    top: 20px; } }

.testimonial-attribute {
  font-family: Georgia, serif; }

.testimonial-attribute img {
  margin: 5px 0; }

.schedule-row {
  padding: 90px 0;
  text-align: center; }

.schedule-row h1 {
  color: white;
  margin-top: 0; }

a.outline-btn {
  width: 100%;
  max-width: 220px;
  padding: 10px 0;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  color: #213c55; }
  a.outline-btn.inactive:hover {
    cursor: default; }

.schedule-row a.outline-btn {
  margin-top: 30px;
  color: white; }

.growth {
  background: url('/summit/images/growth-bkgd.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 90px 0;
  width: 100%; }

.growth h2 {
  color: white; }

.growth p {
  color: #666; }

.growth a {
  color: white;
  text-decoration: underline; }

.growth-text-top {
  width: 40%;
  float: left; }

.growth-chart {
  float: left;
  max-width: 100%;
  margin-left: -20%; }

.growth-text-bottom {
  width: 40%;
  float: right;
  margin-top: -9em; }

@media (max-width: 1200px) {
  .growth-text-top {
    width: 50%; }
  .growth-chart {
    margin-left: 0;
    margin-top: -5em; }
  .growth-text-bottom {
    width: 50%;
    margin-top: -1em; } }

@media (max-width: 767px) {
  .growth-text-top {
    width: 100%; }
  .growth-chart {
    margin-left: 0;
    margin-top: 0; }
  .growth-text-bottom {
    width: 100%;
    margin-top: 20px; } }

.networking-row {
  text-align: center; }

#registrationModal strong {
  font-weight: 600;
  color: #2A4E68; }
#registrationModal img.summit-modal-logo {
  max-width: 100%;
  margin-bottom: 40px; }

/*Photo Row*/
.photo-row-wrapper {
  width: 100%;
  color: #eee;
  max-height: 240px;
  margin-bottom: 10px;
  overflow: hidden;
  margin: -30px 0 -45px; }

.photo-container {
  width: 4000px;
  max-height: 240px;
  margin-left: -30px; }

.photo-container img {
  margin: 0 10px 0 0;
  max-width: 22%;
  max-height: 240px; }

/*End Photo Row*/
/*End About The Summit Page*/
/* Presentation App */
.presentation-app-header {
  border-bottom: 1px solid #CCCCCC; }
  .presentation-app-header h2 {
    text-align: left;
    margin: 20px 0px 5px 0px;
    font-size: 170%; }
  .presentation-app-header .status {
    text-transform: uppercase;
    padding-bottom: 10px; }

.presentation-app-body {
  background-color: #F6F7F9; }

.presentation-app-login-panel {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #CCCCCC; }

/* End Presentation App */
/*Info and News Page*/
a.pass-timeline-wrapper {
  text-align: center;
  display: block; }
  a.pass-timeline-wrapper:focus {
    outline: 0; }

img.pass-timeline {
  max-width: 350px;
  border: 3px solid #edf2f7;
  padding: 20px;
  margin: 10px auto; }
  img.pass-timeline:hover {
    border-color: #29abe2; }

img.pass-timeline-large {
  max-width: 100%; }

#passModal {
  max-width: 100%; }
  #passModal p {
    text-align: center;
    font-size: 1em;
    font-weight: 400; }
  #passModal .modal-contact-btn {
    max-width: 300px;
    margin-top: 60px; }

.info-promo {
  margin: 60px 0;
  padding: 43px 30px;
  background: url('/summit/images/info-promo-bkgd.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 143px;
  color: white; }

.info-promo a {
  color: white; }

.info-promo-left {
  float: left;
  height: 100%;
  width: 50%; }

.info-promo-right {
  float: right;
  height: 100%;
  width: 50%;
  margin-top: -10px;
  font-size: 0.9em; }

.promo-5 {
  float: left;
  font-size: 6em;
  font-weight: 700;
  padding-right: 10px;
  text-align: center;
  line-height: 0.6em; }

.promo-top {
  float: left;
  width: 85%;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase; }

.promo-bottom {
  float: left;
  width: 85%;
  text-align: left;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 5px; }

.right-promo-bottom {
  padding-top: 12px; }

.right-promo-bottom a {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600; }

.right-promo-bottom a i {
  margin-left: 10px; }

@media (max-width: 1200px) {
  .info-promo-left {
    width: 60%; }
  .info-promo-right {
    width: 40%; } }

@media (max-width: 990px) {
  .info-promo-left {
    width: 100%;
    height: 50%;
    margin-bottom: 15px; }
  .info-promo-right {
    width: 100%; }
  .info-promo {
    padding: 30px;
    height: 200px; }
  .promo-5 {
    text-align: left; } }

@media (max-width: 767px) {
  .promo-bottom {
    font-size: 2em; } }

h5.section-title {
  color: #2A4E68;
  font-weight: 600;
  text-transform: capitalize;
  border-bottom: 1px solid #dae5ee;
  padding-bottom: 20px;
  margin-bottom: 30px; }

ul.help-me-menu {
  padding: 0;
  margin: 0; }

ul.help-me-menu li {
  list-style: none; }

ul.help-me-menu li a {
  color: #8a959e;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  width: 100%;
  display: block;
  padding: 15px 10px;
  background: white; }

ul.help-me-menu li a:hover {
  background: #edf2f7;
  color: #30739C;
  text-decoration: none; }

@media (min-width: 768px) and (max-width: 990px) {
  ul.help-me-menu li a {
    padding: 15px 10px;
    font-size: 0.8em; } }

ul.help-me-menu li a i {
  margin-right: 15px;
  font-size: 1.5em; }

.schedule-square {
  background: #29abe2;
  color: white;
  padding: 30px;
  margin-top: 30px; }

.schedule-square h3 {
  color: white;
  margin: 0 0 20px;
  font-weight: 400; }

.schedule-square h3 i {
  margin-right: 15px; }

.schedule-square a.outline-btn {
  color: white;
  margin: 25px auto 10px;
  display: block; }

@media (max-width: 990px) {
  .schedule-square a.outline-btn {
    width: 100%;
    font-size: 1em; } }

@media (max-width: 767px) {
  .schedule-square a.outline-btn {
    width: 60%;
    font-size: 1em; } }

.about-city-row {
  background: url('/summit/images/vancouver-bkgd-orange.jpg') no-repeat left top;
  min-height: 610px;
  background-size: cover;
  position: relative;
  margin: 0 0 -60px;
  text-align: center;
  padding: 170px 0;
  color: white;
  position: relative; }

.about-city-row h1 {
  margin-top: 0; }

a.photo-credit {
  position: absolute;
  bottom: 70px;
  right: 30px;
  color: #fff;
  opacity: 0.7;
  font-size: 1.3em; }

.summit-hero-wrapper.condensed a.photo-credit {
  display: none; }

.about-city-row p {
  font-weight: 400;
  font-size: 1.3em;
  margin-bottom: 30px; }

.about-city-row h1 {
  color: white;
  font-size: 3em; }

a.orange-btn {
  background: #ff5b08;
  border-radius: 4px;
  padding: 13px 40px;
  color: white;
  margin-top: 50px; }

a.orange-btn:hover {
  color: white;
  background: #CE390B; }

.news-story {
  background: white;
  padding: 3% 5% 5%;
  display: block;
  float: left;
  color: #30739C;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  border: 2px solid #edf2f7; }

.news-story p {
  font-size: 0.9em;
  color: #30739C; }

.news-left {
  width: 30%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left; }

.news-right {
  width: 68%;
  margin-bottom: -3%;
  float: right; }

.news-story.no-pic .news-left {
  display: none; }

.news-story.no-pic .news-right {
  width: 100%; }

.news-story .news-title {
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: 300; }

.news-byline {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: #9eb5c3;
  border-top: 1px solid #dae5ee;
  padding-top: 10px;
  margin-top: 20px; }

.news-byline .posted {
  float: left; }

.news-byline .type {
  float: right; }

.news-byline .type i {
  margin-right: 5px;
  font-size: 1em; }

.timeline-wrapper .section {
  margin-bottom: 40px; }

.timeline-wrapper ul {
  padding: 0;
  margin: 0;
  display: table; }
  .timeline-wrapper ul li {
    list-style: none;
    padding: 10px;
    display: table-row; }
    .timeline-wrapper ul li strong {
      padding: 0 10px 20px 0;
      display: table-cell; }

.dates-section p {
  margin-bottom: 20px; }
.dates-section span {
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  font-style: italic; }
.dates-section .left {
  float: left;
  width: 30%;
  margin-right: 3%;
  font-weight: 700;
  margin-bottom: 30px; }
.dates-section .right {
  float: right;
  width: 67%;
  margin-bottom: 30px; }

.code-of-conduct h5.section-title {
  margin-top: 40px; }

/*End Info and News Page*/
/*About Host City Page*/
.city-intro {
  text-align: center;
  padding-bottom: 50px; }

.city-intro blockquote {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.1em;
  border: none;
  position: relative;
  text-align: center;
  color: #213c55;
  margin: 0 15%; }

.city-intro blockquote:before, .city-intro blockquote:after {
  color: #edf2f7;
  font-size: 5em;
  position: absolute;
  top: -30px; }

.city-intro blockquote:before {
  content: open-quote;
  left: -60px; }

.city-intro blockquote:after {
  content: close-quote;
  right: -50px; }

@media (max-width: 767px) {
  .city-intro blockquote:before {
    top: -40px;
    left: -20px; }
  .city-intro blockquote:after {
    right: -20px;
    top: -40px; } }

.city-intro blockquote strong {
  display: block;
  margin: 0 -15% 40px;
  font-size: 2em;
  font-weight: normal; }

.city-intro .testimonial-attribute {
  text-align: center;
  display: block;
  margin-top: 50px; }

.city-intro .testimonial-attribute p {
  margin-top: 1px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8em; }

.city-nav {
  padding: 0;
  background: #29abe2;
  border-bottom: 1px solid #54617D;
  z-index: 1000; }

ul.city-nav-list {
  padding: 0;
  margin: 0;
  text-align: center; }

ul.city-nav-list li {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin: 0 5%; }

@media (max-width: 767px) {
  ul.city-nav-list li {
    margin: 0 3%; } }

ul.city-nav-list li a {
  color: white;
  padding: 25px 0;
  display: inline-block;
  opacity: 0.8; }

ul.city-nav-list li a:hover {
  text-decoration: none;
  opacity: 1; }

ul.city-nav-list li i {
  display: block;
  margin-bottom: 10px;
  font-size: 2.2em; }

.city-nav.fixed {
  position: fixed;
  top: 0;
  padding: 0;
  background: #29abe2;
  border-bottom-color: #54617D; }

@media (max-width: 1200px) {
  .city-nav.fixed ul.city-nav-list li {
    margin: 0 2%; } }

.city-nav.fixed ul.city-nav-list li a {
  position: relative;
  padding: 20px 0;
  color: white;
  opacity: 0.5; }

.city-nav.fixed ul.city-nav-list li a:hover {
  opacity: 1; }

.city-nav.fixed ul.city-nav-list li a.active {
  color: white;
  opacity: 1; }

.city-nav.fixed ul.city-nav-list li a.active:after, .city-nav.fixed ul.city-nav-list li a.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  opacity: 1; }

.city-nav.fixed ul.city-nav-list li a.active:after {
  border-color: rgba(237, 242, 247, 0);
  border-top-color: #29abe2;
  border-width: 15px;
  margin-left: -15px; }

.city-nav.fixed ul.city-nav-list li a.active:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #54617D;
  border-width: 16px;
  margin-left: -16px; }

@media (max-width: 767px) {
  .city-nav.fixed ul.city-nav-list li a.active:after, .city-nav.fixed ul.city-nav-list li a.active:before {
    display: none; } }

.city-nav.fixed ul.city-nav-list li i {
  display: inline-block;
  margin: 0 5px;
  font-size: 1em; }

.venue-row {
  padding: 140px 0;
  text-align: center;
  color: white;
  background: url('/summit/images/venue-bkgd.jpg') no-repeat left top;
  background-size: cover;
  background-color: #000;
  position: relative;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out; }

.venue-row h1 {
  color: white;
  margin-top: 0; }

.venue-row p {
  font-size: 1.8em; }

.venue-row p strong {
  font-weight: 600;
  display: block; }

.hotels-row {
  padding-top: 0;
  text-align: center; }

.hotels-row h5.section-title {
  margin-top: 40px;
  font-size: 1.8em;
  text-transform: uppercase; }

.hotel-block {
  text-align: center;
  margin: 40px 0 10px; }
  .hotel-block h3 span {
    display: block;
    margin-top: 5px;
    font-size: 0.8em; }

p.sold-out-hotel {
    color: #DA422F;
    font-weight: 700;
    margin-top: 17px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.hotel-block a {
  display: inline-block;
  margin: 10px 12px 0; }

.hotel-block a i {
  margin-right: 5px; }

.venue-map {
  height: 600px; }

.venue-map h5, .venue-map p {
  white-space: nowrap; }

.venue-map h5 span {
  font-size: 0.8em;
  display: block; }

.other-hotel-options {
  margin: 30px 0; }

.other-hotel-options hr {
  border-color: #d4e2ec;
  margin-bottom: 60px; }

.other-hotel-options p {
  margin-bottom: 40px; }

.visa-row h1 {
  margin-top: 0; }

.locals-row {
  padding: 90px 0;
  text-align: center; }

.locals-row h1 {
  margin: 0 0 50px; }

.locals-row .testimonial-author-img {
  margin: 0 0 10px;
  border-radius: 100px;
  max-width: 80px; }

.locals-row blockquote {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.4em;
  border: none;
  position: relative;
  text-align: center;
  margin-bottom: 0; }

.locals-row blockquote:before, .locals-row blockquote:after {
  color: #edf2f7;
  font-size: 5em;
  position: absolute;
  top: -30px; }

.locals-row blockquote:before {
  content: open-quote;
  left: -30px; }

.locals-row blockquote:after {
  content: close-quote;
  right: -30px; }

@media (max-width: 995px) {
  .locals-row blockquote:before {
    left: -30px; }
  .locals-row blockquote:after {
    right: -30px; } }

@media (max-width: 767px) {
  .locals-row blockquote:before {
    top: -50px;
    left: 0px; }
  .locals-row blockquote:after {
    right: 0px;
    top: 20px; } }

.local-place-block img {
  max-width: 250px;
  margin: 10px auto; }

.local-block {
  margin: 20px 0 40px; }

.testimonial-attribute {
  font-family: Georgia, serif; }

.testimonial-attribute img {
  margin: 5px 0; }

#getting-around {
  text-align: center;
  padding: 90px 0 110px; }

#getting-around h1 {
  margin-top: 0;
  color: white; }

.getting-options {
  text-align: center;
  margin: 80px 10% 0;
  width: 80%; }

.getting-around-item {
  display: inline-block;
  width: 10%;
  margin: 0 5%; }
  .getting-around-item:first-child {
    margin-left: 0; }
  .getting-around-item:last-child {
    margin-right: 0; }

@media (max-width: 650px) {
  .getting-options {
    text-align: center;
    margin: 80px 5% 0;
    width: 90%; }
  .getting-around-item {
    width: 20%;
    margin: 0 5% 60px; }
    .getting-around-item:first-child {
      margin-left: 5%; }
    .getting-around-item:last-child {
      margin-right: 5%; } }

.getting-options a {
  color: white; }

.getting-options a:hover {
  text-decoration: none;
  color: #29abe2; }

.getting-options a span {
  font-size: 0.8em;
  font-style: italic;
  display: block; }

.getting-options a i {
  display: block;
  font-size: 2em;
  margin-bottom: 15px; }

i.zipcar-icon {
  font-weight: 700; }

.affix-top {
  top: 0; }

/*End About Host City Page*/
/*FAQ Page*/
.faq-wrapper .section {
  margin-bottom: 80px; }

.faq-wrapper h5.section-title, #results h5 {
  margin-top: 0;
  text-transform: uppercase;
  color: #2A4E68;
  font-weight: 600;
  border-bottom: 1px solid #dae5ee;
  padding-bottom: 20px;
  margin-bottom: 30px; }

p.question, p.checklist-item-title {
  font-weight: 700;
  margin-bottom: 1px; }

p.answer, p.checklist-item-details {
  margin-bottom: 20px; }

p.checklist-item-details {
  color: #8D8D8D; }

#filter-field {
  width: 100%;
  padding: 10px; }

.faq-sidebar {
  padding: 0; }

.faq-sidebar.fixed {
  position: fixed;
  top: 30px;
  display: block; }

@media (min-width: 768px) and (max-width: 1000px) {
  .faq-sidebar.fixed {
    max-width: 160px; } }

@media (max-width: 767px) {
  .faq-sidebar, .faq-sidebar.fixed {
    position: relative;
    padding: 0;
    margin-bottom: 60px;
    border-bottom: 1px solid #edf2f7;
    right: 0; } }

.faq-sidebar .sub-h3 {
  margin-bottom: 10px; }

.sidebar-wrapper {
  margin-bottom: 40px; }

.sidebar-wrapper ul {
  margin: 0;
  padding: 0; }
  .sidebar-wrapper ul li {
    list-style: none; }

a.modal-contact-btn {
  display: block;
  background: #30739C;
  padding: 10px 20px;
  border-radius: 2px;
  max-width: 250px;
  margin: 10px auto 0;
  color: white;
  font-weight: 600; }
  a.modal-contact-btn i {
    margin-right: 10px;
    font-size: 1.2em; }
  a.modal-contact-btn:hover {
    text-decoration: none;
    outline: none;
    background: #2A4E68; }
  a.modal-contact-btn:focus {
    text-decoration: none;
    outline: none;
    background: #2A4E68; }

a.close-modal-btn {
  display: block;
  background: #cf3427;
  padding: 10px 20px;
  border-radius: 2px;
  max-width: 350px;
  margin: 10px auto 0;
  color: #fff;
  font-weight: 600; }
  a.close-modal-btn i {
    margin-left: 20px; }
  a.close-modal-btn:hover {
    text-decoration: none;
    outline: none;
    background: #A51B1B; }
  a.close-modal-btn:focus {
    text-decoration: none;
    outline: none;
    background: #A51B1B; }

.modal-header {
  border-bottom: 0; }

.modal-footer {
  border-top: 0; }

.modal-body {
  padding: 10px 40px; }
  .modal-body hr {
    width: 90%;
    margin: 30px auto 30px; }

#faqModal p, #registrationModal p {
  text-align: center;
  font-size: 1em;
  font-weight: 400; }
#faqModal i.fa-envelope-o, #registrationModal i.fa-envelope-o {
  margin-bottom: 15px;
  color: #999;
  display: block; }

/*End FAQ Page*/
/*Sponsor Page*/
.sponsor-page-wrapper {
  text-align: center; }

.sponsor-wrapper {
  text-align: center;
  padding-bottom: 90px; }
  .sponsor-wrapper h1 {
    margin: 0; }

.sponsor-alert {
  margin-top: 20px;
  text-align: center;
  /*    background: $brightblue;
    color: white;

    a {
        color: $darkblue;
    }*/ }

.sponsor-intro h1 {
  margin: 30px 0 50px; }

.sponsor-wrapper h4, .sponsor-instructions h4 {
  margin-top: 30px; }

.sponsor-wrapper h5.section-title {
  margin-top: 60px; }

.sponsor-intro {
  margin: 0; }

.sponsor-instructions h1 {
  margin-top: 0; }

.sponsor-instructions h1 span {
  display: block;
  font-size: 0.5em;
  font-weight: 300;
  margin-top: 10px; }

.sponsor-wrapper h5.section-title span {
  font-size: 0.8em;
  font-style: italic;
  padding-top: 5px; }

.sponsor-spots {
  margin-bottom: 15px;
  background: white;
  width: 100%;
  text-align: center;
  position: relative;
  color: #2A4E68;
  border-radius: 4px;
  border: 1px solid #30739C; }
  .sponsor-spots h3 {
    padding-top: 30px;
    margin: 0 0 20px;
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 300;
    color: #2A4E68; }
    .sponsor-spots h3 span {
      font-size: 0.7em; }
  .sponsor-spots.sold-out {
    border-color: #cf3427;
    color: #cf3427; }
  .sponsor-spots.sold-out h3 {
    color: #cf3427; }
  .sponsor-spots.sold-out .sponsor-cost {
    background: #cf3427; }
  .sponsor-spots.sold-out .sponsor-count {
    color: #cf3427;
    font-weight: 700; }

.sponsor-cost {
  font-size: 2em;
  background: #30739C;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  color: white; }
  .sponsor-cost span {
    font-size: 0.6em; }

.sponsor-count {
  font-weight: 600;
  font-size: 1em;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400; }

.sponsor-list {
  text-align: center; }

.sponsor-list h1 {
  margin-top: 0; }

.sponsor-list h5.section-title {
  margin: 40px 0 60px; }

.sponsor-logo {
  max-width: 100%;
  margin: 20px 0; }

.sponsor-bkgd {
  margin: 0;
  height: 300px; }
  .sponsor-bkgd.bottom {
    margin: 0 0 -80px;
    /*-80 when sponsor list is removed*/ }

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.sponsor-table {
  background: white;
  text-align: left; }
.sponsor-table tr.sold-out td {
  background: white;
  color: #cf3427;
  position: relative;
}
.sponsor-table tr.sold-out td:first-child {
  padding-left: 30px;
}
.sponsor-table tr.sold-out td:first-child:before {
  position: absolute;
  font-family: FontAwesome;
  top: 50%;
  margin-top: -12px;
  left: 10px;
  content: "\f00d";
  font-size: 1.3em;
}

.package-actions{
    min-height: 30px;
    max-height: 30px;
    margin-bottom: 15px;
}

.fixed-image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%; }

.fixed-image.crowd {
  background-image: url('/summit/images/sponsors-bkgd.jpg'); }

.fixed-image.exhibit {
  background-image: url('/summit/images/sponsor-bkgd-exhibit.jpg'); }

.prospectus-wrapper {
  text-align: center;
  margin-top: 40px; }

.contact-link {
  display: block;
  margin-top: 10px; }

#venue-map h1 {
  margin-top: 0; }

.venue-map-link, .venue-map-download {
  text-align: center; }

.venue-map-link a:hover {
  text-decoration: none; }

.venue-map-link a img {
  border: 4px solid #edf2f7; }

.venue-map-link a:hover img {
  border-color: #29abe2; }

.venue-map-link a p {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600; }

.venue-map-download a p i {
  margin: 50px 5px 0 0; }

#audience h1 {
  margin-top: 0; }
#audience h5.section-title {
  text-align: center; }

.attendees-region {
  text-align: center; }
  .attendees-region h4 {
    margin-bottom: 30px; }

p.audience-intro {
  margin-bottom: 60px;
  text-align: center; }

.stats-highlight {
  text-align: center;
  margin-bottom: 40px; }
  .stats-highlight h3 {
    margin-right: 20px;
    display: inline-block;
    background: #30739C;
    padding: 30px;
    border-radius: 4px;
    color: white; }
    .stats-highlight h3:last-child {
      margin-right: 0; }
    .stats-highlight h3 span {
      display: block;
      font-size: 0.6em;
      font-weight: 400; }

ul.doughnut-legend {
  list-style: none;
  margin: 20px 0 40px;
  padding: 0;
  text-align: center; }
  ul.doughnut-legend li {
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 2px;
    padding: 2px 8px 2px 28px;
    font-size: 14px;
    cursor: default;
    -webkit-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out; }
    ul.doughnut-legend li span {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
      border-radius: 5px; }

/*End Sponsor Page*/
/* Checklist Page */
i.checkbox {
  display: inline-block;
  border: 2px solid #edf2f7;
  height: 20px;
  width: 20px;
  margin-right: 20px; }

/*Tokyo Summit Landing Page*/
.tokyo-landing-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 70px 0;
  background: url('/summit/images/tokyo-bkgd-lrg.jpg') no-repeat 0 0;
  background-size: cover; }

img.tokyo-landing-logo {
  max-width: 200px;
  margin-bottom: 40px; }

.save-the-date {
  color: white;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize; }

.tokyo-landing-wrapper h1 {
  color: white;
  font-weight: 300;
  font-size: 20px;
  margin: 8px 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a.white-link {
  color: white;
}
.tokyo-landing-wrapper p {
  color: white; }

.tokyo-landing-wrapper .summit-location {
  display: block;
  font-weight: 400;
  font-size: 60px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.tokyo-landing-wrapper .summit-location::before {
  content: "";
  border-top: 1px solid #edf2f7;
  width: 150px;
  height: 5px;
  position: absolute;
  margin-right: 15px;
  top: 50%;
  right: 100%; }

.tokyo-landing-wrapper .summit-location::after {
  content: "";
  border-top: 1px solid #edf2f7;
  width: 150px;
  height: 5px;
  position: absolute;
  margin-left: 15px;
  top: 50%;
  left: 100%; }

@media (max-width: 767px) {
  .tokyo-landing-wrapper h1 {
    font-size: 15px; }
  .tokyo-landing-wrapper .summit-location {
    font-size: 40px; }
  .tokyo-landing-wrapper .summit-location::before {
    width: 75px; }
  .tokyo-landing-wrapper .summit-location::after {
    width: 75px; } }

.summit-date {
  background: none;
  font-size: 25px;
  margin-top: 30px;
  color: white; }

.summit-date span {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase; }

.landing-social {
  margin: 40px 0; }

.landing-social .social-icons {
  width: 25px;
  min-height: 25px;
  display: inline-block;
  margin: 0 10px; }

.landing-twitter {
  background: url('/summit/images/landing-twitter.png') no-repeat;
  opacity: 0.8; }

.landing-twitter:hover {
  opacity: 1; }

.landing-facebook {
  background: url('/summit/images/landing-facebook.png') no-repeat;
  opacity: 0.8; }

.landing-facebook:hover {
  opacity: 1; }

.landing-linkedin {
  background: url('/summit/images/landing-linkedin.png') no-repeat;
  opacity: 0.8; }

.landing-linkedin:hover {
  opacity: 1; }

.tokyo-landing-bottom {
  position: absolute;
  bottom: 0;
  left: 50%; }

.tokyo-landing-bottom p {
  color: white; }

.landing-footer {
  position: relative;
  left: -50%; }

.landing-footer a {
  width: 150px;
  padding: 5px 0 0;
  display: inline-block;
  background: #cf3427;
  text-align: center;
  color: white;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.landing-footer a:hover {
  background: #BD2723; }

.landing-footer a img {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100px; }

.tokyo-landing-wrapper a i {
  color: #edf2f7; }

.tokyo-landing-wrapper a i:hover {
  color: white; }

/*End Tokyo Summit Landing Page*/
/* Presentation App */
.presentation-app-header {
  border-bottom: 1px solid #CCCCCC;
  background-color: white; }
  .presentation-app-header h2 {
    text-align: left;
    margin: 20px 0px 5px 0px;
    font-size: 170%; }
  .presentation-app-header .status {
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 20px; }

body.presentation-page {
  background-color: #F6F7F9 !important; }

.presentation-app-body {
  padding-top: 20px;
  background-color: #F6F7F9; }

.presentation-app-login-panel {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #CCCCCC; }

.presentation-main-panel {
  background-color: white;
  padding: 20px;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px; }
  .presentation-main-panel h2 {
    margin-top: 0px; }
  .presentation-main-panel h3 {
    font-size: 100%;
    text-transform: uppercase; }
  .presentation-main-panel form {
    margin-top: 20px; }
  .presentation-main-panel .btn {
    color: white !important; }

.form-actions .btn {
  color: white; }

#BootstrapMemberLoginForm_LoginForm .btn {
  width: 100%; }

.presentation-app-login-panel {
  background-color: white;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #CCCCCC; }

.user-sidebar {
  background-color: white;
  padding: 20px;
  padding-bottom: 0px;
  border: 1px solid #CCCCCC;
  margin-bottom: 20px; }

.user-menu {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.user-menu li a {
  display: block;
  margin: 0px -20px;
  padding: 10px 20px; }
  .user-menu li a:hover, .user-menu li a:active {
    text-decoration: none; }
  .user-menu li a.active {
    background-color: #EDF2F5;
    border-left: 3px solid #259ADA; }

.user-menu .fa {
  float: right;
  padding-top: 1.5%; }

.user-photo {
  margin: -20px;
  margin-bottom: 20px; }
  .user-photo img {
    max-width: 100%; }

.main-panel-section {
  margin-left: -20px;
  margin-right: -20px;
  padding: 0px 20px;
  border-bottom: 1px solid #CCCCCC; }

.main-panel-divider-label {
  margin-left: -20px;
  margin-right: -20px;
  padding: 5px 20px;
  background: #E9EFF3; }

.panel-note {
  padding: 0px 10px;
  border-left: 3px solid #1E99DF;
  margin: 20px 0px; }

.panel-buttons {
  padding-top: 20px; }

.add-presentation-button {
  width: 100%; }

td.item-name {
  padding-left: 20px !important;
  width: 70%; }
  td.item-name .fa {
    padding-right: 7px;
    margin-left: -20px; }

td.action {
  text-align: right; }

.presentation-title, .presentation-status {
  float: left; }

.presentation-title {
  width: 80%; }

.presentation-status {
  width: 20%;
  color: red; }

.presentation-steps {
  max-width: 500px;
  margin: 20px auto; }

.presentation-steps .step {
  width: 50%;
  float: left;
  border: 1px solid #CCCCCC;
  padding: 7px 10px;
  margin-left: -1px;
  text-align: center; }
  .presentation-steps .step:hover, .presentation-steps .step:active, .presentation-steps .step:visited {
    color: black;
    text-decoration: none; }

.presentation-steps .active {
  font-weight: bold;
  background-color: #F6F7F9;
  border-top: 1px solid #A8A8A8;
  border-left: 1px solid #A8A8A8; }

.presentation-app-body .form-actions {
  background-color: #F4F5F8;
  margin: -20px;
  margin-top: 0px;
  padding: 20px; }

.form-actions button {
  background-color: #1763B4; }

.user-img {
  border: 4px solid #edf2f7;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 10px auto;
  background-size: 100%; }

h3.user-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px; }

h4.category-label {
  font-size: 100%;
  margin-top: 3px;
  font-weight: bold; }

/* confirmation screen */
.confirm-block {
  padding-top: 20px;
  padding-bottom: 20px; }

.confirm-item + .confirm-label, .confirm-title + .confirm-label {
  margin-top: 20px; }

.confirm-title {
  font-size: 140%; }

.confirm-label {
  text-transform: uppercase;
  color: #C1C1C1; }

/* end confirmation screen */
/* review presentation */
.review-presentation h3 {
  background-color: #F8F9FD;
  padding: 10px 20px;
  margin: 0px -20px 20px -20px; }

.review-presentation {
  padding-bottom: 40px; }

h3.more-speakers {
  border-bottom: 1px solid #D5D5D5;
  padding-top: 10px;
  padding-bottom: 10px; }

.fa-end {
  border-left: 1px solid white;
  border-left-color: rgba(255, 255, 255, 0.3);
  padding-left: 8px;
  margin-left: 6px; }

.fa-start {
  border-right: 1px solid white;
  border-right-color: rgba(255, 255, 255, 0.3);
  padding-right: 8px;
  margin-right: 6px; }

.bootstrap-tagsinput {
  display: block;
  width: 100%; }

.termbox {
  max-height: 300px;
  overflow-y: scroll;
  padding: 15px;
  border: 1px solid #9FB8CE; }

a.voting-btn {
  display: block;
  background: #29abe2;
  max-width: 300px;
  margin: 30px auto;
  color: white;
  padding: 10px; }

a.voting-btn:hover {
    text-decoration: none;
    background: #30739C; }

body.modal-open {
    overflow: visible;
}

/* autocomplete */

.ui-menu .ui-menu-item a {
    font-size: 12px;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1510 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
.download-prospectus-title {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin: 40px 0 10px;
  padding-top: 30px;
  border-top: 1px solid #aaa;
}
