body,html{height:100%}

@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

.col-main-title
{
    background-color: #132539;
}

.col-main-title h1
{
    color: #FFFFFF;
    font-family: Montserrat, Sans-serif;
    font-size: 42px;
    margin:0px;
    padding-top:40px;
}

.tags-row, .level-row {
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
}

.btn-global-search, .btn-global-search-clear
{
    height: 38px;
}

.input-global-search
{
    height: 38px;
    width: 90%;
}

/* events */

.event-row
{
    font-family: 'Montserrat';
    border: 1px solid #C1C1C1;
    color: #4a4a4a !important;
}

.event-content
{
    height: 100%;
    padding-top: 26px;
    width: 100%;
}

.event-type
{
    width: 5px !important;
    padding: 0 !important;
    position: absolute;
    height: 100%;
    top:0;
}

.col-time
{
    padding-right: 0 !important;
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
}

.col-location {
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
}

.credentials-row
{
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
}

.col-sponsors
{
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
    color: aquamarine;
}

.col-tags-title, .col-speakers-title, .col-level-title
{
    padding-right: 0 !important;
}

.col-tags-content a, .col-speakers-content a, .event-title a, .col-level-content a
{
    color: #4a4a4a !important;
}

.track, .track a
{
    font-family: Montserrat,Sans-serif;
    font-size: 14px;
    color: #D7D7D7;
}

.col-track
{
    padding-top: 0px;
    padding-bottom: 10px;
}

.event-title
{
    font-family: Montserrat,Sans-serif;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.event-details
{
    background-color: #E4E4E4;
    padding: 1em;
    color: #4F4F4F;
    font-family: Helvetica,Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.main-event-content
{
    cursor: pointer;
    min-height:147px !important;
    position: relative;
}

.event-type-col, .event-type-col a
{
    text-transform: uppercase;
    color: #D7D7D7;
    text-align: right;
}

.btn-go-event
{
    background-color: #224066 !important;
    border-color: #224066 !important;
}

.tags-row, .speakers-row, .row-level
{
    padding-bottom: 20px !important;
}


@media all and (min-width: 992px)
{
    .col-tags-title, .col-speakers-title
    {
        width: auto;
    }
}

/* nav bar */

@media all and (min-width: 1400px) {
    .navbar-days .navbar-header
    {
        left: 30%;
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 35%;
        position: absolute;
    }
}

@media all and (min-width: 1027px) and (max-width: 1399px) {
    .navbar-days .navbar-header
    {
        left: 20%;
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 27%;
        position: absolute;
    }
}

@media all and (min-width: 860px) and (max-width: 1027px) {
    .navbar-days .navbar-header
    {
        left: 10%;
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 20%;
        position: absolute;
    }
}

.navbar-days
{
    font-family: 'Montserrat';
    background-color: #E5E5E5;
    text-transform: uppercase;
    padding: 0 !important;
    font-size: 11pt !important;
}

.navbar-days .container
{
    background-color: #E5E5E5;
}

a.navbar-brand.navbar-brand-month
{
    font-size: 11pt !important;
}

.navbar-default .navbar-nav > .active.day-selected
{
    color: #FFFFFF !important;
    background: #224066;
}

.navbar-default .navbar-nav > .active.day-selected > a,
.navbar-default .navbar-nav > .active.day-selected > a:hover,
.navbar-default .navbar-nav > .active.day-selected > a:focus {
    color: #FFFFFF !important;
    background: #224066;
}

.day-label
{
    vertical-align: middle;
    text-decoration: none;
    color: #4B4B4B !important;
}

.day-label:visited
{
    color: #757575;
}

.icon-clock, .icon-foreign-event, .icon-own-event, .icon-favorite-event, .icon-non-favorite-event, .icon-map
{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.3em;
    cursor: pointer;
}

.icon-foreign-event
{
   color:#CDCDCD;
}

.icon-own-event
{
    color:#5BC86B;
}

.icon-favorite-event
{
    color:#F7A734;
}

.icon-non-favorite-event
{
    color:#CDCDCD;
}

.my-schedule-container
{
    text-align: right;
}

.speaker-name-row
{
    color: #7C7C7C;
    font-family: 'MontserratBold';
    font-size: 12pt;
}

.img-circle
{
    width: 60px;
    height: 60px;
    background-color: white;
}

.speaker-row
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-row
{
    padding:0.5em;
}

a.navbar-brand {
    background: none !important;
    height: auto !important;
    width: auto !important;
}

#events-container
{
    padding-top: 1em;
}

/*filters*/

@media all and (max-width: 700px) {
    .col-filter-title
    {
        padding-left: 3em;
    }
}

.col-filter-title
{
    vertical-align: middle;
    text-align: left;
    padding-top: 0.65em;
    color: #1a3b5e;
}

.all-events-filter-row
{
    margin-top: 15px;
    margin-bottom:15px;
}

.all-events-filter-container
{
    padding: 0 !important;
}

.all-events-filter-link {
    padding-right: 10px; }
.all-events-filter-link i {
    font-size: 1.2em;
    color: #1a3b5e;
    background: white;
    border: 1px solid #D3DEE9;
    padding: 10px 15px;
    border-radius: 8px; }
.all-events-filter-link i:hover {
    cursor: pointer;
    color: #2A4E68; }
.all-events-filter-link i.active
{
    background: #6CBB45;
    color: white;
    border: 1px solid #6CBB45;
}

#all-events-filter-wrapper {
    display: none;
    width: 100%;
    padding: 0;
    background: #ffffff;
    color: #607A8E;
    overflow: visible !important;
    padding-top: 10px;
}

.single-filter-wrapper
{
    padding-top: 10px;
    padding-bottom: 10px;
}

form.all-events-search-form .all-events-search-wrapper {
    margin-left: -10px;
    padding-right: 0;
    position: relative;
}

form.all-events-search-form .all-events-search-wrapper input#all-events-search {
    background: white none repeat scroll 0 0;
    border: 1px solid #d3dee9;
    border-radius: 8px;
    font-size: 1em;
    height: 38px;
    padding: 0 10px;
    width: 100%;
}

form.all-events-search-form .all-events-search-wrapper i {
    color: #607a8e;
    font-size: 1.2em;
    position: absolute;
    right: 15px;
    top: 11px;
}

.chosen-container .chosen-results
{
    max-height:  100px !important;
}

.tooltip {
    background: black;
    background: rgba(0, 0, 0, 0.8);
    padding: 1px 8px;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

.tooltip {
    background: none;
    white-space: nowrap;
}

.global-search-container
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.label
{
    margin-left: 5px !important;
}

.search-field input
{
    width: 100% !important;
}

/* search */

.search-header
{
    background-color: #7C7C7C;
    color: #ffffff;
    font-family: 'MontserratBold';
    font-size: 16px;
    padding-left: 10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;
    width: 30%;
}

.event-results, .people-results
{
    width: 90%;
    padding-left:1em;
    padding-top: 2em;
    padding-bottom: 2em;
}


/*cloud tags */

.cloud-tags
{
    width:60%;
    background-color:#FFFFFF;
    text-align:center;
    margin-top: 2em;
    padding:5px;
    font-size:16px;
    font-family:arial;
    margin-left: auto;
    margin-right: auto;
}

#tags_list { margin:0; padding:0; }
#tags_list li
{
    list-style-type:none;
    float:left;
    margin:0 10px;
    margin-top: 20px;
    height:25px;
    padding-top: 1em;
}
#tags_list li a { text-decoration:none; color:#ffffff; }
#tags_list li a:hover
{
    text-decoration: underline;
}

.tag-cloud
{
    border-radius: 10px;
}
