body,html{height:100%}

/*@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

body
{
    font-family: Montserrat, Sans-serif;
}*/

i.collapse-nav {
    color: white;
}

.schedule-title-wrapper {
    padding: 20px 0;
}
.col-main-title h1
{
    margin: 0;
    line-height: 1.5;
}

.bio-row {
    margin-bottom: 20px;
}

.tags-row, .level-row {
    font-size: 14px;
    margin-bottom: 5px;
}

#login-button {
    padding: 8px 14px;
}

#login-button > i {
    margin-right: 5px;
}

#logout-button {
    padding: 8px 14px;
    color: grey;
}

#logout-button > i {
    margin-right: 5px;
}

/*.tags-row {
    font-family: Montserrat, Sans-serif;
}*/

#search_unpublished.btn-global-search, #search_unpublished.btn-global-search-clear
{
    height: 38px;
}

#search_unpublished.input-global-search
{
    height: 38px;
    width: 90%;
}

/* events */

.event-row
{
    border: 1px solid #C1C1C1;
    color: #4a4a4a !important;
    margin: 5px 0;
    border-radius: 4px;
}

.event-btn {
    float: left;
    display: inline-block;
    margin-right: 10px;
}
.event-content
{
    height: 100%;
    padding: 20px;
    width: 100%;
}

.event-type
{
    width: 5px !important;
    padding: 0 !important;
    position: absolute;
    height: 100%;
    top:0;
}

.col-time
{
    padding-right: 0 !important;
    font-size: 14px;
}

.col-location {
    font-size: 14px;
}

.credentials-row, .level-row
{
    /*font-family: Montserrat,Sans-serif;*/
    font-size: 14px;
}

.col-sponsors
{
    font-size: 1em;
    color: #29abe2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-tags-title, .col-speakers-title, .col-level-title
{
    padding-right: 0 !important;
}

.col-tags-content {
    margin-top: 10px;
}

.event-results .col-level-title {
    height: 10px;
}

.event-results .col-level-title > span {
    position: relative;
    top: -12px;
}

.col-tags-content a, .col-speakers-content a, .event-title a, .col-level-content a
{
    color: #4a4a4a !important;
}

.track, .track a
{
    font-size: 14px;
    color: #777;
}

.event-title
{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #2A4E68;
}

.event-details
{
    background-color: #edf2f7;
    padding: 20px;
    color: #2A4E68;
    font-family: Helvetica,Sans-serif;
    font-size: 1em;
    font-weight: 400;
    border-top: 1px solid #C1C1C1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.main-event-content
{
    cursor: pointer;
    position: relative;
    padding: 0;
}

.event-type-col, .event-type-col a
{
    text-transform: uppercase;
    color: #777;
    text-align: right;
    font-size: 0.9em;
}

.btn-go-event
{
    background-color: #224066 !important;
    border-color: #224066 !important;
    border-radius: 2px;
    margin-top: 10px;
}

.btn-rsvp-event
{
    background-color: #224066 !important;
    border-color: #224066 !important;
    border-radius: 2px;
    margin-top: 10px;
}

.tags-row, .speakers-row, .row-level
{
    padding-bottom: 20px !important;
}


@media all and (min-width: 992px)
{
    .col-tags-title, .col-speakers-title
    {
        width: auto;
    }

    .event-results .col-level-title {
        width: auto;
    }
}

/* nav bar */

.navbar-container {
    background-color: #edf2f7;
    border: none;
    border-radius: 4px;
    margin: 0;
}

.view-select-container {
    padding: 15px;
}

.track-nav-container {
    padding: 15px;
}

@media all and (min-width: 1400px) {
    .navbar-days .navbar-header
    {
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 5%;
        position: absolute;
    }
}

@media all and (min-width: 1027px) and (max-width: 1399px) {
    .navbar-days .navbar-header
    {
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 7%;
        position: absolute;
    }
}

@media all and (min-width: 860px) and (max-width: 1027px) {
    .navbar-days .navbar-header
    {
        left: 3%;
        position: absolute;
    }
    .navbar-days .navbar-collapse
    {
        left: 20%;
        position: absolute;
    }
}

.navbar-days
{
    background-color: #edf2f7;
    padding: 0 !important;
    border: none;
}

.navbar-days .container
{
    background-color: #edf2f7;
}

.navbar-days .navbar-nav>li>a {
    color: #2A4E68;
}

@media (max-width: 1000px) and (min-width: 768px) {
    .navbar-days .navbar-nav>li>a {
        font-size: 0.8em;
        padding: 15px 10px;
    }
}

a.navbar-brand.navbar-brand-month
{
    font-size: 11pt !important;
    color: #2A4E68 !important
}

.navbar-default .navbar-nav > .active.day-selected
{
    color: #FFFFFF !important;
    background: #4a4a4a;
}

.navbar-default .navbar-nav > .active.day-selected > a,
.navbar-default .navbar-nav > .active.day-selected > a:hover,
.navbar-default .navbar-nav > .active.day-selected > a:focus{
    color: #FFFFFF !important;
    background: #30739C;
}

.navbar-default .navbar-nav > .active.level-selected > a,
.navbar-default .navbar-nav > .active.level-selected > a:hover,
.navbar-default .navbar-nav > .active.level-selected > a:focus{
    color: #FFFFFF !important;
    background: #30739C;
}

.day-label, .level-label
{
    vertical-align: middle;
    text-decoration: none;
    border-right: 1px solid #DDDDDD;
    border-left: 0;

}

.day-label:visited
{
    /*color: #4a4a4a !important*/
}

.navbar-nav > li:first-child > a.day-label {
    border-left: 1px solid #DDDDDD;
}

.navbar-nav > li:first-child > a.level-label {
    border-left: 1px solid #DDDDDD;
}

.icon-clock, .icon-foreign-event, .icon-own-event, .icon-favorite-event, .icon-non-favorite-event, .icon-map
{
    font-size: 1.1em;
    cursor: pointer;
    color: #999;
}

.icon-foreign-event
{
   color:#CDCDCD;
}

.icon-own-event
{
    color:#5BC86B;
}

.icon-favorite-event
{
    color:#F7A734;
}

.icon-non-favorite-event
{
    color:#CDCDCD;
}

.my-schedule-container, .gcal-synch-container
{
    text-align: right;
}

.speaker-name-row a
{
    color: #4a4a4a;
    /*font-family: 'MontserratBold';*/
    font-size: 16px;
}

.speaker-position-row
{
    color: #777;
    font-size: 12px;
}
.speaker-photo-left {
    float: left;
}
.speaker-name-right {
    display: inline-block;
    margin: 12px 0 0 15px;
    width: 75%;
}
a.profile-pic-wrapper {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

.profile-pic
{
    width: 100%;
    height: auto;
    background-color: white;
}

.big-profile-pic
{
    width: 100px;
    height: 100px;
    background-color: white;
}

.speaker-row
{
    padding-top: 5px;
    padding-bottom: 10px;
}

.filter-row
{
    padding:0.5em;
}
.chosen-container-multi .chosen-choices {
    border-radius: 4px;
}

a.navbar-brand {
    background: none !important;
    height: auto !important;
    width: auto !important;
}

#events-container
{
    padding-top: 1em;
}

/*filters*/
.col-filter-btn {
    float: left;
    margin-right: 10px;
}
.col-filter-title
{
    vertical-align: middle;
    text-align: left;
    padding-top: 0.65em;
    color: #4a4a4a;
    font-weight: bold;
}

@media all and (max-width: 700px) {
    .col-filter-title
    {
        padding-left: 3em;
    }
}

.all-events-filter-row
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.all-events-filter-container
{
    padding: 0 !important;
}

.all-events-filter-link {
    padding-right: 10px;
}

.all-events-filter-link > .col-filter-btn > i {
    font-size: 1.2em;
    color: #4a4a4a;
    background: white;
    border: 1px solid #4a4a4a;
    padding: 10px 15px;
    border-radius: 8px;
}

.all-events-filter-link > .col-filter-btn > i:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

.all-events-filter-link > .col-filter-btn > i.active
{
    background: #6CBB45;
    color: white;
    border: 1px solid #6CBB45;
}

#all-events-filter-wrapper {
    display: none;
    padding-bottom: 5px;
    background: #ffffff;
    color: #607A8E;
    overflow: visible !important;
}

#clear-filters {
    padding: 10px 15px;
    background-color: #eee;
    color: #4a4a4a;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

#clear-filters > i {
    margin-left: 5px;
    font-size: 1.3em;
}

#clear-filters:hover {
    background-color: #d4d4d4;
    color: #4a4a4a;
    text-decoration: none;
}

.rsvp-note {
    margin: 10px 0;
}

.single-filter-wrapper
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-switch-schedule {
    float: right;
    margin-right: 20px;
}

.switch_schedule {
    padding: 8px 14px;
}

.switch_schedule > .glyphicon {
    margin-right: 5px;
}

.view-all-schedule {
    text-decoration: none;
    padding: 8px 14px;
    color: grey !important;
    float: right;
}

@media (max-width: 600px) {
    .view-all-schedule {
        float: left;
        margin-top: 10px;
    }

    .col-switch-schedule {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }
}

form.all-events-search-form .all-events-search-wrapper {
    margin-left: -10px;
    padding-right: 0;
    position: relative;
}

form.all-events-search-form .all-events-search-wrapper input#all-events-search {
    background: white none repeat scroll 0 0;
    border: 1px solid #d3dee9;
    border-radius: 8px;
    font-size: 1em;
    height: 38px;
    padding: 0 10px;
    width: 100%;
}

form.all-events-search-form .all-events-search-wrapper i {
    color: #607a8e;
    font-size: 1.2em;
    position: absolute;
    right: 15px;
    top: 11px;
}

#clear-filters {
    margin-left: 3px;
}

#clear-filters a{
    cursor: pointer;
}

.login-container, .logout-container {
    position: relative;
    top: 120px;
    right: 0px;
    text-align: right;
}

@media (max-width: 1200px) {
    .login-container, .logout-container {
        position: relative;
        top: 165px;
        right: 0px;
        text-align: right;
    }
}

@media (max-width: 600px) {
    .login-container, .logout-container {
        position: relative;
        top: -12px;
        right: 0px;
        text-align: right;
    }
}

.chosen-container .chosen-results
{
    max-height:  100px !important;
}

.tooltip {
    background: black;
    background: rgba(0, 0, 0, 0.8);
    padding: 1px 8px;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

.tooltip {
    background: none;
    white-space: nowrap;
}

.global-search-container
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.global-search-div {
    position: relative;
    top: 0px;
    float: right;
    width: 420px;
}
@media (max-width: 767px) {
    .global-search-div {
        width: 100%;
    }
}

.label
{
    margin-left: 5px !important;
}

.search-field input
{
    width: 100% !important;
}

/* search */

.search-header {
    margin-bottom: 40px;
}

.people-results {
    background-color: #EEEEEE;
    border-top: 1px solid #C2C2C2;
    border-bottom: 1px solid #C2C2C2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.speaker-company {
    font-size: 0.8em;
}

.result-speaker-name-div {
    margin-top: 24px;
    padding-left: 5px;
}

.event-results
{
    width: 90%;
    padding-left:1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

h2.subtitle {
    font-family: Montserrat, Sans-serif;
    color: #4a4a4a;
    font-size: 23px;
    margin: 50px 0;
}

.speaker-result {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*cloud tags */

.cloud-tags
{
    width:60%;
    background-color:#FFFFFF;
    text-align:center;
    margin-top: 2em;
    padding:5px;
    font-size:16px;
    font-family:arial;
    margin-left: auto;
    margin-right: auto;
}

#tags_list { margin:0; padding:0; }
#tags_list li
{
    list-style-type:none;
    float:left;
    margin:0 10px;
    margin-top: 20px;
    height:25px;
    padding-top: 1em;
}
#tags_list li a { text-decoration:none; color:#ffffff; }
#tags_list li a:hover
{
    text-decoration: underline;
}

.tag-cloud
{
    border-radius: 10px;
}

/*Five column grid*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.export_schedule {
    color: white !important;
    margin-top: 10px;
    float: right;
}

#full-schedule-filter {
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    padding: 6px;
}

#show_desc {
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    padding: 6px;
}