@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

.event-type{
    width: 5px !important;
    padding: 0 !important;
    min-height: 150px !important;
}

.event-title
{
    font-family: 'MontserratBold';
    font-size: 12pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event-row {
    min-height: 150px !important;
    font-family: 'Montserrat';
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid #C1C1C1
}


.event-details
{
    background-color: #E4E4E4;
    padding: 1em;
    color: #4F4F4F;
}

.navbar-days
{
    font-family: 'Montserrat';
    background-color: #E5E5E5;
    text-transform: uppercase;
    padding: 0 !important;
    font-size: 11pt !important;
}

a.navbar-brand.navbar-brand-month {
    font-size: 11pt !important;
}

.navbar-default .navbar-nav > .active.day-selected{
    color: #FFFFFF;
    background: #F5A623;
}
.navbar-default .navbar-nav > .active.day-selected > a,
.navbar-default .navbar-nav > .active.day-selected > a:hover,
.navbar-default .navbar-nav > .active.day-selected > a:focus {
    color: #FFFFFF;
    background: #F5A623;
}

.day-label
{
    vertical-align: middle;
    text-decoration: none;
    color: #757575;
}

.day-label:visited
{
    color: #757575;
}

.main-event-content
{
    cursor: pointer;
}

.event-type-col
{
    text-transform: uppercase;
    color: #D7D7D7;
    text-align: right;
}

.event-content
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-clock, .icon-foreign-event, .icon-own-event, .icon-favorite-event, .icon-non-favorite-event, .icon-map
{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.3em;
    cursor: pointer;
}

.icon-foreign-event
{
   color:#CDCDCD;
}

.icon-own-event
{
    color:#5BC86B;
}

.icon-favorite-event
{
    color:#F7A734;
}

.icon-non-favorite-event
{
    color:#CDCDCD;
}

.my-schedule-container
{
    text-align: right;
}

.speaker-name-row
{
    color: #7C7C7C;
    font-family: 'MontserratBold';
    font-size: 12pt;
}

.img-circle
{
    width: 60px;
    height: 60px;
    background-color: white;
}

.speaker-row
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-row
{
    padding:0.5em;
}

a.navbar-brand {
    background: none !important;
    height: auto !important;
    width: auto !important;
}

#events-container
{
    padding-top: 1em;
}

/*filters*/
.all-events-filter-row
{
    margin-top: 15px;
    margin-bottom:15px;
}

.all-events-filter-container
{
    padding: 0 !important;
}

.all-events-filter-link {
    padding-right: 10px; }
.all-events-filter-link i {
    font-size: 1.2em;
    color: #607A8E;
    background: white;
    border: 1px solid #D3DEE9;
    padding: 10px 15px;
    border-radius: 8px; }
.all-events-filter-link i:hover {
    cursor: pointer;
    color: #2A4E68; }
.all-events-filter-link i.active
{
    background: #6CBB45;
    color: white;
    border: 1px solid #6CBB45;
}

#all-events-filter-wrapper {
    display: none;
    width: 100%;
    padding: 0;
    background: #ffffff;
    color: #607A8E;
    overflow: visible !important;
}

#all-events-filter-wrapper .single-filter-wrapper {
    margin-top: 10px;
}
#all-events-filter-wrapper .single-filter-wrapper.first {
    margin-left: 10px; }
#all-events-filter-wrapper hr {
    border-color: #D4DCE5;
    margin-bottom: 5px; }

#all-events-filter-wrapper .row {
    margin-top: 10px;
    margin-bottom: 20px;

}
#all-events-filter-wrapper .filter-stats-label {
    font-size: 0.85em;
    margin: 0 0 10px -5px;
    text-align: left;
    line-height: 1.2; }
#all-events-filter-wrapper .filter-stats-label strong {
    display: block; }
#all-events-filter-wrapper .filter-stats-label span {
    font-weight: 700;
    font-size: 1.2em;
    color: #29abe2; }
#all-events-filter-wrapper .slider-handle {
    background-color: #29abe2;
    background-image: -webkit-linear-gradient(top, #29abe2 0%, #1D89C5 100%);
    background-image: linear-gradient(to bottom, #29abe2 0%, #1D89C5 100%); }
#all-events-filter-wrapper .slider-tick-label {
    font-size: 0.85em;
    font-weight: 700; }
#all-events-filter-wrapper .slider-tick.in-selection, #all-events-filter-wrapper .slider-selection.tick-slider-selection {
    background-image: -webkit-linear-gradient(top, #29abe2 0%, #1D89C5 100%);
    background-image: linear-gradient(to bottom, #29abe2 0%, #1D89C5 100%); }
#all-events-filter-wrapper .slider-tick {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: none;
    opacity: 1;
    border: 0 solid transparent
}
#all-events-filter-wrapper .slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px
}

@media (max-width: 990px) {
    #all-events-filter-wrapper .single-filter-wrapper {
        margin-right: 30px; } }

@media (max-width: 768px) {
    #all-events-filter-wrapper .single-filter-wrapper {
        margin-right: 0;
        margin-left: 10px; } }

form.all-events-search-form .all-events-search-wrapper {
    margin-left: -10px;
    padding-right: 0;
    position: relative;
}

form.all-events-search-form .all-events-search-wrapper input#all-events-search {
    background: white none repeat scroll 0 0;
    border: 1px solid #d3dee9;
    border-radius: 8px;
    font-size: 1em;
    height: 38px;
    padding: 0 10px;
    width: 100%;
}

form.all-events-search-form .all-events-search-wrapper i {
    color: #607a8e;
    font-size: 1.2em;
    position: absolute;
    right: 15px;
    top: 11px;
}

.chosen-container .chosen-results
{
    max-height:  100px !important;
}

.tooltip {
    background: black;
    background: rgba(0, 0, 0, 0.8);
    padding: 1px 8px;
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; }

.tooltip {
    background: none;
    white-space: nowrap; }

.global-search-container
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.label
{
    margin-left: 5px !important;
}