@import "summit-admin-schedule-variables";

body
{

}


#day_schedule {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: unset;
}

.time-slot
{
  height:$slot_height;
  background-color: gray;
  border: solid 1px gray;
  min-width: 70px;
}

.events-col
{
  padding: 0 !important;
}

.time-slot-container
{
  border: solid 1px gray;
  width:$slot_width;
  height:$slot_height;
  margin:0;
  padding:0;
  min-width: 351px;
}

.event
{
  height: $slot_height;
  min-height: $slot_height;
  width:$slot_width;
  padding:0;
  margin:0;
  position:absolute;
}

.event
{
  background-color: lightcyan;
  border: 1px solid silver;
}

.no_drag
{
  background-color: #E8E8E8 !important;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.ui-resizable-s {
  width: $slot_width;
  height:10px;
  bottom:7px !important;
}

.ui-resizable-n {
  width: $slot_width;
  height:10px;
}

.event-title
{
  height:25%;
}

.event-duration{
  height:25%;
}

.ui-icon-triangle-1-s, .ui-icon-triangle-1-n {
  margin-left:auto;
  margin-right:auto;
}

.event-published
{

}

.unpublished-events-list li {
  height: $slot_height;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-inner-body
{
  padding-top: 5px;
  padding-left: 5px;
}

.fixed
{
  position:fixed;
  top:0;
  left:57.3%;
  width: 42%;
}

/* pop over */

.popover
{
  max-width: 40%; // Max Width of the popover (depending on the container!)
  margin-top:7px;
}

.unpublish-event-btn
{
}

.event-buttons {
    overflow: hidden;
    width: 0px;
    float: right;
    position: relative;
    height: 100%;
    text-align: center;
    z-index: 99;
}

.event-buttons a {
    color: grey;
}

.event-buttons a:hover {
    color: black;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.presentation-status
{
  color: black;
  font-size: 8pt;
  font-weight: bold;
}

.status-alternate
{
  background-color: lightgoldenrodyellow !important;
}

.status-alternate a,.status-alternate a:visited
{
  color: black !important;
}

.status-accepted
{
  background-color: lime!important;
}

.status-accepted a,.status-accepted a:visited
{
  color: black !important;
}

.status-unaccepted
{
  background-color: lightcoral!important;
  color: white !important;
}

.status-unaccepted a,.status-unaccepted a:visited
{
  color: white !important;
}
