#nav-char {
    text-align: center;
    font-size: 1.4em;
    line-height: 3em;
    background-color: #abcdef;
    color: white;
    cursor: pointer;
    width: 100%;
    z-index: 9999999999999;
}
.nav-char-item
{
    font-weight: bold;
    font-size: 20pt;
}

.inactive,.inactive:visited,.inactive:hover {
    color: grey !important;
    cursor: pointer;
    text-decoration: none !important;
}

.active, .active:visited, .active:hover {
    color: white !important;
    cursor: default;
    text-decoration: none !important;
}