@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family:'Montserrat' , sans-serif;
}

#map {
    height: 400px;
    width: 100%;
}

.venue .header {
    height: 350px;
    background-color: #00004b;
    color: white;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.venue .image {
    width: 100%;
    height: 100%;
}

.venue .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    z-index: 100;
}

.venue .overlay:hover {
    background-color: transparent;
}

.venue .labelbox {
    position: absolute;
    top: 33%;
    width: 100%;
    text-shadow: 2px 2px black;
    z-index: 999;
}

.venue .title {
    text-align: center;
    font-size: 30px;
}

.venue .address {
    text-align: center;
}

.venue .carousel {
    padding: 15px 0;
    display: none;
}

.venue .carousel-control {
    background: none;
}

.venue .carousel-control.left {
    left: 10%;
}

.venue .carousel-control.right {
    right: 10%;
}

.gm-style-iw {
    text-align: center;
}

.floor .header {
    height: 100px;
    background-color: #84798c;
    color: white;
    position: relative;
    cursor: pointer;
    text-align: center;
}

.floor-accordion {
    display: none;
}

.floor_image {
    height: 200px;
    display: none;
}