

#schedule_container {
    font-family: Lato, 'Helvetica Neue', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
}

.day {
    font-size: 16px;
    clear: left;
    margin: 20px 0 10px 5px;
    float: left;
}

.event_time,.event_location {
    color: rgb(153, 153, 153);
    font-size: 12px;
}

.event {
    float:left;
    margin: 10px;
    border:1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
    padding: 5px;
}

.popover hr {
    margin-top: 10px;
}

.event_wrapper {
    float:left;
    border-left: 1px solid rgb(205, 205, 205);
    width: 650px;
    margin-left: 15px;
}

.event_details {
    display: none;
}

.summit_event_type_filter {
    height: 32px;
    margin-left: 20px;
}

.popover.bottom>.arrow {
    left: 10%;
}

.popover {
    max-width: 500px;
}

.event_details_desc {
    max-height: 200px;
    overflow-y: auto;
}

.socials {
    float: right;
}

.twitter-share-button {
    position: relative !important;
    top: 1px;
    left: 5px;
}

.fb-like {
    top: -4px;
}

.speaker_name {
    margin-left: 10px;
}

.link_button {
    margin-left: 10px;
}

.link_button:visited {color:white;}