li.location-venue
{
    font-size: 10pt !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

li.location-venue-room
{
    font-size: 8pt !important;
    padding-left: 20px !important;
}

.location-venue-room:before {
    content: "- ";
}