/*@font-face {
    font-family: 'Montserrat';
    src: url('/themes/openstack/fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/themes/openstack/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family:'Montserrat' , sans-serif;
}*/

.global-search-div {
    position: relative;
    top: 0px;
    float: right;
    width: 420px;
}

.global-search-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.global-search-div input {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.schedule-title-wrapper {
    padding: 20px 0;
}

.col-main-title h1 {
    margin: 0;
    line-height: 1.5;
}

.title_box {
    /*background-color:#132539;*/
    padding: 30px 0;
}

.col1 {
    float: left;
    width: 55%;
}

.col2 {
    float: right;
    width: 40%;
    background-color: #eaeaea;
    padding: 20px;
}

.title {
    color: #2A4E68;
    font-size: 24px;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.actions {
    float: left;
    width: 200px;
}

.track, .track a {
    font-size: 16px;
    color: #777;
    margin: 0px 0px 35px 0;
}

.track a:hover {
    text-decoration: underline;
}

.back {
    text-align: right;
}

.section1 {
    padding-bottom: 30px;
    color: #4C4C4C;
    /*border-bottom: 1px solid grey;*/
}

.short_description {
    font-size: 20px;
}

.expected-learnt div {
    font-weight: bold;
}

.info {

}

.info_item {
    clear: both;
    margin-bottom: 15px;
    min-height: 20px;
}

.info_item_icon {
    float: left;
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.info_item_icon img {
    height: 20px;
}

.icon-clock {
    line-height: 23px;
    position: relative;
    left: -2px;
    font-size: 1.6em;
}

.icon-map {
    font-size: 1.6em;
}

.icon-level {
    width: 16px;
    overflow: hidden;
    position: relative;
    top: -10px;
}

.info_item_text {
    float: left;
    width: 90%;
}

.btn-rsvp-event
{
    background-color: #224066 !important;
    border-color: #224066 !important;
    border-radius: 0;
    margin-top: 10px;
}

.share {
    clear: both;
    margin-top: 20px;
}

.share_icon {
    float:left;
    color: grey;
    cursor: pointer;
}

.share_icon:hover {
    color: #132539;
}

.section2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #4C4C4C;
}

.description {
    color: #2A4E68;
    font-family: Helvetica,Sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.logo {
    text-align: center;
}

.multi_logo {
    float: left;
}

.tags-row {
    font-size: 14px;
}

.tags-row a {
    color: #4C4C4C;
}

.col-tags-title {
    padding-right: 0 !important;
}

@media all and (min-width: 992px)
{
    .col-tags-title, .col-speakers-title
    {
        width: auto;
    }
}

.speaker_box {
    color: #4C4C4C;
}

.speaker_profile {
    margin-top: 30px;
    clear: both;
}

.speaker_pic {
    width: 150px;
    float: left;
    margin-left: 15px;
}

.speaker_name {
    margin:0;
    font-size: 16px;
    font-weight: bold;
}

.speaker_name a {
    color: #4a4a4a;
}

.speaker_job_title {
    color: #AAAAAA;
    font-size: 12px;
}

.speaker_bio {
    margin-top: 10px;
    font-size: 12px;
    font-family: "Helvetica",sans-serif;
}

.speaker_bio a {
    text-decoration: underline;
    color: #4C4C4C;
    font-weight: bold;
}

.comment_section {
    padding-top: 50px;
    padding-bottom: 30px;
    color: #4C4C4C;
}

.comment_title {
    font-size: 18px;
    border-bottom: 2px solid #EEEEEE;
    padding-bottom: 15px;
    font-weight: lighter;
}

.comment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEEEEE;
    color: #71757a;
}

.comment.last {
    border: none;
}

.comment_info {
    margin-bottom: 25px;
}

.comment_pic {
    float: left;
    margin-right: 20px;
}

.comment_date span {
    color: #AAAAAA;
}

.comment_date {
    font-size: 10px;
}

.comment_text {
    clear: both;
    font-size: 12px;
}

.more_comments {
    cursor: pointer;
}

.icon-foreign-event, .icon-own-event, .icon-event-action
{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.3em;
    cursor: pointer;
}

.icon-event-action i{
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.icon-foreign-event
{
    color:#CDCDCD;
}

.icon-own-event
{
    color:#5BC86B;
}

.speaker-photo-left {    
    float: left;
    padding-right: 15px;
    padding-bottom: 20px;
}

a.profile-pic-wrapper {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

.error {
    color: red;
}
