.center_text {
    text-align: center;
}

.fa-check {
    color: limegreen;
}

.sortable {
    cursor: pointer;
}

th .fa {
    margin-left: 5px;
}

.table {
    font-size: 10px;
}


#page-content-wrapper {
    width: 83%;
}