.center_text {
    text-align: center;
}

.fa-check {
    color: limegreen;
}

.sortable {
    cursor: pointer;
}

th .fa {
    margin-left: 5px;
}

.table {
    font-size: 10px;
}


#page-content-wrapper {
    min-width: 83%;
}

#event_type {
    margin-bottom: 15px;
}

.venues_col .chosen-choices {
    padding: 7px;
    border-radius: 4px;
    border-color: lightgray;
    background-image: none;
}

#start_date, #end_date {
    display: inline;
    width: 40%;
}