/software/js/public
/themes/openstack/bower_assets
#assets
!assets/error-404.html
!assets/error-500.html
assets/
assets
sortablegridfield/
sortablegridfield
framework/
framework
colorpicker/
colorpicker
cms/
cms
vendor/
.htaccess
debug.log
index.php
_ss_environment.php
simplepie/cache/*
silverstripe-cache/
/.buildpath
/.project
# PDT-specific
.buildpath
# Locally stored "Eclipse launch configurations"
*.launch
.settings/
.idea/
#composer
composer.phar
backup_scripts/cron-backup-config.php
logs/
feeds/cache/
sapphire/thirdparty/htmlpurifier-4.4.0/library/HTMLPurifier/DefinitionCache/Serializer/HTML/
elections/input/
blog/
themes/openstack/images/
themes/openstack/images
tmp/
geoip/
mailoutput/
private-assets/
private-assets
zen_fields/
*.css.map
openstackwebsite-assets/
openstackwebsite-assets
bin
betterbuttons/
cache/
bootstrap-forms/
tagfield/
bootstrap-tagfield/
mandrill/
dropzone/
display_logic/
reflection-templates/
silverstripe-permamail/
themes/openstack/_combinedfiles/
/node_modules/*
node_modules
*/node_modules/
*/node_modules/*
gridfieldextensions/*
gridfieldajaxrefresh/*
gridfieldajaxrefresh
reports/
siteconfig/
*bundle.js
.vagrant/
puppet/certs/ssl_certs
keys.dev.pub
keys.tags.pub
trait-loader/
gridfieldextensions/
fluent/
**/ui/production/*
opengraph/
translatable/
.DS_Store
silverstripe-green/
silverstripe-serialised-dbfields/
autocomplete
Thumbs.db
config.json
auth.json
autocomplete/
*.patch