.clear {
    clear: both;
}

.newsSlider {
    width: 100%;
    height: 380px;
}

.newsBody {
    width: 70%;
    height: auto;
    float: left;
}

.newsFeatured {
    height: 330px;
}

.newsRecent {
    margin-top: 15px;
    padding-top: 15px;
}

.newsSidebar {
    width: 28%;
    float: right;
    margin-left: 2%;
}

.featuredBox {
    width: 25.5%;
    float: left;
    margin: 0 25px 0 25px;
}

.featured li {
    padding-top: 10px;
}

.featuredImage img {
    width: 120px;
    height: 110px;
}

.featuredSummary {
    height: 100px;
    overflow: hidden;
}

.recentBox {
    margin: 10px 5px 10px 0;
    max-height: 600px;
    overflow-y: auto;
}


.sliderText {
    float: left;
    width: 65%;
}

.featuredEvents {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedddf;
}

.feedItem {
    margin-bottom: 10px;
}

.itemTimeStamp {
    color: #4c99a2;
}

.postArticle{
    float:right;
    margin-bottom: 10px;
}

.postArticle a {
    background-color: #E2F4DC;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}


.newsHome{
    float:right;
    margin-bottom: 10px;
}

.newsHome a {
    background-color: #E2F4DC;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.manageNews{
    float:right;
    margin-bottom: 10px;
}

.manageNews a {
    background-color: #e1f9fe;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.user-story-quote a, .user-story-quote a:visited {
    color: #535353;
    text-decoration: underline;
}

.user-photo {
    float: left;
    width: 150px;
}

.user-photo img {
    -webkit-transform:rotate(-3deg);
}

.user-logo {
    float: left;
    width: 150px;
}

.otherUsers {
    font-size: 16px;
    margin-bottom: 10px;
}

.otherUsers h2 {
    margin-bottom: 5px;
}

.otherUsers p, .otherUsers h2 {
    margin-left: 160px;
}

fieldset {
    background-color: #F6F6F6;
}

.listedArea {
    padding: 12px;
    color: #1d6006;
    background-color: #e2f4dc;
    border: 1px solid #b5c8a8;
    margin-bottom: 10px;
}

.listedArea h2 {
    color: black;
}

.sliderImage {
    float: left;
    display: block;
    padding: 30px 10px 0 10px;
    border-radius: 2px;
    margin: 8px 0 10px 5px;
}

.automotive .largeHeadline {
    font-size: 300%;
}

.automotive a {
    text-decoration: none;
    background: #B73124;
    color: white;
    max-width: 200px;
}

.automotive a:hover {
    text-decoration: none;
    background: #831917;
    color: white;
    max-width: 200px;
}


.automotive {
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    position: relative;
}

/* Slider for News */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager.bx-custom-pager {
    margin: -5px 10px;
    text-align: right;
    width: 100%;
}
.bx-wrapper .bx-pager.bx-custom-pager .bx-pager-item{
    margin-right: 6px;
    margin-top: 10px;
}
.bx-wrapper .bx-pager.bx-custom-pager .bx-pager-item a{
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    background-color: #666;
    color: white;
    font-weight: normal;
}
.bx-wrapper .bx-pager.bx-custom-pager .bx-pager-item a:hover,
.bx-wrapper .bx-pager.bx-custom-pager .bx-pager-item a.active{
    text-decoration: none;
    background-color: #333;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 100px;
    width: 35px;
}

.breadcrumb {
    font-size: 92%;
    margin: -1.5em 0 0.7em;
}

/* line 135 */
ul#quotes li p {
    line-height: 1.4em; }

/* line 139 */
.largeHeadline {
    font-size: 30px;
    font-family: 'PT Sans', serif;
    margin: auto;
    color: #747474;
    line-height: 1.2em;
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 50px;
    text-align: left;
}

/* line 151 */
.sliderSummary {
    margin-top: 10px;
    font-size: 14px;
    color: #747474;
    text-indent: 0px;
    margin: auto;
    text-align: left;
}

/* line 161 */
.sliderSummary strong {
    font-weight: normal;
    color: #494949; }

/* line 166 */
.categoryDescription {
    padding-top: 20px; }

/* line 170 */
.featuredLogo img {
    border: 1px solid #DEDDDF;
    border-radius: 5px;
    margin-bottom: 15px; }
