.clear {
    clear: both;
}

.link_button{
    float:right;
    margin-bottom: 10px;
}

.link_button a {
    background-color: #E2F4DC;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.placeholder,.placeholder_empty {
    border: 1px dotted black;
    text-align: center;
    color: grey;
    padding: 5px 0 5px 0;
}

.placeholder_empty td {
    text-align: center;
}

.article_row td {
    padding: 5px 0 5px 0;
}

.article_row .date_release {
    width:10%;
}

.article_row .title {
    width:20%;
}

.article_row .summary {
    width:40%;
}

.article_row p {
    margin: 0 !important;
}

.article_row .image {
    width:5%;
    text-align: center;
    cursor: pointer;
}

.popover-content {
    margin: 0;
    width:auto;
}

.popover{width:auto!important; max-width: none}

.article_row .edit {
    width:5%;
    text-align: center;
    color: black;
    text-decoration: none;
}

.newsDelete, .newsRemove {
    cursor: pointer;
    margin-left: 3px;
}

.newsRemove:hover{
    color:red;
}

.newsEdit a:hover{
    color:darkblue;
}

.newsSlider {
    width: 100%;
}

.sliderBox {
    margin: 0 5px 0 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.newsImage img {
    width: 100%;
    height: 110px;
}

.newsImage {min-height: 110px;}

#slider_sortable { list-style-type: none; margin: 0; padding: 0; width: 100%;  }
#slider_sortable li { margin: 3px 3px 3px 0; padding: 1px;  }
#slider_sortable .placeholder_empty {}
#slider_sortable .placeholder {}

.newsFeatured {
    width: 100%;
    height: 330px;
}

.featuredBox {
    margin: 0 5px 0 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#featured_sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; float: left; }
#featured_sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 275px;}
#featured_sortable .placeholder_empty {height:283px;}
#featured_sortable .placeholder {height:274px;}


.newsRecent {
    width: 100%;
    max-height: 700px;
    min-height: 350px;
    overflow-y: auto;
}

.recentBox {
    margin: 0 5px 0 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#recent_sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; float: left; height: 90%; min-height: 283px;}
#recent_sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 152px; height: 275px;}
#recent_sortable .placeholder {height:283px;}


.newsStandBy {
    width: 100%;
    max-height: 700px;
    min-height: 350px;
    overflow-y: auto;
}

.standbyBox {
    margin: 0 5px 5px 5px;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

#standby_sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; float: left; height: 90%; min-height: 283px; }
#standby_sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 152px;}
#standby_sortable .placeholder {height:283px;}

.headline{
    height: 33px;
    margin-bottom: 10px !important;
}

.newsText {
    height: 120px;
    overflow: hidden;
}
