.clear {
    clear: both;
}

.link_button{
    float:right;
    margin-bottom: 10px;
}

.link_button a {
    background-color: #E2F4DC;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.left-col {
    width: 60%;
    float: left;
    margin-top: 50px;
}

.left-col table {
    width: 95%;
}

.right-col {
    width: 27%;
    max-height: 50%;
    position: fixed;
    left: 59%;
    top: 190px;
    overflow-y: auto;
}

thead {
    border-right: 1px solid #c3d9ff;
}

.placeholder {
    padding: 5px 0 5px 0;
    height: 30px;
}

.article_row {
    cursor: move;
    border: 1px solid;
}

.article_row td {
    padding: 5px 0 5px 0;
}

.article_row.ui-sortable-helper {
    background-color: #d3d3d3;
}

.article_row .date_release {
    width:20%;
    padding-left:5px;
}

.article_row .title {
    width:60%;
}

.article_row p {
    margin: 0 !important;
}

.article_row .image {
    width:10%;
    text-align: center;
    cursor: pointer;
}

.popover-content {
    margin: 0;
    width:auto;
}

.popover{width:auto!important; max-width: none}

.article_row .edit {
    width:10%;
    text-align: center;
    color: black;
    text-decoration: none;
}

#standby_sortable .date_release{
    width: 27% !important;
}

#standby_sortable .title{
    width: 50% !important;
}

#standby_sortable .edit{
    width: 13% !important;
}

.newsDelete, .newsRemove {
    cursor: pointer;
    margin-left: 3px;
}

.newsRemove:hover{
    color:red;
}

.newsEdit a:hover{
    color:darkblue;
}

.newsEdit{
    margin-left: 6px;
}

.newsSlider,.newsFeatured,.newsRecent,.newsStandBy {
    width: 100%;
}

#slider_sortable,#featured_sortable,#recent_sortable,#standby_sortable { list-style-type: none; margin: 0; padding: 0; width: 100%;}

