.clear {
    clear: both;
}

.newsSlider {
    width: 100%;
    height: 320px;
}

.newsBody {
    width: 70%;
    height: auto;
    float: left;
}

.newsFeatured {
    height: 230px;
}

.newsRecent {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedddf;
}

.newsSidebar {
    width: 28%;
    float: right;
    margin-left: 2%;
}

.featuredBox {
    width: 25.5%;
    float: left;
    margin: 0 25px 0 25px;
}

.featuredImage img {
    width: 120px;
    height: 110px;
}

.recentBox {
    margin: 10px 5px 10px 0;
}

.sliderImage {
    float: left;
    width: 40%;
}

.sliderText {
    float: left;
    width: 60%;
}

.featuredEvents {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedddf;
}

.feedItem {
    margin-bottom: 10px;
}

.itemTimeStamp {
    color: #4c99a2;
}

.postArticle{
    float:right;
    margin-bottom: 10px;
}

.postArticle a {
    background-color: #E2F4DC;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.manageNews{
    float:right;
    margin-bottom: 10px;
}

.manageNews a {
    background-color: #e1f9fe;
    color: #1D6006;
    display: block;
    float: right;
    font-size: 1em;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.user-story-quote a, .user-story-quote a:visited {
    color: #535353;
    text-decoration: underline;
}

.user-photo {
    float: left;
    width: 150px;
}

.user-photo img {
    -webkit-transform:rotate(-3deg);
}

.user-logo {
    float: left;
    width: 150px;
}

.otherUsers {
    font-size: 16px;
    margin-bottom: 10px;
}

.otherUsers h2 {
    margin-bottom: 5px;
}

.otherUsers p, .otherUsers h2 {
    margin-left: 160px;
}

fieldset {
    background-color: #F6F6F6;
}

.listedArea {
    padding: 12px;
    color: #1d6006;
    background-color: #e2f4dc;
    border: 1px solid #b5c8a8;
    margin-bottom: 10px;
}

.listedArea h2 {
    color: black;
}

.automotive a {
    display: block;
    background: #b9301d;
    padding: 10px 20px;
    border-radius: 2px;
    width: 80%;
    margin: 10px auto 0;
    color: #fff!important;
    font-weight: 600;
    font-size: 150%
}

.automotive .largeQuote {
    margin-top: 140px;
    color: white;
    font-size: 300%;
}

.automotive a {
    text-decoration: none;
    background: #B73124;
    color: white;
    max-width: 200px;
}

.automotive a:hover {
    text-decoration: none;
    background: #831917;
    color: white;
    max-width: 200px;
}


.automotive {
    text-align: center;
    color: #f8f8f8;
    background: url('/themes/openstack/images/landing-pages/auto/hero-bkgd.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}