/* reset sangria styles :( */
thead th {
  background: none;
}

input[type=text], input[type=password], input.text, input.title, textarea, select { margin:0 !important;}

.page-size-control{
  width: 100px !important;
}