.verify-wrapper {
	width: 100%;
	background: #edf2f7;
	padding: 60px 0;
	margin-bottom: -50px;
}
#lf-verify-cert-form {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 30px;
	background: white;
}
#lf-verify-cert-form h3 {
	margin: 0 0 20px;
}
.verify-input-wrapper {
	margin-top: 20px;
}
.verify-input-wrapper label {
	text-transform: uppercase;
}
#lf-verify-cert-form .checkbox {
	margin: 10px 0 0 2px;
}
.verify-input {
	padding: 20px;
	border: 2px solid #C8CDD3;
	box-shadow: none;
	margin-bottom: 10px;
}
#cert_verification {
	display: none;
	border: 1px solid #248EC7;
    background-color: #29abe2;
    padding: 20px;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
}
#cert_verification table tr td {
	padding-bottom: 10px;
	font-weight: 600;
}
#cert_verification table tr td:first-child{
	text-align: right;
	padding-right: 15px;
	font-weight: 400;
}
#cert_verification table tr:last-child td {
	padding-bottom: 0;
}
#cert_empty {
    display: none;
    font-style: italic;
    color: white;
	border: 1px solid #A51B1B;
    background-color: #DA422F;
    padding: 20px;
    border-radius: 4px;
}
input.verify-btn {
	background: #284d68;
    padding: 15px 45px;
    margin: 20px 0 0;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 600;
}
input.verify-btn:hover {
	background: #132F45;
}