.new-design .software-tab-wrapper ul.project-tabs li.active a{
    background: #F3F7FB;
}

.osdays-hero {
    background: url('/themes/openstack/images/osdays/days-hero-bkgd.jpg') no-repeat top center;
    background-size: cover;
    text-align: center;
    border-bottom: 1px solid #DFE2E5
}

.osdays-hero h1 {
    color: #2b4e68;
    font-weight: 400;
    font-size: 34px;
    margin: 4px 0 19px;
}

.osdays-hero .osdays-logo {
    margin: 19px 0 1px;
}

.days-pretext{
    text-align: center;
    font-size: 14px;
    color: #2a4e68;
    margin: 47px 0 27px;
}
.days-pretext a{
    color: #4a90e2;
    text-decoration: underline;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev{
    background: url('/themes/openstack/images/osdays/arrow-right.png') no-repeat center;
    opacity: 0.5;
    height: 18px;
    background-size: contain;
    left: -30px;
}
.slick-prev:hover{
    background: url('/themes/openstack/images/osdays/arrow-right.png') no-repeat center;
    opacity: 1;
    background-size: contain;
}
.slick-prev:before{
    content: "";
}
.slick-next{
    background: url('/themes/openstack/images/osdays/arrow-left.png') no-repeat center;
    opacity: 0.5;
    height: 18px;
    background-size: contain;
    right: -30px;
}
.slick-next:hover{
    background: url('/themes/openstack/images/osdays/arrow-left.png') no-repeat center;
    opacity: 1;
    background-size: contain;
}
.slick-next:before{
    content: "";
}
.slick-slide img {
    display: inline-block;
}
.slick-slide{
    text-align: center;
}
.slick-slider{
    margin-bottom: 65px
}

.more-img{
    background: url('/themes/openstack/images/osdays/arrow-left.png') #EDF2F7 no-repeat left 13px center;
    padding: 8px 17px;
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
    margin-left: 20px;
    margin-right: 25px;
    /* display: inline-block !important; */
    background-size: 10px auto;
}
.text-right{
    text-align: right;
    vertical-align: top;
}
.text-right a{
    display: inline-block;
}
.osdays-event a{
    text-decoration: underline;
}
.osdays-event{
    color: #070707
}
.software-tab-wrapper {
    width: 100%;
    border-bottom: 1px solid #D4DCE5;
}
.software-tab-wrapper ul.project-tabs {
    margin: 0;
    border-bottom: 0;
}
.software-tab-wrapper ul.project-tabs li {
    float: left;
    margin-bottom: -1px;
    position: relative;
}
.software-tab-wrapper ul.project-tabs li.active a {
    background: #edf2f7;
    border-right: 1px solid #D4DCE5;
    border-top: 2px solid #248EC7;
    border-left: 1px solid #D4DCE5;
    color: #2A4E68;
}
.software-tab-wrapper ul.project-tabs li a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 0;
    position: relative;
    display: block;
    padding: 15px 30px;
    font-size: 12px;
    color: #698296;
    text-transform: uppercase;
    font-weight: 400;
}
.tab-page {
    background-color: #f3f7fb;
    padding: 43px 0;
}
.tab-page .container {
    padding: 35px 36px;
}
.tab-page .container {
    background: #fff;
    color: #2A4E68;
}

.text-center {
    text-align: center;
}

.tab-page .row img {
    max-width: 100%;
    width: 100%;
}
.osdays-page img {
    margin-bottom: 7px;
}

.inner-osdays .osdays-event .osd-date{
    position: relative;
    top: -4px;
}
.osdays-events .row {
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.osdays-events{
    margin: 52px 0 0;
}
.inner-osdays .osdays-event:last-child{
    border: 0px !important;
    margin-bottom: 0px;
}
.slick-slide img{
    width: 100%;
}
.slick-initialized .slick-slide{
    margin: 0 5px
}
.blue-link{
    color: #4a90e2;
    text-decoration: underline;
}
.mr5-30{
    margin: 13px 0 40px
}
.osdays-page .tab-title{
    margin: 15px 0 30px;
}
.tab-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #2a4e68;
    margin: 15px 0;
}
.osdays-page img{
    margin-bottom: 7px
}
.osdays-page span.hr{
    margin: 24px 0 40px;
}
.font-13{
    font-size: 13px;
    display: block;
}
.font-12{
    font-size: 12px;
    display: block;
}

.more-events a{
    padding: 4px 10px;
    background-color: #edf2f7;
    border-radius: 4px;
    font-size: 13px;
}
.more-events{
    margin-top: 55px
}
.light-blue{
    color: #248ec7;
    text-decoration: underline;
}
.dark-blue {
    background: url('/themes/openstack/images/osdays/arrow-white-left.png') #0C1722 no-repeat right 15px center;
    background-size: 8px auto;
    border-radius: 4px;
    color: #fff !important;
    padding: 6px 35px 6px 20px;
    margin: 35px 0 0;
    display: inline-block;
}
.dark-blue:hover{
    text-decoration: none;
}
.hostan-page p{
    margin-bottom: 15px;
}
.hostan-page span.hr{
    margin: 40px 0;
}
span.hr {
    height: 1px;
    background: #f1f1f1;
    display: block;
    margin: 12px 0 32px;
    clear: both;
}
.hostan-page .brl1{
    margin-top: 0px;
}
.hostan-page .col-md-4{
    padding-top: 13px;
    padding-bottom: 10px;
    min-height: 60px;
}
a.download {
    background-color: #A51B1B;
    border-radius: 4px;
    padding: 5px 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
}
a.download:hover {
    text-decoration: none;
}
.host-an .download {
    margin-bottom: 2px;
}
.host-an .download, .software .download, .colateral .download {
    float: right;
}
.brl1 {
    border-left: 1px solid #D3DEE9;
    padding-left: 27px;
    margin-top: 20px;
}
.blue-title {
    color: #248ec7;
    font-size: 25px;
    font-weight: 400;
    margin-top: 2px;
}

.hostan-page .blue-title{
    margin-top: 28px;
    margin-bottom: 10px;
}
.margin24-0{
    margin: 24px 0 !important;
}
.margin0-0-24{
    margin: 0 0 24px 0 !important;
}
.host-an .download{
    margin-bottom: 2px
}
.mrtop20{
    margin-top: 25px;
}
.to-top a{
    display: inline;
}
.slider-container{
    padding: 0px;
}
.osdays-event .col-sm-4.col-xs-4{
    font-weight: bold;
}
.osdays-event .col-sm-3.col-xs-3{
    font-style: italic;
}
.content-list {
    padding: 0px;
}
.content-list li {
    display: inline-block;
    padding: 0px 41px 35px 0;
    list-style-type: none;
}
.inner-osdays .osdays-event .osd-date {
    background: #fff;
    border: 2px solid #DA422F;
    border-radius: 4px;
    padding: 5px 10px;
    color: #DA422F;
    width: auto;
    font-size: 10px;
    text-align: center;
    max-width: 150px;
}
.osdays-events .row {
    border-bottom: 1px solid #D4DCE5;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: block;
}
.featured_event {
    margin-top: 15px;
}
@media (max-width: 991px){
    .brl1{
        border: 0px;
        padding-left: 15px;
        margin-top: 30px;
    }
    .inline-images{
        height: 75px;
        overflow: hidden;
    }
    .inline-images img{
        height: 100%;
        width: auto;
    }
}
@media (max-width: 991px){
    .brt1 .col-md-10.col-sm-9{
        padding: 0px;
    }
}
@media (max-width: 480px){
    .slider-container{
        padding: 0 35px;
    }
    .more-img{
        display: none !important;
    }
    .image-logo{
        vertical-align: top;
        padding-top: 4px !important
    }
    .brl1{
        border: 0px;
        padding-left: 15px;
        margin-top: 30px;
    }
    .tab-menu .active a{
        border-bottom: 1px solid #D3DEE9
    }
    .page-descr{
        width: 100%;
    }
    .tab-menu li {
        display: inline-block;
        list-style-type: none;
        padding: 0 0px;
        width: 50%;
        box-sizing: border-box;
        margin: 0px;
        float: left;
    }
    .tab-menu li:nth-child(odd) {
        clear: both;
    }
    .tab-menu a{
        padding: 10px;
    }
    .tab-page .container{
        padding: 20px;
    }
    .row .pd-8{
        padding: 0 15px;
        margin-bottom: 25px;
    }

    .content-list li{
        width: 50%;
        float: left;
        box-sizing: border-box;
        padding: 0px 20px 35px 0
    }
    .content-list li:nth-child(even){
        padding-right: 0px;
        padding-left: 20px;
    }
    .content-list li:nth-child(odd){
        clear: both;
    }
    .inline-images img {
        padding: 5px 1% 15px 0px;
        max-width: 49%;
        box-sizing: border-box;
        margin: 0px;
    }
    .tab-page{
        border: 0px;
    }
}