#event-registration-requests-table{
    border: 1px solid #ccc;
    border-collapse:collapse;
    clear:both
}


#event-registration-requests-table thead th {
    background: none repeat scroll 0 0 #FFFFFF;
}


.title {
    max-width: 200px;
}

.location {
    max-width: 100px;
}

.sponsor {
    max-width: 100px;
}

.rss-event {
    font-weight: bold;
    font-size: 10px;
    padding: 4px;
    background-color: #FF9966;
    color: white;
    margin-right: 3px;
}