.header-area{
  margin-top:15px;
}

.header-area .span-23{
  padding-top:12px;
}

.header-area .span-23 h1{
  font-size:240%;
  margin-left:10px;
}

h2{
  color:#C43322!important;
  margin-top:50px;
}

ul.marketplace-nav{
  margin:0;
  padding:0;
  text-align: center;
  margin-bottom: 10px;
}

ul.marketplace-nav li:first-child{
  padding-left:0;
}
@media (max-width: 680px) {
  ul.marketplace-nav li:first-child{
    padding-left:0.5em;
  }
}
@media (max-width: 1000px) {
  ul.marketplace-nav li a {
    width: auto;
  }
}
@media (max-width: 680px) {
  ul.marketplace-nav li a {
    width: 100%;
  }
}

ul.marketplace-nav a span{
  background:url("/marketplace/code/ui/frontend/images/marketplace-icons.png") no-repeat scroll 0 0 rgba(0,0,0,0);
  display:block;
  height:50px;
  margin:auto;
  width:40px;
}

ul.marketplace-nav #training a span{
  background-position:0 0;
}

ul.marketplace-nav #distros a span{
  background-position:-50px 0;
}

ul.marketplace-nav #public-clouds a span{
  background-position:-150px 0;
}

ul.marketplace-nav #private-clouds a span{
  background-position:-250px 0;
}

ul.marketplace-nav #consulting a span{
  background-position:-100px 0;
}

ul.marketplace-nav #drivers a span{
  background-position:-200px 0;
}

ul.marketplace-nav #training.current a span{
  background-position:0 -50px;
}

ul.marketplace-nav #distros.current a span{
  background-position:-50px -50px;
}

ul.marketplace-nav #public-clouds.current a span{
  background-position:-150px -50px;
}

ul.marketplace-nav #private-clouds.current a span{
  background-position:-250px -50px;
}

ul.marketplace-nav #consulting.current a span{
  background-position:-100px -50px;
}

ul.marketplace-nav #drivers.current a span{
  background-position:-200px -50px;
}

ul.marketplace-nav a{
  color:#848575;
  display:block;
  padding-bottom:5px;
  text-decoration:none;
}

ul.marketplace-nav a:active,ul.marketplace-nav a:hover{
  color:#E92D10;
}

.back-label {
    margin: 15px 0; }
.back-label a:hover {
    text-decoration: none;
    color: #2A4E68; }
.back-label a:before {
    content: "<";
    padding-right: 10px; }

.marketplace-content h3 {
    margin-bottom: 30px; }
.marketplace-content h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600; }

.marketplace-body {
    border-left: 1px solid #eee;
    margin-bottom: 30px; }

.marketplace-bottom-right {
    border-left: 1px solid #eee; }

.marketplace-body h1 {
    text-align: left;
    margin-bottom: 20px; }

.marketplace-details-btn {
    float: right;
    color: white;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 40px 0 20px;
    border-radius: 4px; }

@media (max-width: 767px) {
    .info-area h1 {
        margin-bottom: 10px; }
    .marketplace-details-btn {
        float: none;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px 30px;
        margin: 20px 0;
        border-radius: 4px;
        display: block;
        text-align: center; } }

.powered-wrapper {
    margin-top: 20px;
    margin-bottom: 30px; }

.powered-image {
    float: left;
    margin-right: 20px; }

.powered-description {
    color: #2A4E68;
    font-weight: 400;
    font-size: 13px; }
.powered-description.federated-identity {
  padding-top: 15px;
}
.powered-description a {
    color: #29abe2;
    text-decoration: underline; }

.services-table-wrapper {
    background: #edf2f7;
    border-radius: 4px;
    padding: 30px;
    margin: 10px 0 30px; }
.services-table-wrapper h3 {
    margin: 0 0 30px 0; }

table.marketplace-services-table {
    width: 100%; }
table.marketplace-services-table th {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center; }
table.marketplace-services-table th:first-child {
    text-align: left; }
table.marketplace-services-table td {
    width: 33%;
    padding: 5px 0;
    text-align: center;
    color: #56646e; }
table.marketplace-services-table td:first-child {
    text-align: left; }
table.marketplace-services-table td:last-child i {
    color: #29abe2;
    font-size: 1.5em; }
table.marketplace-services-table td:last-child i.none {
    color: #aaa; }

.info-area {
    margin-bottom: 30px; }
.info-area ul {
    margin: 0;
    padding: 0; }
.info-area ul li {
    list-style: none; }

.tested-badge-wrapper {
    float: left;
    margin-bottom: 20px; }

.tested-badge {
    background: #24C720;
    padding: 0 8px;
    border-radius: 4px;
    float: left;
    margin-right: 5px; }

.tested-icon {
    float: left;
    border-right: 1px solid white;
    padding: 3px 5px 3px 0; }
.tested-icon i {
    color: white; }

.tested-text {
    float: left;
    color: white;
    padding: 3px 0 0 5px;
    text-transform: uppercase; }

.tested-description {
    font-size: 0.9em;
    font-style: italic;
    padding-top: 3px;
    float: left; }

.test-details-list {
    background: #edf2f7;
    border-radius: 4px;
    float: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease; }
.test-details-list h4 {
    text-align: center;
    margin-top: 20px; }

.test-details-list.open {
    max-height: 1000px;
    transition: max-height 1s ease; }

.test-details-list table {
    width: 90%;
    margin: 20px auto 30px;
    background: white;
    border: 2px solid #29abe2; }
.test-details-list table thead {
    background: #29abe2;
    color: white; }
.test-details-list table thead tr:last-child td:first-child {
    border-bottom-left-radius: 10px; }
.test-details-list table thead tr:hover {
    background: #29abe2; }
.test-details-list table thead th {
    padding: 10px 20px;
    font-weight: 600;
    text-transform: uppercase; }
.test-details-list table tr:hover {
    background: #f9f9f9; }
.test-details-list table tr td {
    padding: 9px 30px;
    font-size: 0.9em;
    color: #555; }
.test-details-list table tr td:last-child {
    text-align: right;
    width: 20%; }
.test-details-list table tr td i {
    color: #24C720;
    font-size: 1.3em; }

/*New review widget*/
.review_list_div, .review_form_div {
    background: #edf2f7;
    border-radius: 4px;
    padding: 20px 20px 40px; }

.review_list_div {
    height: 514px;
    overflow-y: auto;
}

.review_top_buttons input[type="button"] {
    background: white;
    -webkit-appearance: none;
    border-width: 1px 1px 0 1px;
    border-color: #edf2f7;
    border-style: solid;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.9em; }
.review_top_buttons input[type="button"]:hover {
    background: #D4DCE5; }

.review_top_buttons input[type="button"].active {
    background: #edf2f7;
    -webkit-appearance: none;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.9em; }

.review {
    border-bottom: 1px solid #D4DCE5;
    padding-bottom: 10px;
    margin-top: 10px; }

.review_form_div fieldset {
    border: none;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }

.field.text input, .field.text textarea {
    background: white;
    border: 2px solid #D4DCE5;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 20px;
    width: 100%; }

.field.text {
    margin-bottom: 10px; }
.field.text p {
    font-size: 0.9em;
    font-style: italic; }

.Actions input.action {
    background: #2A4E68;
    padding: 10px 35px;
    border-radius: 2px;
    color: #fff !important;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    margin: 10px 0 0; }
.Actions input.action:hover {
    background: #0C1722; }

.rating-loading {
    width: 25px;
    height: 25px;
    font-size: 0;
    color: #fff;
    background: transparent url(../img/loading.gif) top left no-repeat;
    border: none; }

.rating-fa {
    font-family: FontAwesome;
    padding-left: 1px; }

.rating-fa .rating-stars:before {
    padding-left: 1px; }

.rating-gly {
    font-family: 'Glyphicons Halflings'; }

.rating-gly-star {
    font-family: 'Glyphicons Halflings';
    padding-left: 2px; }

.rating-gly-star .rating-stars:before {
    padding-left: 2px; }

input#name-term, input#topic-term {
  height: 40px;
  width: 250px;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  color: #30739C;
  border-radius: 4px;
  margin-right: 5px; }

.training-program-box {
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 4px;
  min-height: 200px;
  border-left: 3px solid #DA422F; }
ul.training-updates {
  margin: 0;
  padding: 0;
}
ul.training-updates li {
  list-style: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #edf2f7;
  margin-bottom: 10px;
}
ul.training-updates li:last-child {
  border-bottom: none;
}
ul.training-updates li p.date-block {
  font-style: italic;
  margin-bottom: 2px;
}
.course-area table {
  text-align: left;
  width: 100%;
  font-size: 90%;
}
table.course-schedule {
  margin: 20px 0;
  background: #edf2f7;
}
table.course-schedule tr th, table.course-schedule tr td{
  padding: 5px 10px;
}
table.course-schedule tr:last-child td {
  padding-bottom: 20px;
}
.training-course-table table {
  width: 100%;
}
.training-course-table a.outbound-link {
  color: white;
  padding: 2px 3px;
  border-radius: 4px;
  display: block;
  text-align: center;
  margin-bottom: 3px;
}
.training-course-table table .location {
  font-style: normal;
  font-weight: bold;
}
.course-description span.beginner, .course-description span.intermediate, .course-description span.advanced {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.course-description span.beginner {
  color: #89B54C;
}
.course-description span.intermediate {
  color: #F07E46;
}
.course-description span.advanced {
  color: #B92B27;
}
.rating-lg .rating-gly-star, .rating-lg .rating-gly-star .rating-stars:before {
    padding-left: 4px; }


.rating-xl .rating-gly-star, .rating-xl .rating-gly-star .rating-stars:before {
    padding-left: 2px; }

.rating-active {
    cursor: default; }

.rating-disabled {
    cursor: not-allowed; }

.rating-uni {
    font-size: 1.2em;
    margin-top: -5px; }

.rating-container {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #e3e3e3;
    overflow: hidden; }

.rating-container:before {
    content: attr(data-content); }

.rating-container .rating-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
    transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out; }

.rating-container .rating-stars:before {
    content: attr(data-content);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }

.rating-container-rtl {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    color: #fde16d; }

.rating-container-rtl:before {
    content: attr(data-content);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7); }

.rating-container-rtl .rating-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #e3e3e3;
    transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out; }

.rating-container-rtl .rating-stars:before {
    content: attr(data-content); }

.rating-xl {
    font-size: 4.89em; }

.rating-lg {
    font-size: 3.91em; }

.rating-md {
    font-size: 3.13em; }

.rating-sm {
    font-size: 2.5em; }

.rating-xs {
    font-size: 2em; }

.star-rating .clear-rating, .star-rating-rtl .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    display: inline-block;
    vertical-align: middle;
    font-size: 60%; }

.clear-rating-active {
    cursor: pointer !important; }

.clear-rating-active:hover {
    color: #843534; }

.star-rating .clear-rating {
    padding-right: 5px; }

.star-rating .caption, .star-rating-rtl .caption {
    color: #999;
    display: inline-block;
    vertical-align: middle;
    font-size: 55%; }

.star-rating .caption {
    padding-left: 5px; }

.star-rating-rtl .caption {
    padding-right: 5px; }

.marketplace-training-sidebar {
    border-left: 1px solid #edf2f7;
    padding: 5px;
}

.chosen-container-single .chosen-single {
    box-shadow: none !important;
    color: #30739c !important;
    height: 40px !important;
    padding: 8px 10px !important;
    background: white !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 4px !important;
}
.chosen-container-single .chosen-single:before {
  content: '';
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  pointer-events: none;
  display: block; 
}
.chosen-container-single .chosen-single:after {
    content: '>';
    color: #30739C;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 20px;
    top: 5px;
    padding: 0 0 6px;
    border-bottom: 1px solid #e8e8e8;
    position: absolute;
    pointer-events: none;
    font-size: 14px;
    font-weight: 400; 
}
.chosen-container-single .chosen-drop {
  margin-top: 1px !important;
  border-radius: 4px !important;
  border: 1px solid #e8e8e8 !important;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #2A4E68 !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A4E68', endColorstr='#2A4E68', GradientType=0 ) !important;  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #2A4E68), color-stop(90%, #2A4E68)) !important;
  background-image: -webkit-linear-gradient(top, #2A4E68 20%, #2A4E68 90%) !important;
  background-image: -moz-linear-gradient(top, #2A4E68 20%, #2A4E68 90%) !important;
  background-image: -o-linear-gradient(top, #2A4E68 20%, #2A4E68 90%) !important;
  background-image: -ms-linear-gradient(top, #2A4E68 20%, #2A4E68 90%) !important;
  background-image: linear-gradient(top, #2A4E68 20%, #2A4E68 90%) !important;
  color: #fff;
}

/*End New review widget*/

/*App Promo Banner*/
a.app-promo-banner {
  background: url('/themes/openstack/images/marketplace/apps-promo-banner.jpg') center center no-repeat;
  display: block;
  width: 100%;
  height: 50px;
}
@media (max-width: 1200px) {
  a.app-promo-banner {
    background: url('/themes/openstack/images/marketplace/apps-promo-banner-940.jpg') center center no-repeat;
  }  
}
@media (max-width: 990px) {
  a.app-promo-banner {
    background: url('/themes/openstack/images/marketplace/apps-promo-banner-720.jpg') center center no-repeat;
  }  
}
@media (max-width: 767px) {
  a.app-promo-banner {
    background: url('/themes/openstack/images/marketplace/apps-promo-banner-474.jpg') center center no-repeat;
  }  
}
/*End App Promo Banner*/

#releaseTable tr td:nth-child(3) {
  width: 55%;
}
@media (max-width: 767px) {
  #releaseTable tr td:nth-child(3) {
    width: auto;
  }
}

/* driver page */

/*i.fa-check-square {
    color: #30c530;
    font-size: 1.3em;
    display: inline-block;
}

.tested-listing-title {
    color: #30c530;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    display: inline-block;
    margin-left: 2px;
}*/

