/*Marketplace Page*/
h2.marketplace-header {
  border-left: 3px solid #DA422F;
  line-height: 1.2em;
  margin: 30px 20px;
  padding-left: 15px;
  font-size: 1.5em; }

.build-use-box {
  background: #edf2f7;
  border-radius: 4px;
  margin-bottom: 30px;
  min-height: 25em;
  padding: 20px; }

.build-use-box h3 {
  margin-bottom: 20px; }

.build-use-box ul {
  padding-left: 20px; }

.marketplace-description {
  margin-top: 50px; }

.video {
  width: 100%; }

.video iframe {
  width: 100%;
  height: 225px; }

.program-logos {
  border-top: 1px solid #eee;
  margin-top: 60px;
  padding-top: 60px; }

.ecosystem-wrapper {
  padding-left: 30px;
  border-left: 1px solid #eee; }

.marketplace-top-wrapper {
  padding: 20px 0 0; }

.marketplace-brand {
  margin-top: 20px;
  padding-left: 30px; }

h2.marketplace {
  margin-bottom: -7px;
  margin-top: 0;
  font-size: 18px;
  font-family: 'PT Sans', serif;
  font-style: normal;
  letter-spacing: -0.076em;
  line-height: 1em; }

h2.marketplace a, h2.marketplace a:hover {
  color: #5B83A0;
  text-decoration: none; }

h1.marketplace {
  font-size: 24pt;
  margin-top: 5px;
  text-align: left; }

h1.marketplace:hover {
  text-decoration: none; }

h1.marketplace a, h1.marketplace a.visited {
  color: #264D69;
  font-family: 'PT Sans', serif;
  font-style: normal;
  letter-spacing: -0.076em;
  line-height: 1em; }

.grey-bar {
  background-color: #edf2f7;
  margin-bottom: 40px;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 10px; }

ul.marketplace-nav {
  padding: 0;
  margin: 0; }

ul.marketplace-nav li {
  border-right: 1px solid #e8e8e8;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-transform: uppercase;
  width: 130px;
  height: 96px;
  vertical-align: top;
  text-align: center; }

ul.marketplace-nav li:last-child {
  border-right: none; }

@media (min-width: 680px) and (max-width: 1000px) {
  ul.marketplace-nav li {
    width: 100px;
    height: 110px; }
  ul.marketplace-nav li a {
    font-size: 10px; } }

@media (max-width: 680px) {
  ul.marketplace-nav li {
    display: block;
    float: left;
    border-right: none;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    vertical-align: middle; } }

ul.marketplace-nav li a {
  color: #848575;
  text-decoration: none;
  font-size: 12px;
  vertical-align: middle;
  width: 115px;
  text-align: center; }

@media (max-width: 680px) {
  ul.marketplace-nav li a {
    padding: 0;
    vertical-align: middle;
    float: left;
    width: 100%;
    text-align: left; } }

ul.marketplace-nav a:hover {
  color: #DA422F; }

ul.marketplace-nav a span {
  background: url("http://openstack.org/marketplace/code/ui/frontend/images/marketplace-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  height: 50px;
  margin: auto;
  width: 40px;
  text-align: center; }

@media (max-width: 680px) {
  ul.marketplace-nav a span {
    display: table-cell;
    vertical-align: middle;
    float: left; } }

ul.marketplace-nav #training a span {
  background-position: 0 0; }

ul.marketplace-nav #distros a span {
  background-position: -50px 0; }

ul.marketplace-nav #public-clouds a span {
  background-position: -150px 0; }

ul.marketplace-nav #private-clouds a span {
  background-position: -250px 0; }

ul.marketplace-nav #consulting a span {
  background-position: -100px 0; }

ul.marketplace-nav #drivers a span {
  background-position: -200px 0; }

ul.marketplace-nav .current a {
  color: #DA422F; }

/*End Marketplace Page*/
/*Marketplace Listing Page*/
.product-box {
  border: 1px solid #E8E8E8;
  margin-bottom: 30px;
  padding: 30px 20px;
  border-radius: 4px;
  min-height: 200px;
  border-left: 3px solid #DA422F; }

.logo-area {
  padding-top: 20%;
  padding-left: 10px; }

@media (max-width: 767px) {
  .logo-area {
    padding-top: 0;
    padding-left: 0; } }

.company-details-area h4 {
  text-transform: uppercase;
  font-weight: 300; }

.details-button {
  background: url("http://openstack.org/marketplace/code/ui/frontend/images/register-arrow.png") no-repeat scroll 85% center #000000;
  color: #FFFFFF !important;
  display: inline-block;
  margin-right: -10px;
  padding: 10px 2%;
  text-align: left;
  text-transform: uppercase;
  width: 100px;
  font-size: 12px;
  border-radius: 4px; }

.filter-label {
  background: url("/images/marketplace-search-icon.png") no-repeat scroll left 7px rgba(0, 0, 0, 0);
  color: #30739C;
  float: left;
  margin-bottom: 0;
  margin-top: 5px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 8px;
  text-transform: uppercase;
  font-size: 12px; }

input#name-term {
  height: 40px;
  width: 250px;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #e8e8e8;
  color: #30739C;
  border-radius: 4px; }

input#name-term::-webkit-input-placeholder {
  color: #30739C;
  font-size: 12px; }

select#service-term {
  height: 40px;
  width: 200px;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  color: #30739C;
  background: #fff;
  border: 1px solid #e8e8e8;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400; }

label#service-label {
  position: relative; }

label#service-label:after {
  content: '>';
  color: #30739C;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 14px;
  top: 6px;
  padding: 0 0 6px;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  pointer-events: none;
  font-size: 14px;
  font-weight: 400; }

label#service-label:before {
  content: '';
  right: 6px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  position: absolute;
  pointer-events: none;
  display: block; }

@media (max-width: 767px) {
  .filter-label {
    width: 100%;
    margin-bottom: 10px; }
  input#name-term {
    display: block;
    width: 100%;
    margin-bottom: 10px; }
  select#service-term {
    min-width: 400px; } }

ul.resource-links {
  padding: 0;
  margin: 0 0 30px; }

ul.resource-links li {
  list-style: none;
  display: block; }

ul.resource-links li a {
  background-image: url('/images/resource-link-icon.png');
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-color: #edf2f7;
  padding: 15px 15px;
  margin: 0 0 5px;
  display: block;
  border-radius: 4px; }

ul.resource-links li a:hover {
  text-decoration: none;
  background-color: #DAE1EB; }

.add-your-course {
  border-radius: 4px;
  border: 1px solid #30739C;
  background: #fff;
  padding: 20px;
  font-size: 13px; }