#job-registration-requests-table,#posted-jobs-table{
    border: 1px solid #ccc;
    border-collapse:collapse;
    clear:both
}


#job-registration-requests-table thead th {
    background: none repeat scroll 0 0 #FFFFFF;
}

#posted-jobs-table th,td {
    padding: 5px;
}

#posted-jobs-table .title {
    width: 28%;
}

#posted-jobs-table .post-date {
    width: 10%;
}

#posted-jobs-table .url {
    width: 5%;
}

#posted-jobs-table .company-name {
    width: 20%;
}

#posted-jobs-table .location_type {
    width: 10%;
}

#posted-jobs-table .is_foundation {
    width: 10%;
    text-align: center;
}

#posted-jobs-table .buttons {
    width: 17%;
}


#job-registration-requests-table .title {
    max-width: 150px;
}

#job-registration-requests-table .post-date {
    max-width: 150px;
    min-width: 70px;
}