@import url(//db.onlinewebfonts.com/c/3b2646a48566403a55f62ceddbecbe18?family=Hiragino+Sans+GB);

@font-face {font-family: "Hiragino Sans GB";
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot");
    src: url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/3b2646a48566403a55f62ceddbecbe18.svg#Hiragino Sans GB") format("svg");


.what-to-expect2 {
    padding: 4em 0;
}

.what-to-expect2 .video-container {
    padding: 0;
    margin: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.what-to-expect2 .video-container .video {
  background: url("../summit/images/thumb_video.jpg") center top no-repeat;
  background-size: cover;
  width: 100%;
  /*height: 20em;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: inherit; }

.what-to-expect2 .text-container .attends {
  padding: 0;
  margin: 1em 0 0 0; }

.what-to-expect2 .text-container .attends li {
  display: inline-block;
  width: 25%;
  float: left;
  max-width: 25%;
  text-align: center;
  color: #ed1944; }

.what-to-expect2 .text-container .attends li span {
  background: center top no-repeat;
  width: 100%;
  height: 4em;
  display: inline-block;
  margin: 1em 0;
  background-size: contain; }


.what-to-expect2 {
  background-color: #000;
  color: #fff; }

.what-to-expect2 h3 {
  color: #fff;
  text-align: center;
  margin: 0 0 2em; }

.what-to-expect2 .text-container {
  background-color: #00468B;
  color: #fff;
  min-height: 20em;
  padding: 3em 4em; }

.what-to-expect2 .text-container h4 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 1.5em; }

.what-to-expect2 .text-container a, .what-to-expect2 .text-container a:visited, .what-to-expect2 .text-container a:hover {
  color: #fff;
  padding: 0;
  margin-top: 1em;
  text-decoration: none; }

.what-to-expect2 .text-container a:hover {
  text-decoration: underline; }

.what-to-expect2 .video-container .video {
  background-size: cover !important; }


  .what-to-expect2 .video-container .video.first {
  background: url(../summit/images/home/what-1.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.second {
  background: url(../summit/images/home/what-2.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.third {
  background: url(../summit/images/home/what-3.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.last {
  background: url(../summit/images/home/what-4.jpg) center top no-repeat; }

.what-to-expect2 .image {
  background: url(../summit/images/home/who.jpg) center no-repeat;
  background-size: cover; }

.what-to-expect2 .row {
    margin: 0; }

.diverse .image {
    padding: 0;
    background-size: cover;
    max-height: 620px;
    min-height: 530px;
}

.diverse {
    background-color: #00468B;
    padding: 0;
    height: 80vh;
    text-align: left;
    max-height: 620px;
    min-height: 600px;
}

.about-summit-header h2 {
    font-size: 80px;
}
