.img-wrapper {
  text-align:center;
  height:120px;
}

.small_logo_tiny {
  max-width: 120px !important;
  max-height: 107px !important;
  padding: 10px; }

.small_logo {
  max-height: 107px !important;
  padding: 10px; }

.big_logo {
  max-width: 300px !important;
  height:170px;
  padding: 30px; }
