#job-registration-requests-table,#posted-jobs-table{
    border: 1px solid #ccc;
    border-collapse:collapse;
    clear:both
}


#job-registration-requests-table thead th {
    background: none repeat scroll 0 0 #FFFFFF;
}

#posted-jobs-table thead th {
    background: none repeat scroll 0 0 #FFFFFF;
}

#posted-jobs-table .title {
    max-width: 150px;
}

#posted-jobs-table .post-date {
    width: 70px;
}

#job-registration-requests-table .title {
    max-width: 150px;
}

#job-registration-requests-table .post-date {
    max-width: 150px;
    min-width: 70px;
}