
.what-to-expect2 .row {
  margin: 0; }

.what-to-expect2 {
    padding: 4em 0;
}

.row-eq-height {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

}

.what-to-expect2 a {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

/* .what-to-expect2 .video-container, .what-to-expect2 .text-container {
    width: 50%;
    display: inline-block;
    float: left;

    @media (max-width: 1024px) {
        width: 100%;
    }
} */

.what-to-expect2 .video-container {
    padding: 0;
    margin: 0;
}
.what-to-expect2 .video-container {
  margin-bottom: 3em; }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.what-to-expect2 .video-container .video {
  background: url("../images/thumb_video.jpg") center top no-repeat;
  background-size: cover;
  width: 100%;
  /*height: 20em;*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: inherit; }

.what-to-expect2 .text-container .attends {
  padding: 0;
  margin: 1em 0 0 0; }

.what-to-expect2 .text-container .attends li {
  display: inline-block;
  width: 25%;
  float: left;
  max-width: 25%;
  text-align: center;
  color: #ed1944; }

.what-to-expect2 .text-container .attends li span {
  background: center top no-repeat;
  width: 100%;
  height: 4em;
  display: inline-block;
  margin: 1em 0;
  background-size: contain; }

.what-to-expect2 .text-container .attends li span.architecture {
  background-image: url("../images/stock-red.svg"); }

.what-to-expect2 .text-container .attends li span.platform {
  background-image: url("../images/cell-red.svg"); }

.what-to-expect2 .text-container .attends li span.bussiness {
  background-image: url("../images/suitcase-red.svg"); }

.what-to-expect2 .text-container .attends li span.upstream {
  background-image: url("../images/code-red.svg"); }


.what-to-expect2 {
  background-color: #000;
  color: #fff; }

.what-to-expect2 h3 {
  color: #fff;
  text-align: center;
  margin: 0 0 2em; }

.what-to-expect2 .text-container {
  background-color: #00468B;
  color: #fff;
  min-height: 20em;
  padding: 3em 4em; }

.what-to-expect2 .text-container h4 {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 1.5em; }

.what-to-expect2 .text-container a, .what-to-expect2 .text-container a:visited, .what-to-expect2 .text-container a:hover {
  color: #fff;
  padding: 0;
  margin-top: 1em;
  text-decoration: none; }

.what-to-expect2 .text-container a:hover {
  text-decoration: underline; }

.what-to-expect2 .video-container .video {
  background-size: cover !important; }

.what-to-expect2 .video-container .play .video.first {
  background: url(https://www.openstack.org/summit/images/home/what-1.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.second {
  background: url(https://www.openstack.org/summit/images/home/what-2.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.third {
  background: url(https://www.openstack.org/summit/images/home/what-3.jpg) center top no-repeat; }

.what-to-expect2 .video-container .video.last {
  background: url(https://www.openstack.org/summit/images/home/what-4.jpg) center top no-repeat; }

.what-to-expect2 .image {
  background: url(https://www.openstack.org/summit/images/home/who.jpg) center no-repeat;
  background-size: cover; }

.what-to-expect2 .row {
    margin: 0; }
