
.row-space
{
    padding-top:5px;
    bottom-top:5px;
}

.clockpicker
{
    width: 150px;
}

.date{
    padding: 0;
    border: none;
    margin: 0;
}

.input-group.date
{
    width: 145px;
}

.alert
{
    padding: 5px;
    width: auto;
    max-width: 450px;
    z-index: 10;
}

.datepicker-dropdown {
    z-index: 999999;
}

.id_col {
    width: 5%;
}

.input_col {
    width: 45%;
}