#email-speakers {
    margin-top: 23px;
    color: grey !important;
}

.radio-inline {
    margin-top: 10px !important;
    margin-right: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.event_attachment {
    width:50px;
    margin: 10px;
}

.tag-container .bootstrap-tagsinput {
    width: 100%;
}

.attachment-container{
    padding: 5px;
}

.speakers-container .tag {
    cursor: pointer;
}

.speakers-container .tag:hover {
    text-decoration: underline;
}

.moderator-container .tag {
    cursor: pointer;
}

.moderator-container .tag:hover {
    text-decoration: underline;
}

.published-flag {
    text-align: center;
    color: green;
    font-size: 20px;
}

.not-published-flag {
    text-align: center;
    color: red;
    font-size: 20px;
}