.presentation-search {
	padding:10px;
	background:#ddd;
	border-radius:5px;
	margin:10px 0;
}

.category-dropdown {	
	display:block;
	> .btn {
		float:none;
		width:100%;
	}
	.dropdown-menu {
		width:100%;
		li {
			display:block;
			a {
				font-size:12px;
				padding:4px;
				cursor:pointer;
				&:hover {
					background:#ddd;
				}				
			}
		}
	}
}
.initials {
	background: #eee;
	border-radius:999px;
	color:#333;
	padding:8px;
	font-size:16px;
	display:inline-block;
	width:38px;
	height:38px;
}

.scrollable-feed {
	.ibox-content {
		padding:0;
	}

	.feed-activity-list {
		.feed-element {
			margin:0;
			padding:0;
			border:0;
		}
  		> a {
  			padding: 15px 20px 20px 20px;
  			border-bottom: 1px solid #e7eaec;
  			color:inherit;
  			cursor:pointer;
  			&.active {
  				background: #3A89D3;
  				color:white;
	  			small {
	  				color:white;
	  			}

  			}
  		}
	}

}
.contact-box {	
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
	.text-center {
		text-align:center;
	}
	.bio {
		margin:10px;
		line-height:2;
		text-align:left;
	}
}
.vote-item {
	/* Crazy thing needed to make the drag image work */
	[class^="col"] {
		position:static;
	}
}