/*Mascots Proposal landing*/
.mascots-hero {
	background: url('/themes/openstack/static/images/project-mascots/mascot-bkgd.jpg') no-repeat left center;
	background-size: cover; 
	margin-bottom: 60px;
}
.mascots-hero .intro-message {
	padding-bottom: 90px;
}
.mascots-hero .intro-message > h1 {
	margin: 90px 0 0;
}
.mascots-hero .intro-message > h2 {
	color: white;
	text-align: center;
	letter-spacing: -0.4px;
    font-size: 2.4em;
    font-weight: 400;
    margin: 5px 0 20px;
}
@media (max-width: 767px) {
	.mascots-hero .intro-message > h2 {
	    font-size: 1.5em;
	}
}
.mascots-intro {
	text-align: center;
	color: white;
	background: #248EC7;
	margin: 50px auto 30px;
	padding: 40px 0;
}
.mascots-intro h2 {
	color: white;
	text-align: center;
	margin-top: 0;
}
.mascots-intro a, mascots-intro a:hover, mascots-intro a:visited {
   font-size: 1em;
   border: 1px solid white;
   border-radius: 4px;
   padding: 10px 20px;
   display: inline-block;
   margin-right: 10px;
   margin-bottom: 10px;
   font-weight: 400;
   color: white;
   text-decoration:none;
   }
.mascots-intro a:last-of-type {
	margin-right: 0;
	margin-left: 10px;
}
@media (max-width: 767px) {
	.mascots-intro a {
		display: block;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.mascots-intro a:last-of-type {
		margin-right: 0;
		margin-left: 0;
		margin-top: 10px;
	}	
}
p.question, p.checklist-item-title {
    font-weight: 700;
    margin-bottom: 1px;
}
p.answer, p.checklist-item-details {
    margin-bottom: 20px;
}
img.example-project-logo {
	border: 1px solid #ccc;
	max-width: 950px;
	width: 100%;
}
/*End Mascots Proposal landing*/
