/*App Dev Home Page*/
.intro-header.appdev {
  background: url(/themes/openstack/images/appdev/hero-bg-blue.jpg) no-repeat center center;
  background-size: cover; }
  .intro-header.appdev .intro-message {
    text-align: center;
    padding-bottom: 30px; }
    .intro-header.appdev .intro-message h1 {
      text-align: center;
      margin-bottom: 30px; }
    .intro-header.appdev .intro-message p {
      text-align: center; 
      font-size: 20px;
      font-weight: 300;
    }
@media (max-width: 767px) {
  .intro-header.appdev .intro-message p {
    font-size: 16px;
  }
}

a.photo-credit {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: #fff;
  opacity: 0.7;
  font-size: 1.3em; }

.appdev-download-row {
  padding: 50px 0 60px;
  background: #29abe2; }
  .appdev-download-row h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300;
    color: white; }
  .appdev-download-row p {
    font-weight: 300;
    color: #edf2f7; }
  .appdev-download-row a.container-download-btn {
    background: #2A4E68;
    color: white;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    display: block;
    margin-top: 20px; }
    .appdev-download-row a.container-download-btn i {
      margin-left: 5px; }
    .appdev-download-row a.container-download-btn:hover {
      background: #0C1722;
      text-decoration: none; }

i.appdev-download-icon {
  color: #2A4E68;
  text-align: center; }

@media (max-width: 767px) {
  .appdev-download-row a.container-download-btn {
    margin-top: 30px; } }

.testimonial-row.appdev {
  background-color: #edf2f7; 
  margin-bottom: -50px;
}
  .testimonial-row.appdev blockquote {
    color: #2A4E68; }
  .testimonial-row.appdev blockquote:before, .testimonial-row.appdev blockquote:after {
    color: #D4DCE5; }

@media (max-width: 767px) {
  .testimonial-row.appdev blockquote:after {
    top: -50px;
  }
}

.why-ues-wrapper.appdev {
  padding: 60px 0 90px; }

.appdev-build-wrapper {
  text-align: center; }
  .appdev-build-wrapper h1 {
    font-weight: 300;
    margin-bottom: 20px; }
  .appdev-build-wrapper p {
    color: #2A4E68; }
    .appdev-build-wrapper p i {
      color: #D4DCE5; }
    .appdev-build-wrapper p a {
      text-decoration: underline; }
  .appdev-build-wrapper .appdev-build-row {
    margin-top: 30px; }
  .appdev-build-wrapper a.appdev-build-cover {
    display: block;
    margin-top: 15px; }
    .appdev-build-wrapper a.appdev-build-cover img {
      max-height: 200px; }

a.appdev-build-video {
  display: block;
  position: relative;
  margin: 10px auto 40px;
  max-width: 350px; }
  a.appdev-build-video .play-button {
    width: 30%;
    top: 30%; }
  a.appdev-build-video img {
    max-width: 100%; }

.appdev-apps-section {
  padding: 90px 0;
  background: white; }
  .appdev-apps-section h2 {
    font-weight: 300;
    margin: 0 0 10px; }
  .appdev-apps-section a.blue-btn {
    display: block;
    max-width: 300px;
    text-align: center;
    margin: 20px 0;
  }
  .appdev-apps-section a.blue-btn i {
    margin: 0 5px 0 0;
    font-size: 1.1em; }

.enterprise-why-icons.appdev {
  text-align: center; }
  .enterprise-why-icons.appdev h3 {
    font-size: 1.65em;
    margin: 0 auto 0px;
    max-width: 80%;
    min-height: 55px;
    line-height: 1.2em; }
    .enterprise-why-icons.appdev h3 a {
      color: #2A4E68;
    }
  .enterprise-why-icons.appdev i {
    font-size: 5em;
    color: #30739C;
    margin-bottom: 20px; }
    .enterprise-why-icons.appdev i:hover {
      color: #2A4E68;
    }
  .enterprise-why-icons.appdev p {
    color: #56646e;
    margin: auto;
    font-size: 1em; }

.appdev-quotes-wrapper {
  background: white;
  padding: 90px 0; }
  .appdev-quotes-wrapper .section-title-center {
    margin-bottom: 30px; }
    .appdev-quotes-wrapper .section-title-center h1 {
      margin-bottom: 40px; }
    .appdev-quotes-wrapper .section-title-center p {
      color: #2A4E68;
      margin-bottom: 40px; }
  .appdev-quotes-wrapper .appdev-quotes {
    padding: 0;
    text-align: center; }
    .appdev-quotes-wrapper .appdev-quotes blockquote {
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 1em;
      border: none;
      position: relative;
      color: #2A4E68;
      margin-bottom: 15px; }
    .appdev-quotes-wrapper .appdev-quotes h4 {
      font-size: 0.9em;
      font-weight: 600;
      color: #2A4E68;
      text-transform: uppercase; }
  .appdev-quotes-wrapper .appdev-quotes blockquote:before {
    color: #edf2f7;
    font-size: 5em;
    position: absolute;
    content: open-quote;
    top: -30px;
    left: -20px; }
  .appdev-quotes-wrapper .appdev-quotes blockquote:after {
    visibility: hidden;
    content: close-quote; }
    
  @media (max-width: 767px) {
    img.appdev-quote-logo {
      margin-bottom: 30px; 
    }
  }

.fixed-image.appdev {
  background-image: url('/themes/openstack/images/appdev/fixed-bkgd.jpg'); }

.video-wrapper.small .video-overlay {
  top: 20%; }
.video-wrapper.small .play-button {
  width: 30%;
  top: 20%; }
  .video-wrapper.small .play-button img {
    width: 100%; }

@media (max-width: 1199px) {
  .video-wrapper.small .video-overlay {
    top: 10%; } }

@media (max-width: 991px) {
  .video-wrapper.small .video-overlay {
    top: 0%; } }

@media (max-width: 767px) {
  .video-wrapper.small .video-overlay {
    top: 75%; } }

@media (max-width: 480px) {
  .video-wrapper.small .video-overlay {
    top: 30%; } }

.appdev-action-wrapper {
  text-align: center;
  padding: 40px 0 60px;
  background: #edf2f7; }
  .appdev-action-wrapper h1 {
    margin: 0 0 25px; }
  .appdev-action-wrapper p {
    text-align: center; }
  .appdev-action-wrapper a.appdev-marketplace-btn {
    display: block;
    max-width: 350px;
    background: #DA422F;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-transform: none;
    margin: 30px auto 0; }
    .appdev-action-wrapper a.appdev-marketplace-btn i {
      margin-left: 5px;
      font-size: 1.2em; }
    .appdev-action-wrapper a.appdev-marketplace-btn:hover {
      background: #A51B1B;
      text-decoration: none; }

i.appdev-try-icon {
  color: #2A4E68;
  font-size: 5em;
  margin-bottom: 15px; }

.border-left {
  position: relative; }
  .border-left:before {
    content: '';
    border-left: 1px solid #D4DCE5;
    height: 100%;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -15px; }

.featured-wrapper.appdev .video-wrapper.small {
  margin-bottom: 10px; }
.featured-wrapper.appdev p.video-title {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  color: #2A4E68; }

/*End App Dev Home Page*/