
.banner {
    background-color: #248ec7;
    padding: 0 50px 50px 50px;
    color: white;
    font-size: 1.2em;
}

.banner .banner-text-wrapper {
    margin-top: 50px;
}

.banner .banner-img-wrapper {
    text-align: center;
    margin-top: 20px;
}

.banner img {
    position: relative;
}

.banner h2 {
    font-size: 2em;
    color: white;
}

.banner-button, .banner-button:visited {
    background-color: #30739c;
    font-size: 1.1em;
    padding: 10px 20px;
    margin-top: 20px;
    color:#fff;
}

.bannerquicklinks, .bannerquicklinks:visited  {
    text-decoration:underline;
    padding-left: 5px;
    color:#fff;
}

.contribute-title {
    text-align: center;
    font-size: 1.8em;
    color: #427FA2;
    margin: 50px;
}

.collapsing {
    transition: height 0.8s;
}

.nav-button-box {
    text-align: center;
    min-height: 140px;
}

.nav-button {
    color: #427FA2;
    text-align: center;
    cursor: pointer;
}

.nav-button:hover {
    text-decoration: none;
}

.nav-button div {
    margin-top: 10px;
    font-weight: 600;
    font-style: italic;
    font-size: 1.2em;
}

.nav-button .nav-button-icon {
    width: 80px;
    height: 75px;
    font-size: 2.2em;
    border: 1px solid #427FA2;
    border-radius: 5px;
    line-height: 68px;
    margin: 0 auto;
}

.nav-button .nav-button-icon img {
    width: 30px;
}

.nav-button .nav-button-icon:hover {
    color: white;
    background-color: #58a935;
}

.nav-button .nav-button-icon.active {
    color: white;
    background-color: #58a935;
}

#accordion-parent {
    position: relative;
}

#accordion-parent .line {
    border-bottom: 1px solid #d3dee9;
    margin-bottom: 50px;
    height: 1px;
}

#accordion-parent .triangle {
    background: white;
    border: 1px solid #d3dee9;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
    width: 30px;
    height: 30px;
}

.nav-first-group .triangle, .project-groups-selected .triangle{
    left: 10%;
}

.project-options .triangle{
    left: 50%;
}

.nav-first-group {
    padding: 40px 40px 0 40px;
}

.nav-first-group h4 {
    color: #3a7a1e;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav-first-group .nav-first-group-btn {
    margin-bottom: 20px;
}

.nav-first-group .btn {
    font-style: italic;
    color: #3a7a1e;
    border-color: #3a7a1e;
    background-color: #f6fff2;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    font-weight: bold;
    min-height: 45px;
    line-height: 30px;
    white-space: normal;
}

.nav-first-group .btn p {
    font-weight: normal;
    font-size: .8em;
    line-height: 18px;
    min-height: 55px;
}

.project-groups-selected {
    display: none;
    padding: 40px 40px 0 40px;
}

.project-groups-selected .project-group-button-selected {
    width: 100%;
    background-color: #58a935;
    font-weight: bold;
    height: 45px;
    line-height: 30px;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 10px;
}

.project-options {
    padding: 50px 40px 0 40px;
}

.project-options .subtitle {
    margin-bottom: 30px;
}

.project-button {
    width: 100%;
    background-color: #f9fcff;
    height: 55px;
    color: #30739c;
    border-color: #30739c;
    font-size: 1.6em;
    text-align: left;
    margin-bottom: 30px;
}

.project-button:hover {
    background-color: #e4edff;
    border-color: #30739c;
    color: #30739c;
}

.project-button img {
    width: 100%;
    position: relative;
    top: -10px;
}

.project-button .code-name {
    position: relative;
    left: -20px;
    font-weight: bold;
}

.project-button .name {
    position: relative;
    top: -20px;
    left: -20px;
    font-size: 0.4em;
}

.project-button .fa {
    position: relative;
    top: 3px;
    left: 20px;
    font-size: 1.5em;
}

.where-to-start {
    padding: 80px;
    color: white;
    background-image: url('/themes/openstack/images/community/bg.png');
    background-position-y: -80px;
}

.where-to-start h2 {
    color: white;
    font-weight: 600;
    font-size: 1.8em;
}

.where-to-start .start-options {
    margin-top: 20px;
}

.where-to-start .start-option {
    background-color: #79c674;
    padding: 10px 10px;
    color: white;
    font-style: italic;
    margin-top: 2px;
    border-radius: 0px;
    width: 95%;
    min-width: 330px;
    text-align: left;
}

.where-to-start .start-option .fa {
    font-size: 2em;
    margin: 0 10px 0 0px;
    float: right;
}

.where-to-start .start-option span {
    top: 5px;
    margin-left: 10px;
    position: relative;
}

.help {
    margin-top: 40px;
}

.help .help-header {
    text-align: center;
    padding: 0 20%;
    color: #3979a0;
    margin-bottom: 30px;
}

.help .help-header .help-title {
    text-align: center;
    font-size: 2.2em;
    color: #2b4d68;
    margin: 20px;
}

.help h4{
    font-weight: bold;
    color: #2b4d68;
    margin-bottom: 30px;
}

.help .help-managers {
    margin-bottom: 50px;
}

.help .help-managers .community-manager img {
    min-width: 100%;
    min-height: 100%;
}

.help .help-managers .community-manager {
    color: #3979a0;
    font-size: 1em;
    height:260px;
    float: left;
}

.help .help-managers .community-manager .profile-pic {
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: relative;
}

.help .help-managers .community-manager .profile-pic img{
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
}

.help .help-ambassadors .ambassador .profile-pic {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: relative;
}

.help .help-ambassadors .ambassador img {
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: absolute;
    top: -500px;
    bottom: -500px;
    left: -500px;
    right: -500px;
    margin: auto;
}

.help .help-ambassadors .ambassador {
    color: #3979a0;
    font-size: 1em;
    height: 220px;
    position: relative;
}

.ambassador-twitter-veil {
    width: 130px;
    height: 130px;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position: absolute;
    top: 0px;
    left: 15px;
    text-align: center;
    padding-top: 65px;
    color: white;
}

.ambassador-twitter-veil i {
    font-size: 20px;
}

a.staff-twitter{background:url(../images/foundation-staff/icon_twitter.png) center no-repeat;display:inline-block;width:25px;height:25px;margin-right:10px}
a.staff-linkedin{background:url(../images/foundation-staff/icon_linkedin.png) center no-repeat;display:inline-block;width:25px;height:25px;margin-right:10px}
a.staff-openstack{background:url(../images/foundation-staff/icon_openstack.png) center no-repeat;display:inline-block;width:25px;height:25px}

.communicate {
    background-color: #63bb5e;
    color: white;
    padding: 30px 0px;
}

.communicate .communicate-header {
    text-align: center;
    margin-bottom: 40px;
}

.communicate .communicate-title {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    margin-top: 20px;
}

.communicate .communicate-item .communicate-item-title {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin: 0px 40px 5px 0px;
}

.communicate .communicate-item {
    margin-bottom: 55px;
    height: 120px;
}

.communicate .communicate-item a {
    color: white;
    text-decoration: none;
}

.communicate .sign-up-wrapper {
    margin-top: 10px;
}

.communicate .sign-up-input {
    padding: 25px;
    margin-top: 15px;
    width: 75%;
}

.communicate .sign-up-submit {
    background-color: #276024;
    margin-top: 15px;
    padding: 14px;
    font-size: 15px;
    font-weight: bold;
    width: 15%;
}



.quick-links-banner {
    margin-top: 50px;
}

.quick-links-banner img {
    width: 100%;
}

.quick-links {
    color: #2b4d68;
    background: #F3F7FB;
    margin-top: 80px;
    padding-bottom: 40px;
}

.quick-links .quick-links-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.quick-links .quick-links-header .pre-title {
    position: relative;
    width: 300px;
    margin: auto;
    font-weight: bold;
    margin-bottom: 20px;
}

.quick-links .quick-links-header .pre-title span{
    padding: 0 10px;
    z-index: 1;
    background-color: #F3F7FB;
    position: relative;
}

.quick-links .quick-links-header .pre-title:after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.7em;
    border-top: 1px solid #2b4d68;
    z-index: 0;
}

.quick-links .quick-links-header h1 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 2.2em;
    margin-bottom: 50px;
}

.quick-links .quick-links-item {
    margin-bottom: 40px;
    height: 130px;
}

.quick-links .quick-links-item .quick-links-item-title {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #d3dee9;
    padding-bottom: 5px;
    margin: 0 75px 10px 0;
}

.quick-links .quick-links-item a {
    text-decoration: underline;
}

#community footer {
    margin-top: 0px !important;
}

/*Five column layout*/
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*End Five column layout*/

/* MOBILE CSS */

@media only screen and (max-device-width: 736px) {

    .banner {
        padding: 0 10px 10px 10px;
        font-size: 1em;
    }

    .banner .banner-text-wrapper {
        margin-top: 0px;
    }

    .banner .banner-img-wrapper {
        margin-top: 10px;
    }

    .banner img {
        width: 100px;
    }

    .banner h2 {
        font-size: 1.8em;
    }

    .banner-button {
        font-size: 1em;
        padding: 5px 10px;
        margin-top: 10px;
    }

    .contribute-title {
        margin: 10px;
    }

    .nav-button-box {
        margin-top: 20px;
        min-height: 160px;
    }

    .nav-first-group {
        padding: 40px 0 0 0;
    }

    .nav-first-group .btn {
        font-size: 1em;
    }

    .project-groups-selected {
        text-align: center;
        padding: 20px 0 0 0;
    }

    .project-options {
        padding: 50px 0 0 0;
    }

    .project-options h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .project-options .subtitle {
        text-align: center;
    }

    .project-button img {
        width: 55px;
        top: -9px;
    }

    .where-to-start {
        padding: 30px;
    }

    .where-to-start h2 {
        font-size: 1.6em;
    }

    .where-to-start .start-option {
        width: 100%;
        min-width: auto;
    }

    .where-to-start .start-option .fa {
        font-size: 1.2em;
        margin: 0 10px 0 0px;
    }

    .where-to-start .start-option span {
        top: -2px;
        font-size: 0.8em;
    }

    .help {
        margin-top: 20px;
    }

    .help .help-header {
        text-align: center;
        padding: 0 10px;
    }

    .help .help-header .help-title {
        font-size: 2em;
        margin: 10px;
    }

    .help h4{
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }

    .help .help-managers {
        margin-top: 30px;
        padding-top: 20px;
    }

    .help .help-managers .community-manager {
        font-size: 0.9em;
        float: left;
        height: 210px;
        text-align: center;
    }

    .help .help-managers .community-manager .profile-pic {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .help .help-ambassadors {
        margin-top: 30px;
        padding-top: 20px;
    }

    .help .help-ambassadors .ambassador {
        font-size: 0.9em;
        float: left;
        width: 49%;
        height: 160px;
        text-align: center;
    }

    .help .help-ambassadors .ambassador .profile-pic {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .ambassador-twitter-veil {
        width: 100px;
        height: 100px;
    }

    .communicate {
        padding: 20px 10px;
    }

    .communicate .communicate-title {
        font-size: 2em;
    }

    .communicate .communicate-icon {
        display: none;
    }

    .communicate .communicate-item .communicate-item-title {
        font-size: 1em;
        padding-bottom: 5px;
        margin-right: 10px;
    }

    .communicate .communicate-item {
        margin-bottom: 25px;
        height: auto;
    }

    .communicate .sign-up-input {
        padding: 0px;
        width: 65%;
        float: left;
    }

    .communicate .sign-up-submit {
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
        width: 28%;
        margin-left: 10px;
    }

    .quick-links .quick-links-header {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .quick-links .quick-links-header h1 {
        font-weight: 400;
        margin-top: 10px;
        font-size: 2em;
    }

    .quick-links .quick-links-item {
        margin-bottom: 30px;
        height: auto;
    }

    .quick-links .quick-links-item .quick-links-item-title {
        margin: 0 15px 10px 0;
    }
}

/* TABLETS */

@media only screen and (min-width: 737px) and (max-width: 1025px) {

    .banner img {
        width: 150px;
    }

    .banner .banner-text-wrapper {
        margin-top: 5px;
    }

    .nav-button-box {
        margin-top: 20px;
        min-height: 160px;
    }

    .where-to-start {
        padding: 40px;
    }

    .project-options {
        padding: 50px 0 0 0;
    }

    .help .help-header {
        text-align: center;
        padding: 0 30px;
    }

    .help .help-managers .community-manager .profile-pic {
        width: 130px;
        height: 130px;
        margin: auto;
    }

    .help .help-managers .community-manager {
        font-size: 1em;
        height: 180px;
        margin-bottom: 30px;
        text-align: center;
    }

    .help .help-ambassadors .ambassador .profile-pic {
        width: 100px;
        height: 100px;
    }

    .help .help-ambassadors .ambassador {
        font-size: 1em;
        height: 150px;
        margin-bottom: 30px;
    }

    .ambassador-twitter-veil {
        width: 100px;
        height: 100px;
        top: -130px;
        left: 0px;
        padding-top: 35px;
    }

    .ambassador-twitter-veil i {
        font-size: 20px;
    }

    .communicate {
        padding: 30px 20px;
    }

    .communicate .communicate-header {
        margin-bottom: 40px;
    }

    .communicate .communicate-item {
        margin-bottom: 25px;
        height: 180px;
    }

    .communicate .communicate-item .communicate-item-title {
        font-size: 1em;
        padding-bottom: 5px;
        margin-right: 10px;
    }

    .communicate .sign-up-input {
        padding: 0px;
        width: 65%;
        float: left;
    }

    .communicate .sign-up-submit {
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
        width: 28%;
        margin-left: 10px;
    }

    .quick-links .quick-links-item .quick-links-item-title {
        font-size: 1em;
        margin: 0 10px 10px 0;
    }
}

}
