/* @override 
	http://openstack.dev/themes/openstack/css/companies.css
*/

.logosNoPadding a {
	margin-right: 0px!important;
}

.logos a, .logos a:visited {
	display: block;
	float: left;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
	margin-right: 23px;
    font-size: 10px;
}

.logos .img-wrapper {
	height: 150px;
	text-align: center;
}
.logos img {
	display: block;
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
	border: 5px solid white;
	margin-bottom: 7px;
	margin-right: 5px;
	background: no-repeat center center;
}

.small-logos a, .small-logos a:visited {
	display: block;
	float: left;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
	margin-right: 23px;
}

.small-logos .img-wrapper {
	height: 75px;
	text-align: center;
}

.small-logos img {
	display: block;
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100px;
	margin-bottom: 7px;
	margin-right: 0px;
	background: no-repeat center center;
}


#quotes {
	height: 18em;
}

h3.sideLogo {
	margin-bottom: 20px;
}

.sideLogo p {
	margin-top: 20px;
}