/* @override 
	http://openstack.dev/themes/openstack/css/companies.css
*/

.logosNoPadding a {
	margin-right: 0px!important;
}

.logos a, .logos a:visited {
	display: block;
	float: left;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
    font-size: 10px;
}

.logos .img-wrapper {
	height: 140px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.logos .img-wrapper p {
	height: 4em;
}
.logos img {
	display: block;
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
}

.small-logos a, .small-logos a:visited {
	display: block;
	float: left;
	text-decoration: none;
	color: black;
}

.small-logos .img-wrapper {
	height: 75px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.small-logos img {
	display: block;
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    max-height: 100%;
}


#quotes {
	height: 18em;
}

h3.sideLogo {
	margin-bottom: 20px;
}

.sideLogo p {
	margin-top: 20px;
}