/*Containers Page*/
.intro-header.containers {
  background: url(/themes/openstack/images/containers/hero-bkgd-containers.jpg) no-repeat center center;
  background-size: cover;
  position: relative; }
  .intro-header.containers a.photo-credit {
    bottom: 70px; }
.intro-header.containers .download-container {
  background-color: rgba(17, 31, 45, 0.9);
}

@media (max-width: 767px) {
  .intro-header.containers .intro-message {
    padding-bottom: 0; }
  .intro-header.containers a.photo-credit {
    bottom: 100px; }
  .intro-header.containers .download-container {
    margin-bottom: 50px; } }

.containers-intro {
  background-color: white;
  padding: 40px 0 60px; }

.containers-highlights {
  background-color: #edf2f7;
  padding: 60px 0;
  color: #2A4E68;
  text-align: center; }
  .containers-highlights .single {
    padding: 20px 2% 10px; }
  .containers-highlights h2 {
    text-align: center;
    margin: 0 0 40px; }
  .containers-highlights h4 {
    font-size: 1.1em;
    line-height: 1.5; }
  .containers-highlights i {
    color: #30739C;
    margin-bottom: 10px; }
  .containers-highlights a.blue-btn {
    background-color: #2A4E68;
    display: block;
    max-width: 300px;
    margin: 40px auto 30px; }

.containers-action-wrapper {
  text-align: center;
  padding: 90px 0;
  background: #edf2f7; }
  .containers-action-wrapper p {
    text-align: center;
    color: #2A4E68; }
  .containers-action-wrapper a.containers-action-btn {
    display: block;
    max-width: 300px;
    background: #DA422F;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 30px auto 0; }
    .containers-action-wrapper a.containers-action-btn i {
      margin-right: 5px;
      font-size: 1.2em; }
    .containers-action-wrapper a.containers-action-btn:hover {
      background: #A51B1B;
      text-decoration: none; }
.container-video-section {
  background: #29abe2;
  padding: 60px 0;
  text-align: center;
}
.container-video-section h2 {
  text-align: center;
  color: white;
}
.container-video-section p {
  text-align: center;
  color: white;
}
.container-video-section iframe {
  width: 100%;
  max-width: 650px;
  height: 360px;
  margin: 20px auto 0 auto;
}
@media (max-width: 680px) {
  .container-video-section iframe {
    height: 335px;
  }
}
@media (max-width: 625px) {
  .container-video-section iframe {
    height: 363px;
  }
}
@media (max-width: 600px) {
  .container-video-section iframe {
    height: 319px;
  }
}
@media (max-width: 500px) {
  .container-video-section iframe {
    height: 263px;
  }
}
@media (max-width: 460px) {
  .container-video-section iframe {
    height: 208px;
  }
}

.intro-header.containers-r {
  background: url(/themes/openstack/images/containers-r/hero-bkgd.jpg) no-repeat center center;
  background-size: cover;
  position: relative; }
  .intro-header.containers-r a.photo-credit {
    bottom: 20px; }
  .intro-header.containers-r h1 {
    font-size: 2.8em;
    margin: 40px 0 30px; }
  .intro-header.containers-r h3 {
    font-size: 1.5em; }
    .intro-header.containers-r h3 strong {
      font-weight: 600; }
  .intro-header.containers-r .download-container {
    background: rgba(1, 31, 52, 0.8);
    border-radius: 2px;
    width: 100%;
    margin: 80px auto 0;
    padding: 30px 20px; }
    .intro-header.containers-r .download-container .download-btn {
      margin-top: 20px;
      font-weight: 400; }

@media (max-width: 767px) {
  .intro-header.containers-r .intro-message {
    padding-bottom: 0; }
  .intro-header.containers-r a.photo-credit {
    bottom: 20px; }
  .intro-header.containers-r .download-container {
    margin: 40px auto 50px; } }

.summit-cta-logo {
  width: 108px;
  margin-bottom: 10px; }

.testimonial-row.containers-r {
  background: #edf2f7; }
  .testimonial-row.containers-r blockquote:before, .testimonial-row.containers-r blockquote:after {
    color: #D4DCE5; }

.containers-highlights.r {
  background: white; }

.containers-users.r {
  background: #30739C;
  padding: 40px 0;
  text-align: center;
  color: white; }
  .containers-users.r h2 {
    color: white;
    text-align: center; }
  .containers-users.r .video-wrapper {
    margin-top: 10px;
    margin-bottom: 10px; }

@media (max-width: 767px) {
  .video-title.containers {
    font-size: 0.8em; } }

.containers-services {
  text-align: center;
  padding: 60px 0; }
  .containers-services h2 {
    text-align: center; }
  .containers-services .single-service-wrapper {
    background: white;
    border: 1px solid #D4DCE5;
    box-shadow: 0 2px 4px 0 #D4DCE5;
    border-radius: 4px;
    margin-top: 20px; }
  .containers-services .single-service-top {
    height: 150px;
    position: relative; }
    .containers-services .single-service-top .content {
      bottom: 10px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .containers-services img.single-service-icon {
    max-height: 75px;
    max-width: 85px;
    margin: 25px 0 15px; }
  .containers-services .single-service-title {
    color: #30739C;
    font-size: 1.3em;
    white-space: nowrap; }
  .containers-services .single-service-description {
    width: 100%;
    background: #EDFDFF;
    color: #30739C;
    padding: 10px 20px;
    border-top: 1px solid #D4DCE5;
    margin-top: 20px;
    min-height: 125px; }
    .containers-services .single-service-description a {
      text-decoration: underline; }

@media (min-width: 768px) and (max-width: 991px) {
  .containers-services .single-service-description {
    min-height: 200px; } }

.summit-promo.containers {
  background: url(/assets/sydney-summit/images/sydney-red-bkgd.png);
  padding: 60px 0 90px;
  margin-bottom: -52px;
  background-size: cover;
  background-position: center bottom;
}

.summit-promo.containers .nfv-summit-right .nfv-summit-dates.containers {
  color: white;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-style: italic; }

.summit-promo.containers .nfv-summit-right .nfv-summit-btn.red {
  background: #A51B1B; }


.hero {
background: url(/marketplace/code/ui/frontend/images/hero.jpg) no-repeat;
background-size: cover;
background-position: center;
padding: 40px 0;
margin-bottom: -50px; 
}

.text {
    color: #fff;
}

.text *{
    color: #fff;
    line-height: 2em;
}

.text h5{
    margin-bottom: 1em;
    line-height: 1.5em;
}

.text .btn{
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
}

.text .btn i{
    margin-left: 0.5em;
}


@media (max-width: 1100px) {
    .text {
        margin-top: 2em;
    }
}


@media (max-width: 766px) {
    .text {
        margin-top: 2em;
    }

    .text h3{
        font-size: 1.3em;
    }
    .hero .logo{
        margin-top: 3em;
    }

}


@media (max-width: 580px) {
  .text {
    margin-top: 1em;
    font-size: 88%;
    }
}

@media (max-width: 660px) {
  .hero img{
    margin-bottom: 2em;
  }

  .text .btn {
    margin-bottom: 40px;
    }

}


/*End Containers Page*/