/*Containers Page*/
.intro-header.containers {
  background: url(/themes/openstack/images/containers/hero-bkgd-containers.jpg) no-repeat center center;
  background-size: cover;
  position: relative; }
  .intro-header.containers a.photo-credit {
    bottom: 70px; }
.intro-header.containers .download-container {
  background-color: rgba(17, 31, 45, 0.9);
}

@media (max-width: 767px) {
  .intro-header.containers .intro-message {
    padding-bottom: 0; }
  .intro-header.containers a.photo-credit {
    bottom: 100px; }
  .intro-header.containers .download-container {
    margin-bottom: 50px; } }

.containers-intro {
  background-color: white;
  padding: 40px 0 60px; }

.containers-highlights {
  background-color: #edf2f7;
  padding: 60px 0;
  color: #2A4E68;
  text-align: center; }
  .containers-highlights .single {
    padding: 20px 2% 10px; }
  .containers-highlights h2 {
    text-align: center;
    margin: 0 0 40px; }
  .containers-highlights h4 {
    font-size: 1.1em;
    line-height: 1.5; }
  .containers-highlights i {
    color: #30739C;
    margin-bottom: 10px; }
  .containers-highlights a.blue-btn {
    background-color: #2A4E68;
    display: block;
    max-width: 300px;
    margin: 40px auto 30px; }

.containers-action-wrapper {
  text-align: center;
  padding: 90px 0;
  background: #edf2f7; }
  .containers-action-wrapper p {
    text-align: center;
    color: #2A4E68; }
  .containers-action-wrapper a.containers-action-btn {
    display: block;
    max-width: 300px;
    background: #DA422F;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 30px auto 0; }
    .containers-action-wrapper a.containers-action-btn i {
      margin-right: 5px;
      font-size: 1.2em; }
    .containers-action-wrapper a.containers-action-btn:hover {
      background: #A51B1B;
      text-decoration: none; }
.summit-promo {
  width: 100%; }
  .summit-promo.containers {
    background: url('/themes/openstack/images/nfv/nfv-summit-bkgd.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0 80px; 
    margin-bottom: -50px;
  }
  .summit-promo.containers h3 {
    color: white; }
  .summit-promo.containers p {
    color: white; }
    .summit-promo.containers p a {
      color: white;
      text-decoration: underline; }
  .summit-promo.containers .containers-summit-right {
    margin-top: 10px;
    text-align: center; }
    .summit-promo.containers .containers-summit-right img.containers-summit-logo {
      max-width: 130px;
      margin-bottom: 5px; }
.summit-promo.containers .containers-summit-right .containers-summit-dates {
  color: white;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-style: italic; }
.summit-promo.containers .containers-summit-right .containers-summit-dates .city {
  font-size: 2em;
  text-transform: uppercase;
  display: block;
  font-weight: 700; }
.summit-promo.containers .containers-summit-right .containers-summit-register-btn a {
  display: block;
  text-align: center;
  max-width: 80%;
  margin: 10px auto;
  background: #29abe2;
  color: white;
  padding: 10px 20px;
  border-radius: 4px; }
.summit-promo.containers .containers-summit-right .containers-summit-register-btn a i {
  margin-left: 5px; }
.summit-promo.containers .containers-summit-right .containers-summit-register-btn a:hover {
  background: #30739C;
  text-decoration: none; }

@media (max-width: 767px) {
  .summit-promo.containers h3 {
    text-align: center; }
  .summit-promo.containers p {
    text-align: center; }
  .summit-promo.containers .containers-summit-right {
    margin-top: 30px; } }
/*Five column layout*/
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*End Five column layout*/


/*End Containers Page*/