/* Edge landing */
.intro-header.edge {
    background: url(https://www.openstack.org/assets/edge/edgebg-wp.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 60px 0;
}

.intro-header.edge .intro-message {
    text-align: left;
    padding: 0 0 20px;
}

.intro-header.edge .intro-message h1 {
    font-family: "Open Sans", Helvetica;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 20px;
}

.intro-header.edge .intro-message p {

    font-family: "Open Sans",Helvetica;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    font-weight: 300;

}

.edge-download-container {
    padding-left: 10px;
    margin-bottom: 20px;
}

.edge-download-text {
    font-size: 14px;
    font-weight: 300;
}

a.edge-download-btn, a.edgeml-download-btn {
    display: block;
    border-radius: 2px;
    margin: 10px auto 0;
    color: #fff;
    background: #EC1944;
    padding: 8px 0px;
    width: 90%;
    font-weight: normal;
    font-size: 15px;
    text-align: center;

}

a.edgeml-download-btn {
    width: 27%;
    float: left;
}

.edge-hr-line {
    border: 0.5px solid white;
    margin: 15px 35%;
}

.video-wall-row{
    padding-left: 10%;
}

.video-wall-item{
    margin-right: 65px;
    padding: 0;
}

.video-wall-item .speaker{
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
    margin-bottom: 0px;
}

.video-border{
    /* Rectangle 4: */
    background: #D8D8D8;
    border: 1px solid #FFFFFF;
}

.video-wall-item .company{
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 100%;
}

.edge-overview {
    background: #EDF2F7;
    padding: 30px 0;
    color: #000000;
    text-align: center;
}

.edge-overview h1 {
    color: #2A4E68;
}

.edge-overview a {
    background: #29ABE2 !important;
    font-size: 14px !important;
    width: 90% !important;
    padding: 12px 20px !important;
    font-weight: normal !important;
    color: #fff;
    margin: 15px auto 20px;
    border-radius: 2px;
    display: block;
}

.plane {
    height: 167px;
    padding-bottom: 15px;
}

.plane img {
    padding-top:50px;
}

.earth {
    padding-bottom:15px;
}

.edgebg {
    background:#ED285E;
    height:11px;
    margin-bottom: -25px;
    margin-top: 50px;
}

.opendev-promo {
    background: black url(https://www.openstack.org/assets/edge/earth.png) no-repeat top left;
    background-position: -20% 0%;
    padding: 40px 0;
    color: white;
}

.opendev-promo .opendev-promo-logo {
    width: 209px;
    display: block ;
    margin-left: auto;
    margin-right: auto;
}

.opendev-promo h2 {
    margin-bottom: 20px;
    font-family: Helvetica;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}

.opendev-promo p {
    font-family: Helvetica;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.more-videos-button{
    float:none;
    margin-left: auto;
    margin-right: auto;
}

.more-videos-button-container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.opendev-promo .cta {
    background: #ED285E;
    color: white;
    font-style: italic;
    padding: 10px 70px;
    display: block;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.opendev-promo .cta:hover, .opendev-promo .cta:focus {
    background: #A7123B;
    text-decoration: none;
}

.opendev-promo .cta i {
    margin-left: 10px;
}

.opendev-promo .opendev-dates {
    margin-top: 5px;
    font-style: italic;
    font-size: 13px;
}


.edge-why-openstack {
    background: #edf2f7;
    padding: 60px 0;
}

.edge-why-openstack .edge-icons-wrapper {
    text-align: center;
}

.edge-why-openstack .edge-icons {
    max-width: 100%;
    margin: 0 auto;
}

.edge-resources {
    text-align: center;
    padding: 60px 0;
}

.edge-resources h2 {
    text-align: center;
    margin-top: 0;
}

.edge-resources .resource-title-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0 10px;
}

.edge-resources h4.edge-resource-title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    color: #2A4E68;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.edge-resources .line {
    height: 1px;
    background-color: #CED9E5;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.red-div{
    /* Rectangle 6: */
    background: #ED285E;
    height: 11px !important;
}

.white-div{
    /* Rectangle 6: */
    background: #fff;
    height: 5px !important;
}

.edge-resources .video-wrapper, .opendev-promo .video-wrapper {
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.edge-resources .video-wrapper .play-button, .opendev-promo .video-wrapper .play-button {
    opacity: 0.7;
    background: black;
    border-radius: 4px;
    padding: 10px 10px;
    height: 55%;
    width: 30%;
    top: 0% !important;
}

.edge-resources .video-wrapper:hover .play-button, .opendev-promo .video-wrapper:hover .play-button {
    opacity: 1;
    display: block;
    cursor: pointer;
}

.edge-resources .first-col {
    margin-left: 5%;
}

@media (max-width: 767px) {
    .edge-resources .first-col {
        margin-left: 0;
    }
}

img.open-edge {
    width: 320px;
    max-width: 100%;
    margin-top: 70px;
}

img.etsi {
    width: 239px;
    max-width: 100%;
    margin-top: 60px;
}

img.discover {
    max-width: 100%;
    margin-top: -30px;
}

@media (max-width: 767px) {
    img.discover {
        max-width: 100%;
        margin-top: 30px;
    }
}

.edge-working-group {
    padding: 50px 0;
    color: white;
    background: url(https://www.openstack.org/assets/edge/wg-bkgd.jpg);
    background-size: cover;
    background-position: center;
}

.edge-working-group h5 {
    color: white;
    font-style: italic;
}

.edge-working-group h2 {
    color: white;
    margin-top: 10px;
    font-weight: 400;
}

.edge-working-group .cta {
    text-align: center;
}

.edge-working-group .cta .wg-btn {
    background: #DA422F;
    color: white;
    padding: 8px 50px;
    border-radius: 4px;
    margin-top: 25px;
    display: inline-block;
    white-space: nowrap;
}

.edge-working-group .cta .wg-btn:hover, .edge-working-group .cta .wg-btn:focus {
    background: #A51B1B;
    text-decoration: none;
}

.edge-working-group .cta .wg-btn i {
    margin-left: 15px;
}

.edge-email-signup {
    background: #30739C;
    color: white;
    padding: 60px 0;
    text-align: center;
    margin-bottom: -50px;
}

.edge-email-signup h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.edge-email-signup .edge-interest-btn {
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px 35px;
    color: white;
    display: inline-block;
}

.edge-email-signup .edge-interest-btn i {
    margin-left: 10px;
}

.edge-email-signup .edge-interest-btn:hover, .edge-email-signup .edge-interest-btn:focus {
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 766px) {
   .edge-working-group {
        padding-bottom: 20px;
   }

}

@media (max-width: 580px) {
   .edge-working-group {
        padding-bottom: 20px;
   }
}

@media (max-width: 660px) {
   .edge-working-group {
        padding-bottom: 20px;
   }

}

.summit-promo.containers {
  background: url(/assets/Uploads/YVR-hero-image2.jpg);
  padding: 60px 0 90px;
  margin-bottom: -52px;
  background-size: cover;
  background-position: center bottom;
}

.summit-promo.containers .nfv-summit-right .nfv-summit-dates.containers {
  color: white;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-style: italic; }

.summit-promo.containers .nfv-summit-right .nfv-summit-btn.red {
  background: #b9301d; }

/* End Edge landing */