.learn-hero {
	background: url(/themes/openstack/images/learn/learn-hero.jpg) no-repeat top right;
	/*background: url(/themes/openstack/images/learn/learn-hero.jpg) no-repeat top right;*/
	background-size: cover; 
}
.learn-hero .intro-message > h1 {
	margin: 90px 0 0;
}
.learn-intro {
	text-align: center;
	color: #2A4E68;
	margin: 50px auto 50px;
}
.learn-single {
	background: #edf2f7;
	border-radius: 4px;
	padding: 30px;
	color: #2A4E68;
	text-align: center;
	margin-bottom: 30px;
	min-height: 320px;
}
@media (max-width: 990px) {
	.learn-single {
		min-height: 350px;
	}
}
@media (max-width: 776px) {
	.learn-single {
		min-height: 100px;
	}
}
i.learn-icon {
	font-size: 3.5em;
}
img.learn-superuser-icon {
	max-width: 95px;
}
img.learn-coa-icon {
	max-width: 60px;
}
.learn-single h2 {
	font-weight: 400;
	font-size: 2.1em;
	text-align: center;
	margin: 5px auto 20px;
}
a.learn-btn {
	display: block;
	max-width: 250px;
	margin: 30px auto 0;
	padding: 15px;
	color: white;
	text-transform: uppercase;
	background: #29abe2;
	border-radius: 4px;
}
a.learn-btn i {
	margin-left: 10px;
}
a.learn-btn:hover {
	background: #30739C;
	text-decoration: none;
}
