/*Header Navigation more styles in navigation_menu.css */

.search-container {
    position: relative;
    display: none;
    float: left;
    width: 84%; }

@media (min-width: 768px) and (max-width: 1200px) {
    .search-container
    {
        width: 80%;
    }
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .search-container
    {
        display: none;
    }
}

.search-icon {
    display: none;
    padding: 17px 20px 16px;
    float: left;
    text-transform: uppercase;
    color: #8a959e;
    font-size: 12px;
    font-weight: 400;
}

.search-icon:hover {
    cursor: pointer;
    color: #8a959e;
}

.search-icon i {
    margin-right: 5px;
    color: #8a959e;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .search-icon
    {
        display: none !important;
    }
}

@media (max-width: 1040px) {
    .header-search-text
    {
        display: none;
    }
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .header-search-form
    {
        display: none;
    }
    .custom-search-box
    {
        position: relative !important;
        left: 0px !important;;
    }
}

.custom-search-box {
    color: #30739C !important;
    font-size: 12px !important;
    text-transform: lowercase !important;
    font-weight: 400 !important;
    width: 100% !important;
}

.custom-search-box-mobile
{
    display: none !important;
    position: relative;
    width: 100% !important;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .custom-search-box-mobile
    {
        display: block !important;
    }
    .custom-search-box {
        display: none !important;
    }
}

.header-search, .custom-search-box, .custom-search-box-mobile {
    border: 2px solid #dae5ee !important;
    border-radius: 4px !important;
    height: 37px !important;
    margin: 7px 0 0 0 !important;
    padding: 0 !important;
    padding-left: 10px !important;
    background: #fff !important;
    width: 100% !important;
    -webkit-transition: width 4s !important;
    transition: width 4s !important;
    -webkit-border-horizontal-spacing: 0 !important;
    -webkit-border-vertical-spacing: 0 !important;
}

.header-search contenteditable .custom-search-box-mobile:hover, .custom-search-box-mobile:focus, .custom-search-box:hover, .custom-search-box:focus {
    box-shadow: none !important;
}

.header-search::-webkit-input-placeholder, .custom-search-box::-webkit-input-placeholder,custom-search-box-mobile::-webkit-input-placeholder {
    color: #C0CDDB;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 400;
}

.header-search:-moz-placeholder, .custom-search-box-mobile:-moz-placeholder, custom-search-box:-moz-placeholder {
    /* Firefox 18- */
    color: #C0CDDB;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 400;
}

.header-search::-moz-placeholder, .custom-search-box::-moz-placeholder, custom-search-box-mobile::-moz-placeholder {
    /* Firefox 19+ */
    color: #C0CDDB;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 400; }

.header-search:-ms-input-placeholder, .custom-search-box:-ms-input-placeholder, custom-search-box-mobile:-ms-input-placeholder {
    color: #C0CDDB;
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 400; }

.header-search:focus, .custom-search-box:focus, .custom-search-box-mobile:focus {
    border-radius: 4px;
    outline: none;
    border: 2px solid #30739C !important;
    box-shadow: none;
}

.close-search {
    position: absolute;
    top: 20px;
    right: 10px;
    color: #dae5ee;
    z-index: 1001;
    font-size: 16px;
}

.close-search:hover
{
    color: #30739C;
    cursor: pointer;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .close-search
    {
        display: none !important;
    }
}

.show
{
    display: block;
}

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .show
    {
        display: none;
    }
}

/*End Header Navigation*/