
.brand-wrapper {
    margin: 10px 0;
    padding-right: 20px;
    float: left;
    border-right: 1px solid #eee;
    min-width: 135px; }

a.navbar-brand {
    background: url('/themes/openstack/images/openstack-logo-full.png') left no-repeat;
    height: 35px;
    width: 135px; }

@media (min-width: 768px) and (max-width: 1025px) {
    .brand-wrapper {
        width: 75px;
        min-width: 75px;
        margin-top: 0; }
    a.navbar-brand {
        background: url('/themes/openstack/images/openstack-logo-vert.png') left no-repeat;
        margin-left: 0px !important;
        height: 54px;
        width: 59px; } }
@media only screen and (max-device-width: 1024px) {
    .brand-wrapper {
        margin: 10px 0;
        padding-right: 20px;
        float: left;
        border-right: 0;
        min-width: 135px;
    }
    a.navbar-brand {
        background: url('/themes/openstack/images/openstack-logo-full.png') left no-repeat;
        height: 35px;
        width: 135px;
    }
}
@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    a.navbar-brand {
        margin-left: 15px; } }

.navbar-default {
    border-radius: 0px;
    background: #fff;
    margin-bottom: 0;
    padding: 20px 0; }

.navbar-default .container {
    background-color: white; }

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-default .container {
        width: 100%; } }

ul.navbar-main {
    display: none;
    float: right; }

@media (min-width: 768px) and (max-width: 1097px) {
    ul.navbar-main {
        display: block; } }

@media (max-width: 767px) {
    ul.navbar-main {
        display: block;
        margin-right: 0;
        margin-left: 0;
        width: 100%; } }

.navbar-default ul.navbar-main > li > a {
    color: #8a959e;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }

@media (min-width: 768px) and (max-width: 1025px) {
    ul.navbar-main {
        margin-top: 1px; }
    .navbar-default ul.navbar-main > li > a {
        font-size: 11px;
        padding: 15px 8px; } }

.navbar-default ul.navbar-main > li > a.sign-in-btn {
    background: #2A4E68;
    padding: 7px 25px;
    border-radius: 2px;
    color: #fff;
    margin-top: 7px; }

.navbar-default ul.navbar-main > li > a.sign-in-btn:hover {
    background: #286A9D;
    color: #fff; }

@media (max-width: 1025px) {
    .navbar-default ul.navbar-main > li > a.sign-in-btn {
        padding: 5px 10px;
        margin-top: 9px; } }

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .navbar-default ul.navbar-main > li > a.sign-in-btn {
        margin: 0;
        padding: 10px 15px;
        background: transparent;
        border: none;
        color: #2A4E68;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase; }
    .navbar-default ul.navbar-main > li > a.sign-in-btn:hover {
        background: #fff;
        color: #286A9D; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #fff; }

.navbar-nav > li > .dropdown-menu {
    margin-top: 10px;
    padding: 10px 0;
    min-width: 230px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

.navbar-nav > li > .dropdown-menu:after, .navbar-nav > li > .dropdown-menu:before {
    bottom: 100%;
    left: 25%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }

.navbar-nav > li > .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -15px; }

.navbar-nav > li > .dropdown-menu:before {
    border-color: rgba(170, 170, 170, 0);
    border-bottom-color: #aaaaaa;
    border-width: 16px;
    margin-left: -16px; }

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .navbar-nav > li > .dropdown-menu:after, .navbar-nav > li > .dropdown-menu:before {
        display: none; }
    .navbar-nav > li > .dropdown-menu:after {
        display: none; }
    .navbar-nav > li > .dropdown-menu:before {
        display: none; } }

i.fa-caret-right {
    margin-left: 8px; }

.navbar-nav > li > .dropdown-menu li a {
    text-transform: uppercase;
    padding: 13px 20px;
    font-size: 12px;
    color: #8a959e; }

.navbar-nav > li > .dropdown-menu li a:hover {
    color: #333; }

.navbar-nav > li > .dropdown-menu li a:focus {
    outline: none; }

@media (max-width: 767px), only screen and (max-device-width: 1024px) {
    .navbar-default ul.navbar-main > li > a i.fa-caret-down {
        display: none; } }

.navbar-default .navbar-toggle {
    border: none; }

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent; }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #5A5A5A;
    height: 3px;
    border-radius: 3px; }

.navbar-default ul.navbar-main>li.join-nav-section>a {
    border-left: 1px solid #eee;
    color: #2A4E68;
    font-weight: 600;
    margin: 10px 15px 0 10px;
    padding: 5px 0 5px 20px;
}

.navbar-default ul.navbar-main>li>a.sign-in-btn {
    background: #2A4E68;
    padding: 3px 25px;
    border-radius: 4px;
    color: #fff;
    margin-top: 12px;
}