/*PTG landing*/
.ptg-hero {
  text-align: center;
  padding: 20px 20px 100px;
  background: #248EC7 url("/themes/openstack/static/images/ptg/ptg-bkgd.jpg") center center no-repeat;
  background-size: cover;
  color: white; }
  .ptg-hero h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700; }
  .ptg-hero h1 {
    margin-top: 5px;
    color: white; }
  .ptg-hero p strong {
    display: block;
    font-weight: 600; }
  .ptg-hero hr {
    margin-top: 60px;
    margin-bottom: 0; }

.ptg-logo {
  max-width: 250px; }

.ptg-hero-intro {
  background: rgba(0,72,123,0.90);
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px; }
  .ptg-hero-intro p {
    margin: 0; }
  .ptg-hero-intro a {
    color: white;
    text-decoration: underline;
     }
  a.ptg-register-btn {
    border-radius: 4px;
    background: #E22235;
    padding: 10px 60px;
    color: white;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
  }
  a.ptg-register-btn:hover, a.ptg-register-btn:focus {
    background: #B71D2C;
  }

ul#ptg-tabs {
  text-align: center;
  background: rgba(0,72,123,0.90);
  padding: 15px;
  margin: -70px 0 0; }
  ul#ptg-tabs > li {
    float: none;
    display: inline-block;
    zoom: 1; }
    ul#ptg-tabs > li a {
      text-transform: uppercase;
      font-weight: 500;
      border: 0;
      padding: 10px 30px;
      color: #96C9E5; }
      ul#ptg-tabs > li a:hover, ul#ptg-tabs > li a:focus {
        background: 0;
        border: 0;
        color: white; }
    ul#ptg-tabs > li.active > a {
      color: white;
      background: 0;
      border: 0;
      font-weight: 600; }

@media (max-width: 550px) {
  ul#ptg-tabs {
    margin-top: -67px;
    padding: 15px 0; 
    }
    ul#ptg-tabs > li > a {
      font-size: 0.9em;
      padding: 10px; } }

.ptg-body {
  padding: 10px 0 60px; }
  .ptg-body .col-sm-6 {
    padding: 0 40px; }
  .ptg-body h2 {
    font-size: 1.6em;
    margin: 40px 0 10px; }
  .ptg-body .ptg-who {
    background: #edf2f7;
    padding: 60px 0;
    margin: 40px 0 30px; }
    .ptg-body .ptg-who .who-icons {
      text-align: center; }
    .ptg-body .ptg-who i {
      font-size: 55px; }
      .ptg-body .ptg-who i.fa-check-circle {
        color: #7ED321; }
      .ptg-body .ptg-who i.fa-times-circle {
        color: #BE342B; }
    .ptg-body .ptg-who h2 {
      text-align: center;
      margin: 10px 0 30px; }
    .ptg-body .ptg-who .who-group {
      text-align: left;
      padding: 5px 20px;
      background: #2A4E68;
      color: white;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 300;
      display: inline-block;
      margin: 20px 0 10px; }
      .ptg-body .ptg-who .who-group.first {
        margin-top: 0; }
    .ptg-body .ptg-who p {
      text-align: left; }

@media (max-width: 767px) {
  .ptg-body .ptg-who .col-sm-6 {
    padding: 0 15px; }
  .ptg-body i.fa-times-circle {
    margin-top: 30px; } }

img.ptg-release-timeline {
  max-width: 100%; }
.ptg-hotel-wrapper {
  background: #30739C;
  padding: 40px 0;
  text-align: center;
}
.ptg-hotel-wrapper i.fa-hotel {
  color: white;
  margin-bottom: 20px;
}
.ptg-hotel-wrapper h2 {
  color: white;
  margin-top: 0;
  text-align: center;
}
.ptg-hotel-wrapper p {
  color: white;
  text-align: center;
}
.ptg-hotel-wrapper a.hotel-btn, a.hotel-btn:visited {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background: transparent;
  display: inline-block;
  margin-top: 15px;
}
.ptg-cta {
  background: #248EC7;
  padding: 40px 0px 70px;
  color: white;
  text-align: center; 
  margin-bottom: -50px;
  margin-top: 50px;
  }
  .ptg-cta h2 {
    text-align: center;
    color: white; }
  .ptg-cta a {
    color: white;
    text-decoration: underline; }
  .ptg-cta p {
    color: white; }
  .ptg-cta form.ptg-form {
    margin-top: 25px;
    vertical-align: middle; }
  .e2ma_signup_form_label, .e2ma_signup_form_required_footnote, #e2ma_signup_reset_button {
    display: none;
  }
  .e2ma_signup_form_button_row, .e2ma_signup_form_row, .e2ma_signup_form_element {
    display: inline-block;
  }
  .ptg-cta input.ptg-input, .e2ma_signup_form_element input {
    padding: 10px;
    border-radius: 4px;
    min-width: 350px;
    border: 1px solid white;
    margin-right: 10px;
    text-transform: uppercase;
    color: #30739C; }
    @media (max-width: 767px) {
      .ptg-cta input.ptg-input, .e2ma_signup_form_element input {
        min-width: 250px;
      }
    }
    .ptg-cta input.ptg-input:focus, .e2ma_signup_form_element:focus input {
      outline: 0; }
  .ptg-cta button.inline-btn, .e2ma_signup_form_button{
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    text-transform: uppercase; }
    .ptg-cta button.inline-btn:hover, .ptg-cta button.inline-btn:focus, .e2ma_signup_form_button:hover, .e2ma_signup_form_button:focus {
      background: #30739C;
      border-color: #30739C;
      color: white;
      outline: 0; }
      
  #thankyou {
    padding-top: 10px;
    border-top: 1px solid white;
    margin-top: 25px;
  }
  #thankyou h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3em;
  }

