.intro-header.science {
    background: url(/images/science/science-hero-bkgd.jpg) no-repeat right center;
    background-size: cover;
    position: relative; }
.intro-header.science a.photo-credit {
    bottom: 70px; }

@media (max-width: 767px) {
    .intro-header.science .intro-message {
        padding-top: 30px;
        padding-bottom: 0; }
    .intro-header.science a.photo-credit {
        bottom: 68px; }
    .intro-header.science .download-container {
        margin-bottom: 50px;
        width: 95%; } }

.science-intro {
    text-align: center;
    padding: 60px 0; }

.science-icons {
    background-color: #edf2f7;
    padding: 30px 0 60px;
    color: #2A4E68;
    text-align: center; }
.science-icons p {
    color: #2A4E68;
    margin: auto;
    font-size: 1em; }
.science-icons h3 {
    font-size: 1.65em;
    margin: 0 auto 0px;
    min-height: 55px;
    line-height: 1.2em; }
.science-icons i {
    color: #30739C;
    margin-bottom: 20px; }

@media (max-width: 767px) {
    .science-icons .single {
        margin-bottom: 50px; } }

.featured-wrapper.science {
    padding: 60px 0; }
.featured-wrapper.science .video-wrapper .play-button {
    text-align: center;
    top: 28%; }
.featured-wrapper.science .video-wrapper .play-button img {
    max-width: 80px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px; }
.featured-wrapper.science .video-wrapper:hover .play-button {
    display: block; }
.featured-wrapper.science .video-wrapper:hover .play-button img {
    background: #1d99de; }

.science-download-list {
    text-align: center; }
.science-download-list ul li {
    list-style: none;
    margin: 20px 0;
    font-weight: 600;
    color: #2A4E68; }
.science-download-list ul li i {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
    color: #6FCE1B;
    vertical-align: middle; }

.science-participate-section {
    background: #edf2f7;
    padding: 60px 0; }
.science-participate-section h2 {
    margin-top: 0;
    text-align: center; }

.security-highlights {
    padding: 60px 0 30px; }
.security-highlights .security-highlights-lists ul {
    margin: 0; }
.security-highlights .security-highlights-lists ul li {
    margin-bottom: 10px; }

.security-action-wrapper {
    text-align: center;
    padding: 50px 0 90px;
    background: white;
    border-top: 1px solid #edf2f7; }
.security-action-wrapper p {
    text-align: center;
    color: #2A4E68; }
.security-action-wrapper a.security-action-btn {
    display: block;
    max-width: 300px;
    background: #DA422F;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 30px auto 0; }
.security-action-wrapper a.security-action-btn i {
    margin-right: 5px;
    font-size: 1.2em; }
.security-action-wrapper a.security-action-btn:hover {
    background: #A51B1B;
    text-decoration: none; }
.sub-text {
    text-align: center;
    margin-bottom: 30px;
}