/*Swag Store*/
.swag-store-hero {
  background: url("/themes/openstack/images/swag-store/hero.png") no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 90px 0;
  margin-bottom: 60px; }
  .swag-store-hero h1 {
    color: white;
    font-weight: 400;
    margin: 0; }
  .swag-store-hero h2 {
    color: white;
    text-align: center;
    font-style: italic; }

.swag-store-items-wrapper {
  margin: 40px 0 20px;
  padding-top: 20px;
  border-top: 1px solid #D4DCE5; }

.swag-item {
  margin-top: 30px;
  margin-bottom: 30px; }

.swag-title {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px; }

.swag-description-wrapper {
  height: 3.75em;
  /* Fallback for non-webkit */
  overflow: hidden;
  margin-bottom: 10px; }

.swag-description {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 100%;
  height: 3.75em;
  /* Fallback for non-webkit */
  font-size: 1em;
  line-height: 1.25;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

a.swag-image-wrapper {
  display: block;
  width: 100%;
  overflow: hidden;
  border: 1px solid #D4DCE5;
  vertical-align: middle; }
  a.swag-image-wrapper:hover, a.swag-image-wrapper:focus {
    border-color: #30739C; }

img.swag-photo {
  width: 100%;
  height: auto; }

.swag-price {
  margin: 10px 0;
  display: inline-block; }

.swag-action {
  float: right;
  margin-top: 10px; }
  .swag-action a {
    background: #DA422F;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block; }
    .swag-action a i {
      margin-left: 5px; }
    .swag-action a:hover, .swag-action a:focus {
      background: #A51B1B;
      text-decoration: none; }
/*End Swag Store*/