/*NFV Landing*/
.foundation-report-title {
  font-size: 1.1em;
  font-weight: 300;
  margin: 0 0 15px;
  position: relative;
  display: inline-block; }
  .foundation-report-title:before, .foundation-report-title:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid white;
    top: 13px;
    width: 80px; }
  .foundation-report-title:before {
    right: 100%;
    margin-right: 10px; }
  .foundation-report-title:after {
    left: 100%;
    margin-left: 10px; }

.intro-header.nfv {
  background: url('/themes/openstack/images/nfv/nfv-hero.jpg') no-repeat center center;
  background-size: cover;
  padding: 60px 0; }
  .intro-header.nfv .overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px; }
  .intro-header.nfv .intro-message {
    text-align: center;
    padding: 0; }
    .intro-header.nfv .intro-message h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2.5em; }
    .intro-header.nfv .intro-message p {
      text-align: center;
      font-size: 1.3em;
      font-weight: 300; }

.appdev-download-row.nfv p {
  font-weight: 400; }

@media (max-width: 767px) {
  .testimonial-row.appdev.nfv blockquote:before, .testimonial-row.appdev.nfv blockquote:after {
    top: -40px; } }

i.nfv-download-icon {
  color: #2A4E68;
  text-align: center;
  margin-top: 10px; }

a.testimonial-link {
  margin: 30px 0 10px;
  display: block;
  font-size: 0.9em;
  color: #30739C; }

.why-ues-wrapper.nfv {
  padding: 90px 0 0px; }
  .why-ues-wrapper.nfv h3 {
    margin-bottom: 10px;
    line-height: 1;
    min-height: 0; }
  .why-ues-wrapper.nfv p {
    margin-bottom: 80px; }

.fixed-image.nfv {
  background-image: url('/themes/openstack/images/nfv/fixed-bkgd.jpg'); }

.nfv-action-wrapper {
  text-align: center;
  padding: 60px 0 60px;
  background: #edf2f7; }
  .nfv-action-wrapper h1 {
    margin: 0 0 25px; }
  .nfv-action-wrapper p {
    text-align: center;
    color: #2A4E68; }
  .nfv-action-wrapper a.appdev-marketplace-btn {
    display: block;
    max-width: 350px;
    background: #DA422F;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-transform: none;
    margin: 30px auto 0; }
    .nfv-action-wrapper a.appdev-marketplace-btn i {
      margin-left: 5px;
      font-size: 1.2em; }
    .nfv-action-wrapper a.appdev-marketplace-btn:hover {
      background: #A51B1B;
      text-decoration: none; }

.featured-wrapper.nfv .video-wrapper.small {
  margin-bottom: 0; }
  .featured-wrapper.nfv .video-wrapper.small:hover .play-button {
    display: block; }
.featured-wrapper.nfv .video-title {
  font-size: 0.9em;
  width: 100%; }

.summit-promo {
  width: 100%; }
  .summit-promo.nfv {
    background: url('/themes/openstack/images/nfv/nfv-summit-bkgd.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 0 80px; 
    margin-bottom: -50px;
  }
    .summit-promo.nfv h3 {
      color: white; }
    .summit-promo.nfv p {
      color: white; }
      .summit-promo.nfv p a {
        color: white;
        text-decoration: underline; }
    .summit-promo.nfv .nfv-summit-right {
      margin-top: 10px;
      text-align: center; }
      .summit-promo.nfv .nfv-summit-right img.nfv-summit-logo {
        max-width: 130px;
        margin-bottom: 5px; }
      .summit-promo.nfv .nfv-summit-right .nfv-summit-dates {
        color: white;
        font-size: 1.1em;
        margin-bottom: 20px;
        font-style: italic; }
        .summit-promo.nfv .nfv-summit-right .nfv-summit-dates .city {
          font-size: 2em;
          text-transform: uppercase;
          display: block;
          font-weight: 700; }
      .summit-promo.nfv .nfv-summit-right .nfv-summit-register-btn a {
        display: block;
        text-align: center;
        max-width: 80%;
        margin: 10px auto;
        background: #29abe2;
        color: white;
        padding: 10px 20px;
        border-radius: 4px; }
        .summit-promo.nfv .nfv-summit-right .nfv-summit-register-btn a i {
          margin-left: 5px; }
        .summit-promo.nfv .nfv-summit-right .nfv-summit-register-btn a:hover {
          background: #30739C;
          text-decoration: none; }

@media (max-width: 767px) {
  .summit-promo.nfv h3 {
    text-align: center; }
  .summit-promo.nfv p {
    text-align: center; }
  .summit-promo.nfv .nfv-summit-right {
    margin-top: 30px; } }

/*Five column layout*/
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

/*End Five column layout*/
/*End NFV Landing*/
