.event-type-link {
    margin-right: 5px;
    font-size: 13px;
    white-space: nowrap;
}

.event-type-links {
    float: left;
}

.event-type-selected {
    font-weight: bold;
}

.events-loading {
    background: url("../../framework/images/network-save.gif") no-repeat;
    padding: 0 0 0 20px;
    color: gray;
}

.event-type-links {

}
