$screen-xs-min: 600px;

.event-type-link {
    margin-right: 5px;
    font-size: 13px;
    white-space: nowrap;
}

.event-type-links {
    float: left;
}

.event-type-selected {
    font-weight: bold;
}

.events-loading {
    background: url("../../framework/images/network-save.gif") no-repeat;
    padding: 0 0 0 20px;
    color: gray;
}

.event-type-links {

}

.banner{
    min-height: 100px;
    h2, p {
        text-align: center;
        @media (max-width: 768px) {
            text-align: left
        }
    }

    .banner-logo-mobile {

        position: absolute;

        /* Extra small devices (phones, less than 768px) */
        /* No media query since this is the default in Bootstrap */

        /* XS Small devices (Phones, 600px and up) */
        @media (min-width: 320px) and (max-width: $screen-xs-min) {
            top: 0;
            left: 60%;
            display: block;
            width: 50%;
            height: 50%;
        }
    }
}
