<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>OpenStack Foundation Website - {{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>OpenStack Foundation Website</h1>
        <p></p>

        <p class="view"><a href="https://github.com/OpenStackweb/openstack-org">View the Project on GitHub <small>/OpenStackweb/openstack-org</small></a></p>

        <ul>
          <li><a href="https://github.com/OpenStackweb/openstack-org/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/OpenStackweb/openstack-org/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/OpenStackweb/openstack-org">View On <strong>GitHub</strong></a></li>
        </ul>

	<p><a href="http://openstackweb.github.io/openstack-org/index">About</a></p>
	<p><a href="http://openstackweb.github.io/openstack-org/installation">Installation</a></p>
		<p><a href="http://openstackweb.github.io/openstack-org/contribute">Contributions</a></p>
		<p><a href="http://openstackweb.github.io/openstack-org/support">Support</a></p>

      </header>
		
      <section>
        <h3>{{ page.title }}</h3>

        {{ content }}
      </section>      
      <footer>
        <p>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
        </p>
      </footer>

    </div>
    
  </body>
</html>
